<md-dialog class="cs-edit-dialog add-filter-item" ng-cloak style="width: 400px;">
  <md-toolbar>
    <div class="md-toolbar-tools cam-title">
      <h2 class="md-title">{{ctrl.title}}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content" style="padding-top: 15px;">
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>State</label>
        <md-select ng-model="oData.operator">
          <md-option ng-repeat="operator in operators" value="{{operator.value}}">
            {{operator.display}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Value</label>
        <input ng-model="oData.value"/>
      </md-input-container>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" ng-click="ctrl.apply()">{{'apply' | translate}}</md-button>
  </md-dialog-actions>
</md-dialog>
<style>
  .add-filter-item i {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    text-align: right;
  }
</style>
