<md-dialog class="cs-edit-dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{ctrl.title | translate}} - {{ctrl.titleType | translate}}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">

        <form name="editForm" ng-submit="ctrl.save()" class="form-horizontal">
            <div class="form-group traffic-source">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <md-button class="md-primary traffic-source-templates" ng-click="trustedAffiliateNetworks($event)">
                        {{'Trusted affiliate networks' | translate}}
                    </md-button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'affiliateNetworkName' | translate}}<span class="star-icon">*</span>: </label>
                <div class="col-sm-4">
                    <input type="text" name="name" class="form-control" ng-model="item.name" required>
                    <span style="color:red" ng-show="editForm.name.$dirty && editForm.name.$invalid">
                    <span ng-show="editForm.name.$error.required">Name is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-show="item.postbackUrl">
                <label class="col-sm-3 control-label">Postback URL：</label>
                <div class="col-sm-5">
                    <input type="url" name="url" class="form-control campaign-url" ng-model="item.postbackUrl" ng-readonly="true">
                </div>
                <div class="col-sm-4">
                    <md-button clipboard class="md-raised copied-btn" text="item.postbackurl" ng-click="itemUrlClick()">
                        <i class="material-icons">content_copy</i>
                        {{btnWord}}
                        <!-- Clipboard -->
                    </md-button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-4">
                    <input type="checkbox" ng-model="item.appendClickId" ng-true-value="1" ng-false-value="0">Append click ID to offer URLs
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-4">
                    <input type="checkbox" ng-model="item.duplicatedPostback" ng-true-value="1" ng-false-value="0"> Accept duplicate postbacks
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-4">
                    <input type="checkbox" ng-model="ipWhiteCheck"> Only accept postbacks from white-listed IPs
                    <div class="network-textarea" ng-show="ipWhiteCheck">
                        <i class="note">Please enter one IP per line.<span class="star-icon">*</span></i>
                        <textarea ng-model="ipWhiteList" name="ipWhiteList" ng-blur="checkIP()" ng-required="ipWhiteCheck"></textarea>
                        <span style="color:red" ng-show="editForm.ipWhiteList.$dirty && editForm.ipWhiteList.$invalid">
                        <span ng-show="editForm.ipWhiteList.$error.valid">IP address is valid.</span>
                        <span ng-show="editForm.ipWhiteList.$error.required">IP address is not be empty.</span>
                        </span>
                    </div>
                </div>
            </div>
        </form>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" ng-click="ctrl.save()" ng-disabled="editForm.$invalid">{{'save' | translate}}
        </md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>
