<div class="cs-page-subheader">
    <div class="cs-page-crumb">
        <span>{{app.subtitle | translate}}</span>
    </div>
</div>

<div flex layout="column" class="cs-page-content">

    <div class="cs-action-bar" layout="row">
        <md-button class="md-raised md-primary cs-compact cs-add-button" ng-click="editItem($event)">{{'add' |
            translate}}
        </md-button>
        <div class="cs-action-group" flex layout="row">
            <div class="cs-subform-control">
                <input type="text" class="cs-filter-input" ng-model="query.q" placeholder="Name">
            </div>
            <div class="cs-subform-search">
                <a>
                    <md-icon class="material-icons md-24" ng-click="search()">search</md-icon>
                </a>
            </div>
        </div>
        <div class="selectAll">
            <md-select class="cs-subform-select" ng-model="item.Flow" required>
                <md-option value="1">Active</md-option>
                <md-option value="2">Archived</md-option>
                <md-option value="3">With traffic</md-option>
                <md-option value="4" selected>All</md-option>
            </md-select>
        </div>
        <div class="view_column" ng-click="viewColumnClick()">
            <i class="material-icons view-column-icon">view_column</i>
            <i class="material-icons arrow-down-icon">keyboard_arrow_down</i>
        </div>  
        <div class="view_column_con" ng-show="viewColumnIsShow">
            <ul class="view_column_list">
                <li ng-repeat="item in data"><input type="checkbox">{{item.name}}</li>
            </ul> 
            <i class="material-icons btn-icon">done</i>
            <md-button class="md-raised md-primary cs-compact cs-add-button">{{'apply changes' | translate}}
            </md-button>
            <i class="material-icons btn-icon">close</i>
            <md-button class="md-raised md-primary cs-compact cs-add-button close-btn" ng-click="viewCloumnClose()">{{'close' | translate}}
            </md-button>
        </div>
    </div>

    <md-table-container>
        <table md-table multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order">
            <tr md-row>
                <th md-column md-order-by="id">{{'ID' | translate}}</th>
                <th md-column md-order-by="name">{{'Name' | translate}}</th>
                <th md-column md-order-by="url">{{'Url' | translate}}</th>
                <th md-column class="cs-cell-action">{{'operation' | translate}}</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="item in items.rows" ng-init="fab[$index] = {isOpen: false, tooltipVisible:false}">
                <td md-cell>{{item.id}}</td>
                <td md-cell>{{item.name}}</td>
                <td md-cell>{{item.url}}</td>
                <td md-cell class="cs-cell-action">
                    <md-fab-speed-dial md-direction="left" md-open="fab[$index].isOpen"
                                       class="md-scale md-mini cs-fab-action"
                                       ng-mouseenter="toggleFab($index, true)" ng-mouseleave="toggleFab($index, false)">
                        <md-fab-trigger>
                            <md-button aria-label="operation" class="md-primary md-icon-button md-mini">
                                <md-icon aria-label="menu">menu</md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button aria-label="Edit" class="md-fab md-raised md-mini"
                                       ng-click="editItem($event, item)">
                                <md-icon aria-label="Edit">edit</md-icon>
                            </md-button>
                            <md-button aria-label="Delete" class="md-fab md-raised md-mini"
                                       ng-click="deleteItem($event, item)">
                                <md-icon aria-label="Delete">delete</md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page"
                         md-total="{{items.count}}" md-on-paginate="getList" md-page-select></md-table-pagination>

</div>
