<header class="navbar">
    <div class="md-toolbar-tools">
        <!-- <md-button class="md-icon-button" hide-gt-sm ng-click="toggleLeftNav()" aria-label="Toggle Left Nav">
            <md-icon>menu</md-icon>
        </md-button> -->
        <h1>{{app.name}}</h1>

        <div flex></div>
        <div class="home">
          <a ui-sref="app.report.campaign"><i class="material-icons">home</i></a>
        </div>
        <div class="setting">
          <a ui-sref="setApp.profile"><i class="material-icons">settings</i></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <!-- dropdown for user -->
            <li class="dropdown" uib-dropdown>
                <a href class="dropdown-toggle clear" uib-dropdown-toggle>
                    <i class="material-icons md-mini">&#xE87C;</i>
                    <span class="hidden-sm hidden-md text-md">{{currentUser.firstname}}</span>
                    <i class="material-icons md-mini">&#xE313;</i>
                </a>
                <ul class="dropdown-menu animated fadeInRight w" uib-dropdown-menu>
                    <li>
                        <a href ng-click="logout()">{{'logout' | translate}}</a>
                    </li>
                </ul>
            </li>
            <!-- / dropdown -->
        </ul>
    </div>
</header>

<!-- <md-sidenav md-is-locked-open="screenGtSmall" md-component-id="left"
            class="md-sidenav-left md-whiteframe-z2 cs-left-aside"> -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 cs-left-aside">
    <nav ui-nav class="navi clearfix">
        <ul class="nav">
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard" md-ink-ripple>
                    <md-icon class="material-icons md-dark md-18 nav-icon">view_list</md-icon>
                    <span>{{'dashBoard' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.report.campaign" md-ink-ripple>
                    <md-icon class="material-icons md-dark md-18 nav-icon">view_list</md-icon>
                    <span>{{'campaign' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.report.flow" md-ink-ripple>
                    <md-icon class="material-icons md-dark md-18 nav-icon">view_list</md-icon>
                    <span>{{'flow' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.report.lander" md-ink-ripple>
                    <md-icon class="material-icons md-dark md-18 nav-icon">view_list</md-icon>
                    <span>{{'lander' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.report.offer" md-ink-ripple>
                    <md-icon class="material-icons md-dark md-18 nav-icon">view_list</md-icon>
                    <span>{{'offer' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.report.traffic" md-ink-ripple>
                    <md-icon class="material-icons md-dark md-18 nav-icon">view_list</md-icon>
                    <span>{{'traffic' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.report.affiliate" md-ink-ripple>
                    <md-icon class="material-icons md-dark md-18 nav-icon">view_list</md-icon>
                    <span>{{'affiliate' | translate}}</span>
                </a>
            </li>
        </ul>
    </nav>
</md-sidenav>

<!-- <md-sidenav class="md-sidenav-left md-whiteframe-z2 cs-left-aside" ng-show="settingNav">
    <nav ui-nav class="navi clearfix">
        <ul class="nav">
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard" md-ink-ripple>
                    <md-icon class="material-icons md-dark md-18 nav-icon">view_list</md-icon>
                    <span>{{'profile' | translate}}</span>
                </a>
            </li>
        </ul>
    </nav>
</md-sidenav> -->

<md-content flex layout="column" class="main-content cs-main-content">
    <div ui-butterbar></div>
    <div ui-view flex layout="column"></div>
</md-content>
