<header class="navbar navbar-box">
    <div class="md-toolbar-tools">
        <!-- <md-button class="md-icon-button" hide-gt-sm ng-click="toggleLeftNav()" aria-label="Toggle Left Nav">
            <md-icon>menu</md-icon>
        </md-button> -->
        <h1><a class="home-link" ui-sref="app.report.campaign"><img src="../assets/img/logo-three.png"></a></h1>
        <div flex></div>
        <div class="changeplan hide">
            <a href="#">Choose Plan<i class="icon-choose fonts28"></i></a>
        </div>
        <div class="profile-timezone">
          <md-select class="cs-subform-select" ng-model="profileTimezone" required ng-change="changeTimezone(profileTimezone)">
            <md-option ng-repeat="tz in timezones" value="{{tz.id}},{{tz.utcShift}}">{{tz.detail}}</md-option>
          </md-select>
        </div>
          <!-- <div class="profile-timezone">{{profile.timezoneDeatil}}</div> -->
        <div class="home">
          <a class="home-link" ui-sref="app.report.campaign"><i class="icon-home fonts17"></i></a>
        </div>
        <div class="setting">
          <a class="setting-link" ui-sref="setApp.profile"><i class="icon-s-03 fonts15"></i></a>
        </div>
        <!--<div class="coupon-btn" has-permission="setting.subscriptions.show" operation="show">
            <a href="javascript:;" ng-click="goCoupon()">
            <div class="coupon-btn-col">
            <span class="small-font">COUPON CODE</span><i class="coupon-icon"></i>
            </div>
        </a></div>-->

        <ul class="nav navbar-nav navbar-right">
            <!-- dropdown for user -->
            <li class="dropdown" uib-dropdown>
                <a href class="dropdown-toggle clear" uib-dropdown-toggle>
                    <i class="icon-question-sign">
                    </i>
                    <span class="hidden-sm hidden-md text-md">Support</span>
                    <i class="material-icons md-mini">&#xE313;</i>
                </a>
                <ul class="dropdown-menu animated fadeInRight w" uib-dropdown-menu>
                    <li class="support-li">
                        <a href="http://discourse.newbidder.com/c/Frequently-Asked-QuestionAnswer" target="_blank"><b>Help Center</b><i class="icon-question-sign"></i></a>
                    </li>
                    <li class="support-li">
                        <a clipboard ng-click="copyCon()" text="emailCon"><b>Email</b>：<span ng-model="emailCon">support@newbidder.com</span></a>
                    </li>
                    <li class="support-li">
                        <a clipboard ng-click="copyCon()" text="skypeCon"><b>Skype</b>：<span ng-model="skypeCon">support@newbidder.com</span></a>
                    </li>

                </ul>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href class="dropdown-toggle clear" uib-dropdown-toggle>
                    <i class="icon-user fonts16">
                    </i>
                    <span class="hidden-sm hidden-md text-md">{{currentUser.firstname}}</span>
                    <i class="material-icons md-mini">&#xE313;</i>
                </a>
                <ul class="dropdown-menu animated fadeInRight w" uib-dropdown-menu>
                    <li ng-repeat="group in groups">
                        <a ng-click="changeGroup(group)" ng-show="currentGroup.groupId!=group.groupId">{{group.email}}</a>
                    </li>
                    <li>
                        <a href ng-click="logout()">{{'logout' | translate}}</a>
                    </li>
                </ul>
            </li>
            <!-- / dropdown -->
        </ul>
    </div>
</header>

<!-- <md-sidenav md-is-locked-open="screenGtSmall" md-component-id="left"
            class="md-sidenav-left md-whiteframe-z2 cs-left-aside"> -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 cs-left-aside">
    <nav ui-nav class="navi nav-col clearfix">
        <ul class="nav">
            <li ui-sref-active="active" has-permission="report.dashboard.show" operation="show">
                <a ui-sref="app.dashboard" md-ink-ripple>
                    <i class="icon-meter fonts17"></i>
                    <span>{{'dashBoard' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="report.campaign.show" operation="show">
                <a ui-sref="app.report.campaign" md-ink-ripple>
                    <i class="icon-shuju fonts16 mtop"></i>
                    <span>{{'campaign' | translate}}</span>
                </a>
            </li>
            <!-- <li ng-class="{active: $state.is('app.report.flow') || $state.is('app.flow')}" has-permission="report.flow.show" operation="show">
                <a ui-sref="app.report.flow" md-ink-ripple>
                    <i class="icon-yw-01 fonts17"></i>
                    <span>{{'flow' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="report.lander.show" operation="show">
                <a ui-sref="app.report.lander" md-ink-ripple>
                    <i class="icon-shm fonts15 mtop"></i>
                    <span>{{'lander' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="report.offer.show" operation="show">
                <a ui-sref="app.report.offer" md-ink-ripple>
                    <i class="icon-tasks fonts15 mtop2"></i>
                    <span>{{'offer' | translate}}</span>
                </a>
            </li> -->
            <li ui-sref-active="active">
              <md-menu-bar style="padding: 0;">
                  <md-menu>
                    <button ng-click="$mdMenu.open()" class="type-title">
                      <span class="tools-menu clearfix">
                        <i class="icon-yw-01 fonts17"></i>
                        <span class="tools-word">Flows</span><i class="material-icons md-mini"></i>
                      </span>
                    </button>
                    <md-menu-content width="3" class="flows-menu-box">
                      <md-menu-item>
                        <md-button ui-sref="app.report.flow" style="padding-top:0;"><i class="icon-yw-01 fonts15"></i>Flow</md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ui-sref="app.report.lander" style="padding-top:0;"><i class="icon-shm fonts15"></i>Lander</md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ui-sref="app.report.offer" style="padding-top:0;"><i class="icon-tasks fonts15"></i>Offer</md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
              </md-menu-bar>
            </li>
            <li ui-sref-active="active" has-permission="report.trafficSource.show" operation="show">
                <a ui-sref="app.report.traffic" md-ink-ripple>
                    <i class="icon-zh fonts17"></i>
                    <span>{{'traffic' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="report.affiliateNetwork.show" operation="show">
                <a ui-sref="app.report.affiliate" md-ink-ripple>
                    <i class="icon-dwq fonts17"></i>
                    <span>{{'affiliate' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="report.conversions.show" operation="show">
                <a ui-sref="app.report.conversion" md-ink-ripple>
                    <i class="icon-pull fonts18"></i>
                    <span>{{'Conversions' | translate}}</span>
                </a>
            </li>
            <li ui-sref-active="active" class="nav-tips" has-permission="report.tsReport.show" operation="show" style="display: none;">
                <a ui-sref="app.report.tsreport" md-ink-ripple>
                    <em class="rd"></em>
                    <span>{{'TS Report' | translate}}
                     <i class="icon-question-sign"><span class="nav-tips-font">Optimize and manage 3rd party traffic source campaign</span></i>
                    </span>
                </a>
            </li>
            <li ui-sref-active="active" class="nav-tips" has-permission="report.networkoffer.show" operation="show">
                <a ui-sref="app.report.tsOfferReport" md-ink-ripple>
                    <em class="rd"></em>
                    <span>{{'Network Offers' | translate}}
                     <i class="icon-question-sign">
                       <span class="nav-tips-font">Sychronize offer list from 3rd party affiliate networks</span>
                      </i>
                    </span>
                </a>
            </li>
            <li ui-sref-active="active">
              <md-menu-bar style="padding: 0;">
                  <md-menu>
                    <button ng-click="$mdMenu.open()" class="type-title">
                      <span class="tools-menu clearfix">
                        <i class="icon-cogs"></i>
                        <span class="tools-word">Tools</span><i class="material-icons md-mini"></i>
                      </span>
                    </button>
                    <md-menu-content width="3" class="tools-menu-box">
                      <md-menu-item>
                        <md-button ui-sref="app.suddenChange" style="padding-top:0;"><i class="icon-bolt"></i> Sudden Change</md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ui-sref="app.fraudFilter" style="padding-top:0;"><i class="icon-filter"></i>Fraud Filter</md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
              </md-menu-bar>
            </li>
        </ul>
    </nav>
</md-sidenav>

<md-content flex layout="column" class="main-content cs-main-content">
    <div ui-butterbar></div>
    <div ui-view flex layout="column"></div>
</md-content>
