<md-dialog class="cs-edit-dialog bot-blacklist-dialog" ng-cloak>
  <md-toolbar>
    <div>
      <h1 class="setting-title ">
        New Bot Rule
        <p>To create a new bot rule, define a name and add at least 1 IP / IP range or useragent value within the respective fields.</p>
        <p>The maximum amount of values* that can be added within a rule is 10. You can still add 10 value(s).
        * 1 value equates to 1 field that is populated with an IP / IP range or useragent string.</p>
      </h1>
    </div>
  </md-toolbar>

    <md-dialog-content class="md-dialog-content botblack-height">

        <form name="editForm" class="form-horizontal bot-blacklist-editForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="item.name" required>
                <span style="color:red" ng-show="editForm.name.$touched && editForm.name.$invalid">
                        <span ng-show="editForm.name.$error.required">Name is required.</span>
                        </span>
            </div>
            <div class="bot-blacklist-add-content">
              <div class="form-group">
                  <label>IP or IP range</label>
                  <div class="ip-range" ng-repeat="ip in item.ipRules track by $index">
                    <div class="clearfix">
                      <input type="text" name="ipRule{{$index}}" class="form-control"
                        placeholder="IP/IP range(x.x.x.x-x.x.x.x)"
                        ng-model="item.ipRules[$index]"
                        ng-blur="blurInput()"
                      >
                      <i class="material-icons" ng-click="deleteIP($index)" ng-show="$index != 0">delete</i>
                    </div>
                    <span class="text-danger" ng-show="editForm.ipRule{{$index}}.$invalid">
                      <span ng-show="editForm.ipRule{{$index}}.$error.valid">IP address is valid.</span>
                      <span ng-show="editForm.ipRule{{$index}}.$error.required">IP address is not be empty.</span>
                    </span>
                  </div>
              </div>
              <div class="clearfix">
                <div class="add-next-content" ng-click="addIP()">
                  <i class="material-icons add-next">add_circle</i>
                  Add next
                </div>
              </div>
              <div class="form-group">
                  <label>Useragent</label>
                  <div class="ip-range" ng-repeat="agent in item.userAgentRules track by $index">
                    <div class="clearfix">
                      <input type="text" class="form-control" name="userAgentRule{{$index}}"
                        placeholder="Useragent"
                        ng-model="item.userAgentRules[$index]"
                        ng-blur="blurInput()"
                      >
                      <i class="material-icons" ng-click="deleteAgent($index)" ng-show="$index != 0">delete</i>
                    </div>
                    <span class="text-danger" ng-show="editForm.userAgentRule{{$index}}.$invalid">
                        <span ng-show="editForm.userAgentRule{{$index}}.$error.required">Useragent is not be empty.</span>
                    </span>
                  </div>
              </div>
              <div class="clearfix">
                <div class="add-next-content" ng-click="addAgent()">
                  <i class="material-icons add-next">add_circle</i>
                  Add next
                </div>
              </div>
            </div>
        </form>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" ng-click="ctrl.save()" ng-disabled="editForm.$invalid || blackListStatus">{{'save' | translate}}
        </md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>
