<md-dialog class="cs-edit-dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{ctrl.title | translate}} - {{ctrl.titleType | translate}}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content edit-page">

        <form name="editForm" ng-submit="ctrl.save()" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name<span class="star-icon">*</span>：</label>
                <div class="col-sm-5">
                    <input type="text" name="name" class="form-control" ng-model="item.name" required>
                    <span style="color:red" ng-show="editForm.name.$dirty && editForm.name.$invalid">
                    <span ng-show="editForm.name.$error.required">Name is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">CampaignlUrl：</label>
                <div class="col-sm-5">
                    <input type="url" name="url" class="form-control campaign-url" ng-model="item.url" ng-show="item.url" ng-disabled="true">
                    <label ng-show="!item.url">ID will be available after saving the campaign.</label>
                </div>
                <div class="col-sm-4">
                    <md-button clipboard class="md-raised copied-btn" ng-show="item.url" text="item.url" ng-click="itemUrlClick()">
                        <i class="material-icons">content_copy</i>
                        {{btnWord1}}
                        <!-- Clipboard -->
                    </md-button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">ImpressionPixelUrl：</label>
                <div class="col-sm-5">
                    <input type="url" name="impPixelUrl" class="form-control" ng-model="item.impPixelUrl" ng-show="item.impPixelUrl" ng-disabled="true">
                    <label ng-show="!item.impPixelUrl">ID will be available after saving the campaign.</label>
                </div>
                <div class="col-sm-4">
                    <md-button clipboard class="md-raised copied-btn" ng-show="item.impPixelUrl" text="item.impPixelUrl" ng-click="impPixelUrlClick()">
                        <i class="material-icons">content_copy</i>
                        {{btnWord2}}
                        <!-- Clipboard -->
                    </md-button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">TrafficSource<span class="star-icon">*</span>: </label>
                <div class="col-sm-5">
                    <md-select class="cs-subform-select" name="trafficSource" ng-model="trafficSourceId" required>
                        <md-option value="{{ts.id}}" ng-repeat="ts in trafficSources">{{ts.name}}</md-option>
                        <span style="color:red" ng-show="editForm.trafficSource.$dirty && editForm.trafficSource.$invalid">
                        <span ng-show="editForm.trafficSource.$error.required">TrafficSource is required.</span>
                        </span>
                    </md-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Country<span class="star-icon">*</span>: </label>
                <div class="col-sm-5">
                    <md-select class="cs-subform-select" name="country" ng-model="item.country" required>
                        <md-option value="{{cou.value}}" ng-repeat="cou in countries">{{cou.display}}</md-option>
                    </md-select>
                    <span style="color:red" ng-show="editForm.country.$dirty && editForm.country.$invalid">
                    <span ng-show="editForm.country.$error.required">Country is required.</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Cost Model：</label>
                <div class="col-sm-5 campaign-radio">
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.costModel" value="0">Do not track costs
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.costModel" value="1" ng-click="radioSelect('CPC')">CPC
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.costModel" value="2" ng-click="radioSelect('CPA')">CPA
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.costModel" value="3" ng-click="radioSelect('CPM')">CPM
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.costModel" value="4">Auto
                    </label>
                </div>
            </div>

            <div class="form-group CPC-Con" ng-show="item.costModel==1 || item.costModel==2 || item.costModel==3">
                <label class="col-sm-3 control-label">{{radioTitle}}：</label>
                <div class="col-sm-5">
                    <span class="dollar-icon">$</span>
                    <input type="text" class="form-control dollar-input" ng-model="costModelValue" ng-value="$">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Redirect Model：</label>
                <div class="col-sm-5 campaign-radio">
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.redirectMode" value="0">302
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.redirectMode" value="1">Meta refresh
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.redirectMode" value="2">Double meta refresh
                    </label>
                    </label>
                </div>
            </div>
            <div class="form-group tag-items">
                <label class="col-sm-3 control-label">Tags：</label>
                <div class="col-sm-5 selectize-input form-group">
                    <md-chips
                            ng-model="tags"
                            readonly="ctrl.readonly"
                            md-removable="ctrl.removable"
                            placeholder="Enter a tag"
                            delete-button-label="Remove Tag"
                            delete-hint="Press delete to remove tag"
                            secondary-placeholder="+Tag"
                            md-max-chips="10">
                    </md-chips>
                </div>
            </div>

            <div class="form-group collapsible-tab">
                <div class="collapsible-header" ng-class="{'active':isActive}" ng-click="toggleShow('1')">
                    <div class="line"></div>
                    <div class="label-con">
                        <i class="material-icons">settings</i>
                        <label>Advanced</label>
                        <i class="material-icons arrow-down">keyboard_arrow_down</i>
                    </div>
                </div>
                <div class="collapse-wrapper" ng-show="visible">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Postback URL：</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" ng-model="item.postbackUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pixel redirect URL：</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" ng-model="item.pixelRedirectUrl">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Destination：</label>
                <div class="col-sm-5">
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.targetType" value="1"> Flow
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.targetType" value="0"> URL
                    </label>
                </div>
            </div>
            <div class="flow-action" ng-show="item.targetType==1">
                <div class="form-group flow-select">
                    <label class="col-sm-3 control-label">Flow：</label>
                    <div class="col-sm-5">
                        <md-select class="cs-subform-select" name="flow" ng-model="item.flow.id">
                            <md-option value="{{flow.id}}" ng-repeat="flow in flows">{{flow.name}}</md-option>
                        </md-select>
                    </div>
                </div>

                <div class="form-group flow-actions">
                    <ul>
                        <li class="new-flow">
                            <i class="material-icons">add</i>
                            Create new flow
                        </li>
                        <li class="edit-flow">
                            <i class="material-icons">edit</i>
                            Edit flow
                        </li>
                    </ul>
                </div>
            </div>


            <div class="url-token-con" ng-show="item.targetType==0">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Url：</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="targetUrl" ng-model="item.targetUrl">
                    </div>
                </div>
                <div class="url-tokens-row form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-5">
                        <i>Available URL tokens:</i>
                        <div class="url-tokens">
                            <div class="url-token" ng-repeat="url in urlItem" ng-click="urlTokenClick(url)">
                                <span class="url-token-icon">+</span>
                                <span class="url-token-caption">{{url}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group collapsible-tab">
                <div class="collapsible-header" ng-class="{'active1':isActive1}" ng-click="toggleShow('2')">
                    <div class="line"></div>
                    <div class="label-con">
                        <i class="material-icons">transform</i>
                        <label>Flow preview</label>
                        <i class="material-icons arrow-down">keyboard_arrow_down</i>
                    </div>
                </div>
            </div>

            <div class="form-group flow-preview" ng-show="ztreeShow">
              <div class="col-md-7">
                <div class="cs-flow-rule">
                  <div class="tree-li">
                    <i class="material-icons tree-icon">album</i>
                    <span class="cs-flow-name ng-binding">new flow</span>
                  </div>
                </div>
                <div class="cs-flow-rule">
                  <div class="tree-li cs-rule-default" ng-click="firstTreeClick($event)">
                    <span>
                      <!-- <i class="material-icons md-mini cs-arrow-right  flow-arrow-down">keyboard_arrow_right</i> -->
                      <i class="material-icons md-mini cs-arrow-down flow-arrow-down">keyboard_arrow_down</i>
                    </span>
                    <span class="cs-path-name">
                      <i class="material-icons tree-icon">album</i>
                      <span class="cs-rule-name ng-binding">Default paths</span>
                    </span>
                  </div>
                  <ul ng-show="treeLiIsShow">
                    <li class="tree-li ng-scope" ng-click="secondTreeClick($event)">
                      <span>
                        <!-- <i class="material-icons md-mini cs-arrow-right  flow-arrow-down">keyboard_arrow_right</i> -->
                        <i class="material-icons md-mini cs-arrow-down flow-arrow-down">keyboard_arrow_down</i>
                      </span>
                      <i class="material-icons tree-icon">album</i>
                      <span class="cs-path-name clearfix">
                        <span class="path-name ng-binding">Path 1 </span>
                        <span class="weight-num ng-binding">
                          100<em class="ng-binding" aria-hidden="false">(100.00%)</em><em class="ng-hide">(N/A)</em>)
                        </span>
                      </span>
                    </li>
                    <div ng-show="offersIsShow">
                      <li class="tree-li third-tree-li ng-scope" ng-click="thirdTreeClick($event)">
                        <span>
                          <!-- <i class="material-icons md-mini cs-arrow-right  flow-arrow-down">keyboard_arrow_right</i> -->
                          <i class="material-icons md-mini cs-arrow-down flow-arrow-down">keyboard_arrow_down</i>
                        </span>
                        <i class="material-icons tree-icon">album</i>
                        <span class="cs-path-name clearfix">
                          <span class="path-name ng-binding">Offers</span>
                        </span>
                      </li>
                      <div ng-show="offersConIsShow">
                        <li class="tree-li fourth-tree-li ng-scope">
                          <i class="material-icons tree-icon">album</i>
                          <span class="cs-path-name clearfix">
                            <span class="path-name ng-binding">Avazu Private Exchange - Global - TTTT</span>
                            <span class="weight-num ng-binding">
                              100<em class="ng-binding" aria-hidden="false">(100.00%)</em><em class="ng-hide">(N/A)</em>)
                            </span>
                          </span>
                        </li>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>

        </form>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" ng-click="ctrl.save()" ng-disabled="editForm.$invalid">{{'save' | translate}}
        </md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>
