<md-dialog class="cs-edit-dialog" ng-cloak id="campaign_edit_content" style="width: 1200px;max-width: 100%;">
    <md-toolbar>
        <div class="md-toolbar-tools cam-title">
            <h2 class="md-title">{{ctrl.title | translate}} - {{ctrl.titleType | translate}}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content edit-page" style="width: 1200px;">
        <div uib-alert class="alert-danger error-message" ng-show="errMessage" close="errMessage = ''">
            <p ng-repeat="(key, message) in errMessage" style="margin:0;">{{message}}</p>
        </div>
        <form name="editForm" ng-submit="ctrl.save()" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name<span class="star-icon">*</span>：</label>
                <div class="col-sm-7">
                    <input type="text" name="name" class="form-control" ng-model="item.name"
                        ng-change="nameChanged(item.name)"
                        ng-blur="nameRequired()"
                        async-check-name="checkNameParams"
                        async-validator-callback="validateCallback"
                        post-validater-callback="postValidateCallback()"
                    >
                    <span style="color:red" ng-show="editForm.name.$invalid">
                        <span ng-show="editForm.name.$error.asyncCheckName">Name already exists.</span>
                        <span ng-show="editForm.name.$error.nameRequired">Name is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">CampaignlUrl：</label>
                <div class="col-sm-7">
                    <input type="text" name="url" class="form-control campaign-url" ng-model="campaignUrl" ng-show="campaignUrl" ng-readonly="true">
                    <label ng-show="!campaignUrl">ID will be available after saving the campaign.</label>
                </div>
                <div class="col-sm-2">
                    <md-button clipboard class="md-raised copied-btn" ng-show="campaignUrl" text="campaignUrl" ng-click="itemUrlClick()">
                        <i class="material-icons">content_copy</i>
                        {{btnWord1}}
                        <!-- Clipboard -->
                    </md-button>
                </div>
            </div>
            <div class="form-group" ng-show="impTracking==1">
                <label class="col-sm-3 control-label">ImpressionPixelUrl：</label>
                <div class="col-sm-7">
                    <input type="text" name="impPixelUrl" class="form-control" ng-model="impPixelUrl" ng-show="impPixelUrl" ng-readonly="true">
                    <label ng-show="!impPixelUrl">ID will be available after saving the campaign.</label>
                </div>
                <div class="col-sm-2">
                    <md-button clipboard class="md-raised copied-btn" ng-show="impPixelUrl" text="impPixelUrl" ng-click="impPixelUrlClick()">
                        <i class="material-icons">content_copy</i>
                        {{btnWord2}}
                        <!-- Clipboard -->
                    </md-button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">TrafficSource<span class="star-icon">*</span>: </label>
                <div class="col-sm-7 my-select2">
                    <md-select class="cs-subform-select" name="trafficSource" ng-model="trafficSourceId" required ng-change="trafficSourceChanged(trafficSourceId)">
                        <md-option value="{{ts.id}}" ng-repeat="ts in trafficSources">{{ts.name}}</md-option>
                        <span style="color:red" ng-show="editForm.trafficSource.$dirty && editForm.trafficSource.$invalid">
                        <span ng-show="editForm.trafficSource.$error.required">TrafficSource is required.</span>
                        </span>
                    </md-select>
                    <span class="btn btn-primary blue-btn" ng-click="addTrafficSource()"><i class="icon-j-02"></i>Add traffic source</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Country: </label>
                <div class="col-sm-7 my-select">
                    <md-select class="cs-subform-select" name="country" ng-model="item.country" ng-change="countryChanged(item.country)">
                        <md-option value="{{cou.value}}" ng-repeat="cou in countries">{{cou.display}}</md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Cost Model：</label>
                <div class="col-sm-7 campaign-radio">
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.costModel" value="0">Do not track costs
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.costModel" value="1" ng-click="radioSelect('CPC')">CPC
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.costModel" value="2" ng-click="radioSelect('CPA')">CPA
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.costModel" value="3" ng-click="radioSelect('CPM')">CPM
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.costModel" value="4">Auto
                    </label>
                </div>
            </div>

            <div class="form-group CPC-Con" ng-show="item.costModel==1 || item.costModel==2 || item.costModel==3">
                <label class="col-sm-3 control-label">{{radioTitle}}：</label>
                <div class="col-sm-7">
                    <span class="dollar-icon">$</span>
                    <input type="text" class="form-control dollar-input" ng-model="costModelValue" ng-value="$">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Redirect Model：</label>
                <div class="col-sm-7 campaign-radio">
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.redirectMode" value="0">302
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.redirectMode" value="1">Meta refresh
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.redirectMode" value="2">Double meta refresh
                    </label>
                    </label>
                </div>
            </div>
            <div class="form-group tag-items">
                <label class="col-sm-3 control-label">Tags：</label>
                <div class="col-sm-7">
                    <selectize config='tagsFilter.config' options='tagsFilter.options' ng-model="tags"></selectize>
                    <!-- <md-chips
                            ng-model="tags"
                            readonly="ctrl.readonly"
                            md-removable="ctrl.removable"
                            placeholder="Enter a tag"
                            delete-button-label="Remove Tag"
                            delete-hint="Press delete to remove tag"
                            secondary-placeholder="+Tag"
                            md-max-chips="10">
                    </md-chips> -->
                </div>
            </div>

            <div class="form-group collapsible-tab">
                <div class="collapsible-header" ng-class="{'active':isActive}" ng-click="toggleShow('1')">
                    <h3 class="label-con">
                        <span></span>
                        Advanced
                        <i class="icon-chevron-down"></i>
                    </h3>
                </div>
                <div class="collapse-wrapper cam-collapse-wrapper" ng-show="visible">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Postback URL：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="trafficPostbackUrl" ng-readonly="btnOverride1 == 'Override'">
                        </div>
                        <div class="col-sm-2">
                            <md-button clipboard class="md-raised copied-btn" ng-click="postbackurlOverride()">
                                {{btnOverride1}}
                            </md-button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Pixel redirect URL：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="trafficPixelRedirectUrl" ng-readonly="btnOverride2 == 'Override'">
                        </div>
                        <div class="col-sm-2">
                            <md-button clipboard class="md-raised copied-btn blue-btn" ng-click="pixelredirecturlOverride()">
                                {{btnOverride2}}
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Destination：</label>
                <div class="col-sm-7">
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.targetType" value="1"> Flow
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.targetType" value="3"> Path
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="item.targetType" value="0"> URL
                    </label>
                </div>
            </div>


            <div class="flow-action" ng-show="item.targetType==1">
                <div class="form-group flow-select">
                    <label class="col-sm-3 control-label">Flow<span class="star-icon">*</span>：</label>
                    <div class="col-sm-7 my-select3">
                        <md-select class="cs-subform-select" name="flow" ng-model="item.flow.id" ng-required="item.targetType==1">
                            <md-option value="{{flow.id}}" ng-repeat="flow in flows">{{flow.name}}</md-option>
                        </md-select>
                    </div>
                </div>

                <div class="form-group flow-actions">
                    <ul>
                        <li class="new-flow" ng-click="toAddFlow()">
                            <i class="icon-plus"></i>
                            Create new flow
                        </li>
                        <li class="edit-flow green-btn" ng-show="item.flow" ng-click="toEditFlow()">
                            <i class="icon-pencil"></i>
                            Edit flow
                        </li>
                    </ul>
                </div>
            </div>


            <div class="url-token-con" ng-show="item.targetType==0">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Url<span class="star-icon">*</span>：</label>
                    <div class="col-sm-7">
                        <input my-text="" type="text" class="form-control" name="targetUrl" ng-model="item.targetUrl" ng-blur="validateUrl()" ng-required="item.targetType==0">
                        <span style="color:red" ng-show="editForm.targetUrl.$invalid">
                        <span ng-show="editForm.targetUrl.$dirty && editForm.targetUrl.$error.required">Url is required.</span>
                            <span ng-show="editForm.targetUrl.$error.urlformat">URL must be a valid URL.</span>
                        </span>
                    </div>
                </div>
                <div class="url-tokens-row form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-7">
                        <i>Available URL tokens:</i>
                        <div class="url-tokens">
                            <div class="url-token"
                                ng-class="{'selected': item.targetUrl.indexOf(url) > -1}"
                                ng-repeat="url in urlItem"
                                ng-click="urlTokenClick(url)"
                            >
                                <span class="url-token-icon">+</span>
                                <span class="url-token-caption">{{url}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group collapsible-tab" ng-show="flow && item.targetType == 1">
                <div class="collapsible-header" ng-class="{'active1':isActive1}" ng-click="toggleShow('2')">
                    <h3 class="label-con">
                        <span></span>
                        Flow preview
                        <i class="icon-chevron-down"></i>
                    </h3>
                </div>
            </div>

            <div class="form-group flow-preview" ng-show="ztreeShow && flow && item.targetType == 1">
              <div class="col-md-7">
                <div class="cs-flow-rule">
                  <div class="tree-li">
                    <i class="material-icons tree-icon">album</i>
                    <span class="cs-flow-name ng-binding">{{flow.name}}</span>
                  </div>
                </div>
                <div class="cs-flow-rule" ng-repeat="rule in flow.rules" >
                  <div class="tree-li cs-rule-default" ng-click="toggleClick(rule)">
                    <span>
                      <i class="material-icons md-mini cs-arrow-down flow-arrow-down" ng-class="{'rightAction': rule.isShow}">keyboard_arrow_down</i>
                      <i class="material-icons tree-icon">album</i>
                    </span>
                    <span class="cs-path-name">
                      <span class="cs-rule-name ng-binding">{{rule.name}}</span>
                    </span>
                  </div>
                  <ul ng-repeat="path in rule.paths" ng-hide="rule.isShow" class="path-ul">
                    <li class="tree-li ng-scope" ng-click="toggleClick(path)">
                      <span>
                        <i class="material-icons md-mini cs-arrow-down flow-arrow-down" ng-class="{'rightAction': path.isShow}">keyboard_arrow_down</i>
                        <i class="material-icons tree-icon">album</i>
                      </span>
                      <span class="cs-path-name clearfix">
                        <span class="path-name ng-binding">{{path.name}} </span>
                        <span class="weight-num ng-binding">
                          {{path.weight}}<em ng-show="path.relativeWeight>0">({{path.relativeWeight | number:2}}%)</em><em ng-show="path.relativeWeight<=0">(N/A)</em>
                        </span>
                      </span>
                    </li>
                    <div ng-show="path.offers.length > 0">
                        <div  ng-hide="path.isShow">
                          <li class="tree-li third-tree-li ng-scope" ng-click="toggleClick(offerItem)">
                            <span>
                              <i class="material-icons md-mini cs-arrow-down flow-arrow-down" ng-class="{'rightAction': offerItem.isShow}">keyboard_arrow_down</i>
                              <i class="material-icons tree-icon">album</i>
                            </span>
                            <span class="cs-path-name clearfix">
                              <span class="path-name ng-binding">Offers</span>
                            </span>
                          </li>
                          <div ng-repeat="offer in path.offers" ng-hide="offerItem.isShow">
                            <li class="tree-li fourth-tree-li ng-scope">
                              <i class="material-icons tree-icon">album</i>
                              <span class="cs-path-name clearfix">
                                <span class="path-name ng-binding">{{offer.name}}</span>
                                <span class="weight-num ng-binding">
                                  {{offer.weight}}<em ng-show="offer.relativeWeight>0">({{offer.relativeWeight | number:2}}%)</em><em ng-show="offer.relativeWeight<=0">(N/A)</em>
                                </span>
                              </span>
                            </li>
                          </div>
                        </div>
                    </div>
                    <div ng-show="path.landers.length > 0">
                        <div ng-hide="path.isShow">
                            <li class="tree-li third-tree-li ng-scope" ng-click="toggleClick(landerItem)">
                                <span>
                                    <i class="material-icons md-mini cs-arrow-down flow-arrow-down" ng-class="{'rightAction': landerItem.isShow}">keyboard_arrow_down</i>
                                    <i class="material-icons tree-icon">album</i>
                                </span>
                                <span class="cs-path-name clearfix">
                                    <span class="path-name ng-binding">Landers</span>
                                </span>
                            </li>
                            <div ng-repeat="lander in path.landers" ng-hide="landerItem.isShow">
                                <li class="tree-li fourth-tree-li ng-scope">
                                    <i class="material-icons tree-icon">album</i>
                                    <span class="cs-path-name clearfix">
                                        <span class="path-name ng-binding">{{lander.name}}</span>
                                        <span class="weight-num ng-binding">
                                            {{lander.weight}}<em ng-show="lander.relativeWeight>0">({{lander.relativeWeight | number:2}}%)</em><em ng-show="lander.relativeWeight<=0">(N/A)</em>
                                        </span>
                                    </span>
                                </li>
                            </div>
                        </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
        </form>
        <div class="campaign-path-box row" ng-show="item.targetType == 3">
          <div class="col-md-offset-1 col-md-10" ng-controller="FlowEditCtrl" ng-include="pathRoute"></div>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary disabled-btn" ng-click="ctrl.save()" ng-disabled="editForm.$invalid || saveStatus">{{'save' | translate}}
        </md-button>
        <md-button class="md-primary red-btn" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
        <!-- <md-button class="md-primary red-btn" ng-show="campaignAddStatus" ng-click="ctrl.close()">{{'close' | translate}}</md-button> -->

    </md-dialog-actions>

</md-dialog>
