<md-dialog class="cs-edit-dialog" ng-cloak>
  <md-dialog-content class="md-dialog-content">
    <div class="nav-box">
      <div class="container">
          <a class="logo" href="#"><img class="img-responsive" src="../assets/img/logo.png"></a>
          <a class="logo2" href="#"><img class="img-responsive" src="../assets/img/logo-two.png"></a>
      </div>
    </div>
    <div class="pricing-box clearfix">
        <div class="container">
          <ul>
          <div class="li-con">
            <div class="plan-select">
              <i class="material-icons">done</i>
              <span>You are currently subscribed to this plan</span>
            </div>
            <li class=" w-md3 h-line">
              <div class="p-header-box">
                <h2>ENTERPRISE</h2>
                <div class="p-header">
                  <small class="money-icon">$</small>
                  <span class="money-size">39</span>
                  <small class="money-small">/ Mon</small>
                </div>
                <div class="pricedesc">
                  <p>0.045/1000 overage<i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="Overages are events that exceed the included events in a given paid plan. Plans are paid for upfront, overages are paid at the end of the monthly billing cycle."></i>charge</p>
                  <p>450000 included events</p>
                </div>
                <ol class="pricedesc-list">
                  <li><b>Report API</b><i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="E-mail support, 24 hours SLA."></i></li>
                  <li>3 Traffic <b>Source RAW Report</b> (in the list)<i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="REST type API using secure HTTPS as a transport layer and JSON as encoding."></i></li>
                  <li>Email <b>Support</b> 24/7</li>
                  <li>3 month data <b>retention</b></li>
                  <li>1 custom tracking <b>domains</b><i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="RRAPI allows overriding lander/offers and redirect mode defined for given campaign path on a per-visit basis."></i></li>
                  <li>Newbidder DSP (event not included)</li>
                  <li class="hg"><em>&times;</em></li>
                  <li class="hg"><em>&times;</em></li>
                  <li class="hg"><em>&times;</em></li>
                </ol>
                <button class="btn p-btn btn-three p-btn-01" type="button" ng-click="editChangePlan()"><p>SELECT PLAN----222<i class="icon-angle-right"></i></p></button>
              </div>
            </li>
            </div>
            <div class="li-con">
            <li class=" w-md3 h-line2">
              <div class="p-header-box">
                <h2>ENTERPRISE</h2>
                <div class="p-header">
                  <small class="money-icon">$</small>
                  <span class="money-size">89</span>
                  <small class="money-small">/ Mon</small>
                </div>
                <div class="pricedesc">
                  <p>1000000 included<i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="Overages are events that exceed the included events in a given paid plan. Plans are paid for upfront, overages are paid at the end of the monthly billing cycle."></i>events</p>
                  <p>0.035/1000 overage charge</p>
                </div>
                <ol class="pricedesc-list">
                  <li><b>Report API</b><i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="E-mail support, 24 hours SLA."></i></li>
                  <li>5 Traffic Source <b>RAW Report</b><i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="REST type API using secure HTTPS as a transport layer and JSON as encoding."></i></li>
                  <li>Email <b>Support</b> 24/7</li>
                  <li>6 month data <b>retention</b></li>
                  <li>5 custom tracking <b>domains</b></li>
                  <li>Newbidder DSP (event not included)</li>
                  <li>Affiliate Network Offer Management</li>
                  <li>1 additional users</li>
                  <li>10% volume discount</li>
                </ol>
                <button class="btn p-btn btn-three p-btn-02" type="button"><p>SELECT PLAN<i class="icon-angle-right"></i></p></button>
              </div>
            </li>
            </div>
            <div class="li-con">
            <li class=" w-md3 h-line3">
              <div class="p-header-box">
                <h2>PRO</h2>
                <div class="p-header">
                    <small class="money-icon">$</small>
                    <span class="money-size">299</span>
                    <small class="money-small">/ Mon</small>
                </div>
                <div class="pricedesc">
                    <p>10000000 included<i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="Overages are events that exceed the included events in a given paid plan. Plans are paid for upfront, overages are paid at the end of the monthly billing cycle."></i>events</p>
                <p>0.03/1000 overage charge</p>
                </div>
                <ol class="pricedesc-list">
                    <li><b>Report API</b><i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="E-mail support, 24 hours SLA."></i></li>
                    <li>10 Traffic Source RAW Report (in the list,3 can be custom)<i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="REST type API using secure HTTPS as a transport layer and JSON as encoding."></i></li>
                    <li>Skype Support 24/7</li>
                    <li>1 year data retention</li>
                    <li>10 custom tracking domains</li>
                    <li>Newbidder DSP (event not included)</li>
                    <li>Affiliate Network Offer Management</li>
                    <li>2 additional users</li>
                    <li>15% volume discount</li>
                </ol>
                    <button class="btn p-btn btn-three p-btn-03" type="button"><p>SELECT PLAN<i class="icon-angle-right"></i></p></button>
              </div>
            </li>
            </div>
            <div class="li-con">
            <li class=" w-md3 h-line4">
              <div class="p-header-box">
                <h2>AGENCY</h2>
                <div class="p-header">
                  <small class="money-icon">$</small>
                  <span class="money-size">899</span>
                  <small class="money-small">/ MO</small>
                </div>
                <div class="pricedesc">
                  <p>30000000 included<i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="Overages are events that exceed the included events in a given paid plan. Plans are paid for upfront, overages are paid at the end of the monthly billing cycle."></i>events</p>
                  <p>0.025/1000 overage charge</p>
                </div>
                <ol class="pricedesc-list">
                  <li><b>Report API</b><i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="E-mail support, 24 hours SLA."></i></li>
                  <li>20+ Traffic Source RAW Report (in the list,5 can be custom)<i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="E-mail support, 24 hours SLA."></i></li>
                  <li>Skype Support 24/7<i class="icon-question-sign" data-toggle="tooltip" data-placement="top" title="REST type API using secure HTTPS as a transport layer and JSON as encoding."></i></li>
                  <li>2 year data retention</li>
                  <li>30 custom tracking domains</li>
                  <li>Newbidder DSP (event not included)</li>
                  <li>Affiliate Network Offer Management</li>
                  <li>5 additional users</li>
                  <li>20% volume discount</li>
                </ol>
                <button class="btn p-btn btn-three p-btn-04" type="button"><p>SELECT PLAN<i class="icon-angle-right"></i></p></button>
              </div>
            </li>
            </div>
          </ul>
        </div>
    </div>
    <!-- <section id="sliderPricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="pricingCalculator" class="planSlider">
                        <h4 class="titletwo">Monthly cost <b>calculator</b>:</h4>
                        <div class="row eventsSliderBox">
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <input id="eventsSlider" class="eventsSlider" type="slider" name="events" value="0" style="display: none;">
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <input type="text" name="eventsSliderNumber" value="" class="eventsSliderNumber numberField" placeholder="">
                                <button class="register-btn btn-three" type="button">Sign in</button>
                                </div>
                            </div>
                        </div>

                        <section class="row sliderResults">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                Plan <span><span class="dolar">$</span><span class="prepay">0</span> <span class="plan">NOOBIE</span></span>
                                <span class="caption"><span class="includedEvents">10,000,000</span> events included</span>
                            </div>
                            <div class="col-md-1 col-sm-1 separator"><span></span></div>
                            <div class="col-md-3 col-sm-3 col-xs-12 mainPriceContainer">
                                Price: <span><span class="dolar">$</span><span class="mainPriceLittle">0</span></span> month
                            </div>
                            <div class="col-md-1 col-sm-1 separator"><span></span></div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                Overages <i class="icon-question-sign" data-toggle="tooltip" title="Overages are events that exceed the included events in a given paid plan. Plans are paid for upfront, overages are paid at the end of the monthly billing cycle."></i>   : <span><span class="dolar">$</span><span class="overages">0</span></span>
                                <span class="caption"><span class="overagesEvents">0</span> extra events</span>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
    </section> -->
    <div class="bottom-box">
      © Copyright  new bidder. 2017 All rights reserved
      <span><a href="#">Privacy policy</a>|<a href="#">Terms and conditions</a></span>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
  </md-dialog-actions>
</md-dialog>