<h1 class="setting-title">Conversion upload</h1>

<div class="form-column profile-content conversion">
  <p class="domain-p">
    <i class="material-icons">info_outline</i>
    Please enter one click ID per line. Optionally add payout and transaction ID after commas, for example: <span>c384EFV6JHQODRN70575OK6UG5, 10.0, abc1234</span>
  </p>
  <form name="form" ng-submit="conversionSave()">
    <textarea name="conversionContent" class="upload-con clearfix" ng-model="conversionContent" required></textarea>
    <span style="color:red" ng-show="form.conversionContent.$dirty && form.conversionContent.$invalid">
      <span ng-show="form.conversionContent.$error.required">conversionContent is required.</span>
      <span ng-show="form.conversionContent.$error.validate">conversionContent is invalid.</span>
    </span>
    <span style="color: red" ng-show="errorMessage">{{errorMessage}}</span>
  </form>
  <div class="profile-form-footer clearfix">
    <md-button class="save-btn" ng-click="conversionSave()" ng-disabled="conversionStatus">
    <i class="icon-ok"></i>
    save
    </md-button>
    <md-button class="close-btn" ng-click="conversionClose()">
    <i class="icon-remove"></i>
    close
    </md-button>
  </div>
</div>
