<!-- <div class="cs-page-subheader">
    <div class="cs-page-crumb">
        <span>{{app.subtitle | translate}}</span>
    </div>
</div> -->

<div flex layout="column" class="cs-page-content dash-board">
    <div class="row data-list">
        <div class="col-xs-12 col-sm-12 col-md-7">
            <div class="col-xs-3 col-sm-3 col-md-3 data-list-con">
                <h3>Visits</h3>
                <div class="data-num">36,393</div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 data-list-con">
                <h3>Clicks</h3>
                <div class="data-num">22,845</div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 data-list-con">
                <h3>Conversions</h3>
                <div class="data-num">845</div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 data-list-con">
                <h3>Revenue</h3>
                <div class="data-num">8450</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5">
            <div class="col-xs-4 col-sm-4 col-md-4 data-list-con">
                <h3>Cost</h3>
                <div class="data-num">6000</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 data-list-con">
                <h3>Profit</h3>
                <div class="data-num">2,445</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 data-list-con">
                <h3>ROI</h3>
                <div class="data-num">2,845</div>
            </div>
        </div>
    </div>
    <div class="row data-tables-chart-container">
        <div class="col-sm-12 col-md-6 data-tables">
            <div class="table-toggles clearfix">
                <div class="toggles-button-left">
                    <ul>
                        <li class="selected">Top</li>
                        <li>Bottom</li>
                    </ul>
                </div>
                <div class="toggles-button-right">
                    <ul>
                        <li class="selected">Revenue</li>
                        <li class="selected">Cost</li>
                        <li>Profit</li>
                    </ul>
                </div>
            </div>
            <table class="table table-hover" ng-repeat="tb in tableData">
                <thead>
                    <tr>
                        <th>{{tb.num}}</th>
                        <th>{{tb.campaigns}}</th>
                        <th>{{tb.profit}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in tb.tbCon">
                        <td>{{list.id}}</td>
                        <td>{{list.content}}</td>
                        <td>{{list.dollar}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-6 chart-widget">
            <div id="container">Placeholder for chart</div>
        </div>
    </div>
</div>
