<h1 class="setting-title">Domains</h1>
<div class="form-column profile-content ">
  <div class="basic-form">
    <div class="domain-p">

      <p><i class="material-icons">info_outline</i>Here you can add your custom tracking domains. We highly recommend adding a custom domain.
      The default Newbidder.com is meant for testing purposes only.</p>
    </div>
    <p>In order to add a domain you will need to CNAME one of following domains:
        <b><em ng-repeat="internal in item.internal track by $index">{{internal.address}}<em ng-if="$index < item.internal.length-1">, </em><em ng-if="$index == item.internal.length-1">.</em></em></b>
        The main domain will be used to generate your campaign and click URLs. The backup domains allow you to quickly substitute your main domain in case it is compromised.</p>
    <form name="form" ng-submit="domainSava()">
      <div class="add-another-button clearfix">
        <ul>
          <li>Set up domains: <b>{{item.custom.length}}</b></li>
          <li>Available domains: <b>{{plan.domainLimit}}</b></li>
        </ul>
        <md-button class="md-raised add-another-btn" ng-click="addCustom()" ng-class="{'gray-btn': isGray}">Add another domain</md-button>
      </div>
      <div class="domains-container">
        <div class="internal-domains form-horizontal">
          <div class="item-domains clearfix" ng-repeat="l in item.internal track by $index" >
            <label>Newbidder domain {{$index+1}}</label>
            <div class="input-out">
              <input type="text" class="form-control" ng-model="l.address">
            </div>
            <div class="domain-btn-list">
                  <input type="button" class="md-raised copy-btn domain-btn" value="{{ l.main ? 'Main domain' : 'Set as main domain'}}" ng-class="{'main-domain': l.main}" ng-click="mainClick(l)"></input>
            </div>
          </div>
        </div>
        <div class="item-domains domains  form-horizontal">
          <div class="item-domains clearfix" ng-repeat="c in item.custom track by $index" ng-class="{'btnColor':isBtnColor}">
            <label>Custom domain {{$index+1}}</label>
            <div class="input-out">
              <input type="text" name="address{{$index}}" class="form-control" ng-change="inputChange()" ng-model="c.address" required>
              <span style="color:red" ng-show="form.address{{$index}}.$dirty && form.address{{$index}}.$invalid">
                <span ng-show="form.address{{$index}}.$error.required">address is required.</span>
              </span>
            </div>
            <div class="another-list-btn clearfix">
              <input type="button" class="md-raised copy-btn domain-btn" value="{{ c.main ? 'Main domain' : 'Set as main domain'}}" ng-class="{'main-domain': c.main, 'gray-btn':!c.address}" ng-click="mainClick(c)"></input>
              <md-button class="md-raised copy-btn verify-btn" ng-class="{'gray-btn':!c.address,'domain-error':c.btnName=='Domain setup error'}" ng-click="domainsVerify(c)">{{c.btnName}}</md-button>
              <i class="material-icons" ng-click="deleteCustom($index)">delete</i>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="domain-p">
        <i class="material-icons">info_outline</i>
        <p>Here you can add your custom tracking domains. We highly recommend adding a custom domain.
        The default Newbiddertrk.com is meant for testing purposes only.</p>
      </div>
      <div class="domain-footer clearfix">
        <div class="form-group clearfix">
          <label class="col-sm-3 control-label">Cloaking domain</label>
          <div class="col-sm-5 campaign-radio">
            <label class="radio-inline">
              <input type="radio" ng-model="item.costModel" checked value="redirectNewbidder.com">redirectNewbidder.com
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="item.costModel" value="Custom">Custom
            </label>
          </div>
        </div>
        <div class="item-domains">
          <label>Custom Domain</label>
          <div class="input-out">
            <input type="text" class="form-control">
          </div>
          <div class="domain-btn-list">
            <md-button class="md-raised add-another-btn">Verify DNS settings</md-button>
          </div>
        </div>
      </div> -->
      <div class="profile-form-footer clearfix">
        <md-button class="save-btn" ng-click="domainSava()" ng-disabled="form.$invalid || domainSaveStatus">
          <i class="icon-ok"></i>
          save
        </md-button>
      </div>
    </form>
  </div>
</div>
