<md-dialog class="cs-edit-dialog" ng-cloak>
  <md-dialog-content class="md-dialog-content">
    <div class="nav-box">
      <div class="container">
        <a class="logo2" href="#"><img class="img-responsive" src="../assets/img/logo-two.png"></a>
      </div>
    </div>
    <div class="edit-pricing-box clearfix">
    <form name="form" ng-submit="planCommit()">
      <ul class="container">
        <ul>
          <!-- <li class="col-md-8 my-price-l">
            <h2>Billing details</h2>
            <ul class="p-edit">
              <li><i class="icon-circle-blank"></i><span>billing name</span><em>{{item.billingname}}</em></li>
              <li><i class="icon-circle-blank"></i><span>Address line 1</span><em>{{item.addressline1}}</em></li>
              <li><i class="icon-circle-blank"></i><span>City</span><em>{{item.city}}</em></li>
              <li><i class="icon-circle-blank"></i><span>ZIP / Postal code</span><em>{{item.postalcode}}</em></li>
              <li><i class="icon-circle-blank"></i><span>State /Region</span><em>{{item.stateregion}}</em></li>
              <li><i class="icon-circle-blank"></i><span>Country</span><em>{{item.country}}</em></li>
              <li class="edit-xg"><em><a id="edit" href="#"><i class="icon-edit"></i>EDIT</a></em></li>
            </ul>
            <h2>Payment method detalis<a href="#"><i class="icon-edit"></i>EDIT</a></h2>
            <ul class="p-pay">
              <li><i class="icon-circle-blank"></i><span class="p-pay-l">PayPal account</span><span class="p-pay-r">{{userItem.email}}</span></li>
            </ul>
          </li> -->
          <li class="col-md-4 my-price my-price-select">
            <div style="color: #000;" ng-bind-html="desc"></div>
            <button class="btn p-btn btn-three p-btn-02" type="button" disabled><p>SELECT PLAN<i class="icon-angle-right"></i></p></button>
          </li>
        </ul>
      </ul>
    </form>
    </div>

    <div class="bottom-box">
      © Copyright  new bidder. 2017 All rights reserved
      <span><a href="#">Privacy policy</a>|<a href="#">Terms and conditions</a></span>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
    <md-button class="md-primary" ng-click="planCommit()">{{'commit' | translate}}</md-button>
  </md-dialog-actions>
</md-dialog>