<div class="cs-page-flow" ng-click="clearOnEdit()">
  <div class="col-sm-4 col-md-4 cs-flow-tree">
    <div ng-click="editFlow()" ng-class="{'cs-flow-active':onEdit=='flow'}" class="tree-li">
      <i class="material-icons tree-icon">album</i>
      <span class="cs-flow-name">{{flow.name}}</span>
    </div>
    <div ng-repeat="rule in flow.rules" class="cs-flow-rule">
      <div ng-click="editRule(rule)" class="tree-li" ng-class="{
        'cs-flow-active': onEdit=='rule' && curRule==rule,
        'cs-rule-default': rule.isDefault,
        'cs-rule-unexpanded': rule.unexpanded,
        'cs-is-deleted': rule.isDeleted
        }">
        <span ng-click="toggleExpand(rule)">
          <!--           <i class="material-icons md-mini cs-arrow-right">keyboard_arrow_right</i>
          -->         <i class="material-icons md-mini cs-arrow-down flow-arrow-down">keyboard_arrow_down</i>
        </span>
        <span class="cs-path-name">
          <i class="material-icons tree-icon">album</i>
          <span class="cs-rule-name">{{rule.name}}</span>
        </span>

      </div>
      <ul>
        <li ng-repeat="path in rule.paths" class="tree-li" ng-click="editPath(rule, path)" ng-class="{
          'cs-flow-active': onEdit=='path' && curPath==path,
          'cs-is-deleted': path.isDeleted
        }">
          <i class="material-icons tree-icon">album</i>
          <span class="cs-path-name clearfix">
            <span class="path-name">{{path.name}} </span>
            <span class="weight-num">
              {{path.weight}}<em ng-show="path.relativeWeight>0">({{path.relativeWeight | number:2}}%)</em><em ng-show="path.relativeWeight<=0">(N/A)</em>)
            </span>
          </span>
        </li>
        <li ng-click="addPath(rule)" class="cs-flow-addpath tree-li">
          <i class="material-icons add-box">add_box</i>
          <span class="add-flow-path">{{'add_flow_path' | translate}}</span>
        </li>
      </ul>
    </div>
    <div ng-click="addRule()" class="cs-flow-addrule tree-li">
      <i class="material-icons add-box">add_box</i>
      <span class="add-flow-rule">{{'add_flow_rule' | translate}}</span>
    </div>
  </div>
  <div class="col-sm-8 col-md-8 cs-flow-content">
    <div class="cs-flow-top-actions">
      <div ng-show="onEdit=='rule' && !isDeleted"  class="top-btn-list">
        <button class="btn btn-danger" ng-click="deleteRule()">
          <i class="material-icons">delete</i>
          Delete rule
        </button>
        <button class="btn btn-default" ng-click="duplicateRule()">
          <i class="material-icons">control_point_duplicate</i>
          Duplicate rule
        </button>
      </div>
      <div ng-show="onEdit=='path' && !isDeleted" class="top-btn-list">
        <button class="btn btn-danger" ng-click="deletePath()">
          <i class="material-icons">delete</i>
          Delete path
        </button>
        <button class="btn btn-default" ng-click="duplicatePath()">
          <i class="material-icons">control_point_duplicate</i>
          Duplicate path
        </button>
      </div>
      <div ng-show="isDeleted" class="top-btn-list">
        <button class="btn btn-success" ng-click="restore()">
          <i class="material-icons">restore</i>
          Restore path
        </button>
      </div>
    </div>

    <div class="cs-deleted-mask" ng-if="isDeleted"></div>

    <form name="editFlowForm" method="post" ng-submit="$event.preventDefault()" class="form-content" ng-if="onEdit=='flow'">
      <div class="form-group">
        <label class="label-name">Name:</label>
        <input type="text" class="form-control" ng-model="flow.name" required>
      </div>

      <div class="form-group">
        <label class="label-name">Country:</label>
        <md-select ng-model="flow.country" required>
          <md-option ng-repeat="c in allCountries" value="{{c.value}}">{{c.display}}</md-option>
        </md-select>
      </div>

      <div class="form-group clearfix">
        <label class="col-sm-4 control-label label-radio">Default redirect mode:</label>
        <div class="col-sm-8">
          <label class="radio-inline">
            <input type="radio" ng-model="flow.redirectMode" value="302"> 302
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="flow.redirectMode" value="meta"> Meta refresh
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="flow.redirectMode" value="double-meta"> Double meta refresh
          </label>
        </div>
      </div>
    </form>

    <form name="editRuleForm" method="post" ng-submit="$event.preventDefault()" class="editRuleForm" ng-if="onEdit=='rule'">
      <div class="row">
        <div class="form-group col-sm-8 col-md-8 name-div">
          <label class="label-name">Name:</label>
          <input type="text" class="form-control" ng-model="curRule.name" required>
        </div>
        <div class="form-group col-sm-4 col-sm-4">
          <label class="label-name">Status:</label>
          <md-switch class="md-primary" ng-model="curRule.enabled" aria-label="Enabled"></md-switch>
        </div>
      </div>
      

      

      <div class="cs-conditions">
        <div class="cs-conditions-button">
          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-primary" uib-dropdown-toggle>
              <i class="material-icons">add</i>
              Add condition <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li role="menuitem" ng-repeat="cdt in allConditions">
                <a ng-click="addCondition(cdt)">{{cdt.display}}</a>
              </li>
            </ul>
          </div>
          <button class="btn btn-default delete-btn" ng-click="deleteAllConditions()">
            <i class="material-icons">close</i>
            Delete all</button>
        </div>

        <ul class="cs-conditions-content">
          <li ng-repeat="cdt in curRule.conditions">
            <i class="material-icons tree-icon">album</i>
            <span class="label label-default condition-select-content">{{cdt._def.display}} <em ng-click="deleteCondition(cdt)">x</em></span>
            <div class="btn-group is-btn">
              <label class="btn btn-primary" ng-model="cdt.operand" uib-btn-radio="'is'">is</label>
              <label class="btn btn-primary" ng-model="cdt.operand" uib-btn-radio="'isnt'">is not</label>
            </div>
            <br/>
            <div class="cs-condition-field cs-condition-{{f.type}}" ng-repeat="f in cdt._def.fields">
              <p class="cs-condition-desc" ng-if="f.desc">{{f.desc}}</p>
              <div class="col-md-2" ng-if="f.label">{{f.label}}</div>
              <div ng-if="f.type=='textarea'" ng-class="{'col-md-10': f.label}">
                <textarea ng-model="cdt[f.name]"></textarea>
              </div>

              <div ng-if="f.type=='select'" ng-class="{'col-md-10': f.label}">
                <md-select ng-model="cdt[f.name]">
                  <md-option ng-repeat="o in f.options" value="{{o.value}}">{{o.display}}</md-option>
                </md-select>
              </div>

              <div ng-if="f.type=='inputgroup'" ng-class="{'col-md-10': f.label}">
                <label ng-repeat="ipt in f.inputs">
                  {{ipt.label}} 
                  <input ng-model="cdt[ipt.name]" placeholder="{{ipt.placeholder}}">
                </label>
              </div>

              <div ng-if="f.type=='checkbox'" ng-class="{'col-md-10': f.label}">
                <label ng-repeat="o in f.options">
                  <input type="checkbox" ng-checked="exists(o.value, cdt[f.name])" ng-click="toggle(o.value, cdt[f.name])">
                  {{o.display}} 
                </label>
              </div>

              <div ng-if="f.type=='l2select'" ng-class="{'col-md-10': f.label}">
                <div class="col-md-6 cs-l2select-l1panel">
                  <div class="cs-select-query">
                    <input ng-model="cdt._t1.display">
                  </div>
                  <div ng-repeat="o in f.options | filter:cdt._t1">
                    <label ng-click="toggleL2select(cdt, o, f.name)"
                           ng-class="{'cs-l2item-selected':exists(o.value, cdt[f.name])}">
                      {{o.display}} 
                    </label>
                  </div>
                </div>
                <div class="col-md-6 cs-l2select-l2panel">
                  <div class="cs-select-query">
                    <input ng-model="cdt._t2.display">
                  </div>
                  <div ng-repeat="o in cdt._suboptions | filter:cdt._t2">
                    <label ng-click="toggle(o.value, cdt[f.name])"
                           ng-class="{'cs-l2item-selected':exists(o.value, cdt[f.name])}">
                      <input type="checkbox" ng-checked="exists(o.value, cdt[f.name])">
                      {{o.display}} 
                    </label>
                  </div>
                  <div ng-hide="cdt._suboptions">
                    <label>No items to select</label>
                  </div>
                </div>
                <div class="col-md-12 cs-l2select-selected">
                  <md-chips ng-model="cdt[f.name]" readonly="true" md-removable="true">
                    <md-chip-template>{{cdt._def._fv2n[f.name][$chip]}}</md-chip-template>
                  </md-chips>
                </div>
              </div>

              <div ng-if="f.type=='chips'" ng-class="{'col-md-10': f.label}">
                <md-chips
                    ng-model="cdt[f.name]"
                    md-autocomplete-snap
                    md-require-match="true">
                  <md-autocomplete
                      md-selected-item="selectedItem"
                      md-search-text="searchText"
                      md-no-cache="true"
                      md-min-length="0"
                      md-items="item in querySearchIn(searchText, f.options, cdt[f.name])"
                      md-item-text="item.display"
                      placeholder="{{f.placeholder}}">
                    <span md-highlight-text="searchText">{{item.display}}</span>
                  </md-autocomplete>
                  <md-chip-template><span>{{$chip.display}}</span></md-chip-template>
                </md-chips>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </form>
    
    <form name="editPathForm" method="post" ng-submit="$event.preventDefault()" class="editPathForm" ng-if="onEdit=='path'">
      <div class="row path-top">
        <div class="col-sm-7 col-md-7 name-div" layout="column">
          <label class="label-name">Name:</label>
          <input type="text" class="form-control" ng-model="curPath.name" required>
        </div>
        <div class="col-sm-3 col-md-3" layout="column">
          <label class="label-name">Weight:</label>
          <input type="text" class="form-control" ng-model="curPath.weight" required>
        </div>
        <div class="col-sm-2 col-md-2" layout="column">
          <label class="label-name">Status:</label>
          <md-switch ng-model="curPath.enabled" aria-label="Enabled" class="md-primary"></md-switch>
        </div>
      </div>

      <div class="row">
        <label class="label-name">Redirect mode:</label>
        <label class="radio-inline">
          <input type="radio" ng-model="curPath.redirectMode" value="302"> 302
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="curPath.redirectMode" value="meta"> Meta refresh
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="curPath.redirectMode" value="double-meta"> Double meta refresh
        </label>
      </div>

      <div class="row">
        <label class="label-name">Direct linking:</label>
        <md-checkbox class="md-primary" ng-model="curPath.directLinking"></md-checkbox>
      </div>

      <div class="form-group direct-content clearfix">
        <div class="col-sm-12 col-md-6 lander-content">
          <div class="cs-flow-lander-header clearfix">
            <div class="col-sm-9 col-md-9">Lander</div>
            <div class="col-sm-3 col-md-3">Weight</div>
          </div>
          <div class="cs-flow-lander-row clearfix"
               ng-repeat="lander in curPath.landers" ng-click="setEdit($event, lander)"
               ng-class="{'cs-flow-lander-onedit':lander._onEdit}">
            <div class="col-sm-9 col-md-9">
              <p class="cs-flow-lander-view">{{lander.name || 'Select lander...'}}</p>
              <div class="cs-flow-lander-edit clearfix">
                <md-autocomplete
                    md-selected-item="selected"
                    md-search-text="searchText"
                    md-items="item in queryLanders(searchText)"
                    md-no-cache="true"
                    md-select-on-focus="true"
                    md-item-text="item.name"
                    md-min-length="0"
                    md-search-text-change="searchTextChange(searchText)"
                    md-selected-item-change="selectedLanderChange(item, lander)"
                    placeholder="Select lander...">
                  <md-item-template>
                    <span md-highlight-text="searchText">{{item.name}}</span>
                  </md-item-template>
                  <md-not-found>
                    No matching found.
                  </md-not-found>
                </md-autocomplete>
                <!--i class="material-icons md-mini edit-btn" ng-show="lander.id">edit</i-->
              </div>
            </div>
            <div class="col-sm-3 col-md-3 input-content">
              <div class="cs-flow-lander-view">
                {{lander.weight}}
                <em ng-show="lander.relativeWeight>0">({{lander.relativeWeight | number:2}}%)</em>
                <em ng-show="lander.relativeWeight<=0">(N/A)</em>
              </div>
              <div class="cs-flow-lander-edit clearfix">
                <input type="text" class="form-control" ng-model="lander.weight" required>
                <i ng-click="deleteLander(lander)" class="material-icons md-mini lander-delete-btn">delete</i>
              </div>
            </div>
          </div>
          <div class="cs-flow-lander-action clearfix">
            <button ng-click="addLander($event)" type="button" class="btn btn-default add-lander-btn">
              <i class="material-icons add-box">add_box</i>
              Add New Lander
            </button>
            <!--button ng-click="addLander(curPath)" class="btn btn-default add-lander-btn">
              <i class="material-icons add-box">add_box</i>
              Add Lander
            </button-->
          </div>
        </div>

        <div class="col-sm-12 col-md-6 offer-content">
          <div class="cs-flow-lander-header clearfix">
            <div class="col-sm-9 col-md-9">Offer</div>
            <div class="col-sm-3 col-md-3">Weight</div>
          </div>
          <div class="cs-flow-offer-row clearfix"
               ng-repeat="offer in curPath.offers" ng-click="setEdit($event, offer)"
               ng-class="{'cs-flow-offer-onedit':offer._onEdit}">
            <div class="col-sm-9 col-md-9">
              <p class="cs-flow-offer-view">{{offer.name || 'Select offer...'}}</p>
              <div class="cs-flow-offer-edit clearfix">
                <md-autocomplete
                    md-selected-item="selected"
                    md-search-text="searchText"
                    md-items="item in queryOffers(searchText)"
                    md-no-cache="true"
                    md-select-on-focus="true"
                    md-item-text="item.name"
                    md-min-length="0"
                    md-search-text-change="searchTextChange(searchText)"
                    md-selected-item-change="selectedOfferChange(item, offer)"
                    placeholder="Select offer...">
                  <md-item-template>
                    <span md-highlight-text="searchText">{{item.name}}</span>
                  </md-item-template>
                  <md-not-found>
                    No matching found.
                  </md-not-found>
                </md-autocomplete>
                <!--i class="material-icons md-mini edit-btn" ng-show="offer.id">edit</i-->
              </div>
            </div>
            <div class="col-sm-3 col-md-3 input-content">
              <div class="cs-flow-offer-view">
                {{offer.weight}}
                <em ng-show="offer.relativeWeight>0">({{offer.relativeWeight | number:2}}%)</em>
                <em ng-show="offer.relativeWeight<=0">(N/A)</em>
              </div>
              <div class="cs-flow-offer-edit clearfix">
                <input type="text" class="form-control" ng-model="lander.weight" required>
                <i ng-click="deleteOffer(offer)" class="material-icons md-mini lander-delete-btn">delete</i>
              </div>
            </div>
          </div>
          <div class="cs-flow-lander-action clearfix">
            <button ng-click="addOffer($event)" type="button" class="btn btn-default add-lander-btn">
              <i class="material-icons add-box">add_box</i>
              Add New Offer
            </button>
            <!--button ng-click="addLander(curPath)" class="btn btn-default add-lander-btn">
              <i class="material-icons add-box">add_box</i>
              Add Lander
            </button-->
          </div>
        </div>
      </div>
    </form>

    <div class="cs-flow-bottom-actions clearfix">
      <button class="btn btn-primary save-btn" ng-click="save()">
        <i class="material-icons">check</i>
        Save
      </button>
      <button class="btn close-btn" ng-click="cancel()">
        <i class="material-icons">close</i>
        Close
      </button>
    </div>
  </div>

  <div ng-if="initState=='init'" class="cs-flow-init" translate>on-loading</div>
  <div ng-if="initState=='error'" class="cs-flow-error" translate>loading-error</div>
</div>
