<div class="cs-page-flow" ng-click="clearOnEdit()">
  <div class="col-sm-4 col-md-4 cs-flow-tree">
    <div ng-click="editFlow()" ng-class="{'cs-flow-active':onEdit=='flow'}" class="tree-li" ng-show="flowMode">
      <i class="material-icons tree-icon">album</i>
      <span class="cs-flow-name">{{flow.name}}</span>
    </div>
    <div ng-repeat="rule in flow.rules" class="cs-flow-rule">
      <div ng-click="editRule(rule)" class="tree-li" ng-class="{
        'cs-flow-active': onEdit=='rule' && curRule==rule,
        'cs-rule-default': rule.isDefault,
        'cs-rule-unexpanded': rule.unexpanded,
        'cs-is-deleted': rule.isDeleted,
        'cs-is-disabled': !rule.enabled
      }">
        <span ng-click="toggleExpand(rule)">
          <i class="material-icons md-mini cs-flow-arrow" ng-show="rule.unexpanded">keyboard_arrow_right</i>
          <i class="material-icons md-mini cs-flow-arrow" ng-hide="rule.unexpanded">keyboard_arrow_down</i>
        </span>
        <span class="cs-path-name">
          <i class="material-icons tree-icon">album</i>
          <span class="cs-rule-name">{{rule.name}}</span>
        </span>
        <span class="cs-flow-restore" ng-show="rule.isDeleted" ng-click="restore('rule', rule)">
          <i class="material-icons">restore</i>
        </span>

      </div>
      <ul ng-hide="rule.unexpanded">
        <li ng-repeat="path in rule.paths" class="tree-li" ng-click="editPath(rule, path)" ng-class="{
          'cs-flow-active': onEdit=='path' && curPath==path,
          'cs-is-deleted': path.isDeleted,
          'cs-is-disabled': !(rule.enabled && path.enabled)
        }">
          <i class="material-icons tree-icon">album</i>
          <span class="cs-path-name clearfix">
            <span class="path-name">{{path.name}} </span>
            <span class="weight-num">
              {{path.weight}}<em ng-show="path.relativeWeight>0">({{path.relativeWeight | number:2}}%)</em><em ng-show="path.relativeWeight<=0">(N/A)</em>)
            </span>
          </span>
          <span class="cs-flow-restore" ng-show="path.isDeleted" ng-click="restore('path', path)">
            <i class="material-icons">restore</i>
          </span>
        </li>
        <li ng-click="addPath(rule)" class="cs-flow-addpath tree-li">
          <i class="material-icons add-box">add_box</i>
          <span class="add-flow-path" translate>addFlowPath</span>
        </li>
      </ul>
    </div>
    <div ng-click="addRule()" class="cs-flow-addrule tree-li">
      <i class="material-icons add-box">add_box</i>
      <span class="add-flow-rule" translate>addFlowRule</span>
    </div>
  </div>
  <div class="col-sm-8 col-md-8 cs-flow-content">
    <div class="cs-flow-top-actions">
      <div ng-hide="isDeleted || onEdit=='flow'" class="top-btn-list">
        <button class="btn btn-danger" ng-click="deleteCurrent(onEdit)">
          <i class="material-icons">delete</i>
          {{'Delete '+onEdit}}
        </button>
        <button class="btn btn-default" ng-click="duplicateCurrent(onEdit)">
          <i class="material-icons">control_point_duplicate</i>
          {{'Duplicate '+onEdit}}
        </button>
      </div>
      <div ng-show="isDeleted" class="top-btn-list">
        <button class="btn btn-success" ng-click="restore(onEdit)">
          <i class="material-icons">restore</i>
          Restore
        </button>
      </div>
    </div>

    <div class="cs-deleted-mask" ng-if="isDeleted"></div>

    <form name="editFlowForm" method="post" ng-submit="$event.preventDefault()" class="form-content" ng-show="onEdit=='flow' && flowMode">
      <div class="form-group">
        <label class="label-name">Name:</label>
        <input type="text" class="form-control" ng-class="{error:flow._nameError}" ng-model="flow.name" required name="name"
          ng-change="nameChanged(flow)"
          ng-blur="nameRequired()"
          async-check-name="checkNameParams"
          async-validator-callback="validateCallback"

        >
        <span class-"error-message" ng-show="flow._nameError">Name is invalid</span>
        <span style="color:red" ng-show="editFlowForm.name.$invalid">
            <span ng-show="editFlowForm.name.$error.asyncCheckName">Name already exists.</span>
            <span ng-show="editFlowForm.name.$error.nameRequired">Name is required.</span>
        </span>
      </div>

      <div class="form-group" ng-if="flowMode">
        <label class="label-name">Country:</label>
        <md-autocomplete
            md-selected-item="flow.country"
            md-search-text="searchText"
            md-items="item in queryCountries(searchText)"
            md-no-cache="true"
            md-select-on-focus="true"
            md-item-text="item.display"
            md-min-length="0"
            md-selected-item-change="countryChanged(flow.country)"
            placeholder="Select country...">
          <md-item-template>
            <span md-highlight-text="searchText">{{item.display}}</span>
          </md-item-template>
          <md-not-found>
            No matching found.
          </md-not-found>
        </md-autocomplete>
      </div>

      <div class="form-group clearfix">
        <label class="col-sm-4 control-label label-radio">Default redirect mode:</label>
        <div class="col-sm-8">
          <label class="radio-inline">
            <input type="radio" ng-model="flow.redirectMode" value="0"> 302
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="flow.redirectMode" value="1"> Meta refresh
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="flow.redirectMode" value="2"> Double meta refresh
          </label>
        </div>
      </div>
    </form>

    <form name="editRuleForm" method="post" ng-submit="$event.preventDefault()" class="editRuleForm" ng-if="onEdit=='rule'">
      <div class="row">
        <div class="form-group col-sm-8 col-md-8 name-div">
          <label class="label-name">Name:</label>
          <input type="text" class="form-control" ng-class="{error:curRule._nameError}" ng-model="curRule.name" required ng-change="validateName(curRule)">
          <span class-"error-message" ng-show="curRule._nameError">Name is invalid</span>
        </div>
        <div class="form-group col-sm-4 col-sm-4">
          <label class="label-name">Status:</label>
          <md-switch class="md-primary" ng-model="curRule.enabled" aria-label="Enabled"></md-switch>
        </div>
      </div>

      <div class="cs-conditions">
        <div class="cs-conditions-button">
          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-primary" uib-dropdown-toggle>
              <i class="material-icons">add</i>
              Add condition <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li role="menuitem" ng-repeat="cdt in allConditions | filter:{id:'!custom'}">
                <a ng-click="addCondition(cdt)">{{cdt.display}}</a>
              </li>
              <li class="dropdown-submenu">
                <a>Custom variables...</a>
                <ul class="dropdown-menu">
                  <li role="menuitem" ng-repeat="cdt in allConditions | filter:{id:'custom'}">
                    <a ng-click="addCondition(cdt)">{{cdt.display}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <button class="btn btn-default delete-btn" ng-click="deleteAllConditions()">
            <i class="material-icons">close</i>
            Delete all</button>
        </div>

        <ul class="cs-conditions-content">
          <li ng-repeat="cdt in curRule.conditions" class="clearfix">
            <i class="material-icons tree-icon">album</i>
            <span class="label label-default condition-select-content">{{cdt._def.display}} <em ng-click="deleteCondition(cdt)" class="em-close">x</em></span>
            <div class="btn-group is-btn">
              <label class="btn btn-primary" ng-model="cdt.operand" uib-btn-radio="cdt._def.operands[0].value">{{cdt._def.operands[0].display}}</label>
              <label class="btn btn-primary" ng-model="cdt.operand" uib-btn-radio="cdt._def.operands[1].value">{{cdt._def.operands[1].display}}</label>
            </div>
            <br/>
            <div class="cs-condition-field cs-condition-{{f.type}}" ng-repeat="f in cdt._def.fields">
              <p class="cs-condition-desc" ng-if="f.desc">{{f.desc}}</p>
              <div class="col-md-4 day-input-content" ng-if="f.label">{{f.label}}</div>

              <div ng-if="f.type=='textarea'" ng-class="{'col-md-10': f.label}" class="textarea-content">
                <textarea ng-model="cdt[f.name]"></textarea>
              </div>

              <div ng-if="f.type=='select'" ng-class="{'col-md-8': f.label}" class="country-select">
                <md-select ng-model="cdt[f.name]" class="select-bg">
                  <md-option ng-repeat="o in f.options" value="{{o.value}}">{{o.display}}</md-option>
                </md-select>
              </div>

              <div ng-if="f.type=='input'" ng-class="{'col-md-8': f.label}">
                <input ng-model="cdt[f.name]" placeholder="{{f.placeholder}}" class="custom-input">
              </div>

              <div ng-if="f.type=='inputgroup'" ng-class="{'col-md-10': f.label}">
                <label ng-repeat="ipt in f.inputs">
                  {{ipt.label}}
                  <input ng-model="cdt[ipt.name]" class="inputgroup-input" placeholder="{{ipt.placeholder}}">
                </label>
              </div>

              <div ng-if="f.type=='checkbox'" ng-class="{'col-md-10': f.label}" class="condition-checkbox">
                <div ng-repeat="o in f.options">
                  <md-checkbox class="md-primary" ng-checked="exists(o.value, cdt[f.name])" ng-click="toggle(o.value, cdt[f.name])">
                    {{o.display}}
                  </md-checkbox>
                </div>
              </div>

              <div ng-if="f.type=='l2select'" class="os-content clearfix" ng-class="{'col-md-10': f.label}">
                <div class="col-sm-12 col-md-8 list-content">
                  <div class="col-sm-6 col-md-6 cs-l2select-l1panel">
                    <div class="cs-select-content">
                      <div class="cs-select-query">
                        <input ng-model="cdt._t1.display">
                        <i class="material-icons select-search-icon">search</i>
                      </div>
                      <div class="options-list">
                        <div ng-repeat="o in f.options | filter:cdt._t1">
                          <label ng-click="toggleL2select(cdt, o, f.name)"
                                 ng-class="{'cs-l2item-selected':exists(o.value, cdt[f.name])}">
                            {{o.display}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 cs-l2select-l2panel">
                    <div class="cs-select-content">
                      <div class="cs-select-query">
                        <input ng-model="cdt._t2.display">
                        <i class="material-icons select-search-icon">search</i>
                      </div>
                      <div class="options-list">
                        <div ng-hide="cdt._l1selected">
                          <label>No items to select</label>
                        </div>
                        <div ng-if="cdt._l1selected">
                          <md-checkbox aria-label="Select All"
                                       ng-checked="l2allIsChecked(cdt, f.name)"
                                       md-indeterminate="l2IsIndeterminate(cdt, f.name)"
                                       ng-click="l2toggleAll(cdt, f.name)">
                            Select All
                          </md-checkbox>
                        </div>
                        <div ng-repeat="o in cdt._l1selected.suboptions | filter:cdt._t2">
                          <md-checkbox ng-checked="l2isChecked(o.value, cdt, f.name)"
                                       ng-click="l2toggle(o.value, cdt, f.name)">
                            {{o.display}}
                          </md-checkbox>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-sm-12 col-md-4 cs-l2select-selected list-content">
                  <md-chips ng-model="cdt[f.name]" readonly="true" md-removable="true">
                    <md-chip-template>{{f._v2n[$chip]}}</md-chip-template>
                  </md-chips>
                </div>
              </div>

              <div ng-if="f.type=='input-select'" ng-class="{'col-md-8': f.label}" class="country-select">
                <md-autocomplete
                    md-selected-item="cdt[f.name]"
                    md-search-text="cdt['_st'+f.name]"
                    md-items="item in querySearchSync(cdt['_st'+f.name], f.options, [])"
                    md-no-cache="true"
                    md-min-length="0"
                    md-item-text="f._v2n[item]"
                    placeholder="{{f.placeholder}}">
                  <md-item-template>
                    <span md-highlight-text="cdt['_st'+f.name]">{{f._v2n[item]}}</span>
                  </md-item-template>
                  <md-not-found>
                    No matching found.
                  </md-not-found>
                </md-autocomplete>
              </div>

              <div ng-if="f.type=='async-select'" ng-class="{'col-md-8': f.label}" class="country-select">
                <md-autocomplete
                    md-selected-item="cdt[f.name]"
                    md-no-cache="false"
                    md-min-length="1"
                    md-search-text="cdt['_st'+f.name]"
                    md-items="item in querySearchAsync(cdt['_st'+f.name], f, [])"
                    md-delay="500"
                    md-item-text="f._v2n[item]"
                    placeholder="{{f.placeholder}}">
                  <md-item-template>
                    <span md-highlight-text="cdt['_st'+f.name]">{{f._v2n[item]}}</span>
                  </md-item-template>
                  <md-not-found>
                    No matching found.
                  </md-not-found>
                </md-autocomplete>
              </div>

              <div ng-if="f.type=='chips'" ng-class="{'col-md-10': f.label}" class="chips-con">
                <md-chips
                    ng-model="cdt[f.name]"
                    md-autocomplete-snap
                    md-require-match="true" class="chips-content">
                  <md-autocomplete
                      md-search-text="cdt['_st'+f.name]"
                      md-no-cache="true"
                      md-min-length="0"
                      md-items="item in querySearchSync(cdt['_st'+f.name], f.options, cdt[f.name])"
                      md-item-text="f._v2n[item]"
                      placeholder="{{f.placeholder}}">
                    <span md-highlight-text="cdt['_st'+f.name]">{{f._v2n[item]}}</span>
                  </md-autocomplete>
                  <md-chip-template><span>{{f._v2n[$chip]}}</span></md-chip-template>
                </md-chips>
              </div>

              <div ng-if="f.type=='async-chips'" ng-class="{'col-md-10': f.label}" class="chips-con">
                <md-chips
                    ng-model="cdt[f.name]"
                    md-autocomplete-snap
                    md-require-match="true" class="chips-content">
                  <md-autocomplete
                      md-no-cache="false"
                      md-min-length="1"
                      md-search-text="cdt['_st'+f.name]"
                      md-items="item in querySearchAsync(cdt['_st'+f.name], f, cdt[f.name])"
                      md-delay="500"
                      md-item-text="f._v2n[item]"
                      placeholder="{{f.placeholder}}">
                    <span md-highlight-text="cdt['_st'+f.name]">{{f._v2n[item]}}</span>
                  </md-autocomplete>
                  <md-chip-template><span>{{f._v2n[$chip]}}</span></md-chip-template>
                </md-chips>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </form>

    <form name="editPathForm" method="post" ng-submit="$event.preventDefault()" class="editPathForm" ng-if="onEdit=='path'">
      <div class="row path-top">
        <div class="col-sm-7 col-md-7 name-div" layout="column">
          <label class="label-name">Name:</label>
          <input type="text" class="form-control" ng-class="{error:curPath._nameError}" ng-model="curPath.name" required ng-change="validateName(curPath)">
          <span class-"error-message" ng-show="curPath._nameError">Name is invalid</span>
        </div>
        <div class="col-sm-3 col-md-3" layout="column">
          <label class="label-name">Weight:</label>
          <input type="text" class="form-control" ng-model="curPath.weight" required>
        </div>
        <div class="col-sm-2 col-md-2" layout="column">
          <label class="label-name">Status:</label>
          <md-switch ng-model="curPath.enabled" aria-label="Enabled" class="md-primary"></md-switch>
        </div>
      </div>

      <div class="row">
        <label class="label-name">Redirect mode:</label>
        <label class="radio-inline">
          <input type="radio" ng-model="curPath.redirectMode" value="0"> 302
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="curPath.redirectMode" value="1"> Meta refresh
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="curPath.redirectMode" value="2"> Double meta refresh
        </label>
      </div>

      <div class="row">
        <label class="label-name">Direct linking:</label>
        <md-checkbox class="md-primary" ng-model="curPath.directLinking"></md-checkbox>
      </div>

      <div class="form-group direct-content clearfix">
        <div class="col-sm-12 col-md-6 lander-content" ng-hide="curPath.directLinking">
          <div class="cs-flow-lander-header clearfix">
            <div class="col-sm-9 col-md-9">Lander</div>
            <div class="col-sm-3 col-md-3">Weight</div>
          </div>
          <div class="cs-flow-offer-lander">
            <div class="cs-flow-lander-row clearfix"
                 ng-repeat="lander in curPath.landers"
                 ng-click="setEdit($event, lander)"
                 ng-class="{'cs-flow-lander-onedit':lander._onEdit}">
              <div class="col-sm-8 col-md-8">
                <p class="cs-flow-lander-view">{{lander._def.name || 'Select lander...'}}</p>
                <div class="cs-flow-lander-edit clearfix">
                  <md-autocomplete
                      md-selected-item="lander._def"
                      md-search-text="lander._searchText"
                      md-items="item in queryLanders(lander._searchText)"
                      md-no-cache="true"
                      md-select-on-focus="true"
                      md-item-text="item.name"
                      md-min-length="0"
                      placeholder="Select lander...">
                    <md-item-template>
                      <span md-highlight-text="lander._searchText">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                      No matching found.
                    </md-not-found>
                  </md-autocomplete>
                  <i class="material-icons md-mini edit-btn" ng-show="lander._def" ng-click="editLander($event, lander)">edit</i>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 input-content">
                <div class="cs-flow-lander-view">
                  {{lander.weight}}
                  <em ng-show="lander.relativeWeight>0">({{lander.relativeWeight | number:2}}%)</em>
                  <em ng-show="lander.relativeWeight<=0">(N/A)</em>
                </div>
                <div class="cs-flow-lander-edit clearfix">
                  <input type="text" class="form-control weight-input" ng-model="lander.weight" required>
                  <i ng-click="deleteLander(lander)" class="material-icons md-mini lander-delete-btn">delete</i>
                </div>
              </div>
            </div>
          </div>
          <div class="cs-flow-lander-action clearfix">
            <button ng-click="addLander($event)" type="button" class="btn btn-default add-lander-btn">
              <i class="material-icons add-box">add_box</i>
              Add Lander
            </button>
            <button ng-click="editLander($event)" class="btn btn-default add-lander-btn">
              <i class="material-icons add-box">add_box</i>
              Add New Lander
            </button>
          </div>
        </div>

        <div class="col-sm-12 offer-content" ng-class="{'col-md-6': !curPath.directLinking}">
          <div class="cs-flow-lander-header clearfix">
            <div class="col-sm-9 col-md-9">Offer</div>
            <div class="col-sm-3 col-md-3">Weight</div>
          </div>
          <div class="cs-flow-offer-lander">
            <div class="cs-flow-offer-row clearfix"
                 ng-repeat="offer in curPath.offers"
                 ng-click="setEdit($event, offer)"
                 ng-class="{'cs-flow-offer-onedit':offer._onEdit}">
              <div class="col-sm-8 col-md-8">
                <p class="cs-flow-offer-view">{{offer._def.name || 'Select offer...'}}</p>
                <div class="cs-flow-offer-edit clearfix">
                  <md-autocomplete
                      md-selected-item="offer._def"
                      md-search-text="offer._searchText"
                      md-items="item in queryOffers(offer._searchText)"
                      md-no-cache="true"
                      md-select-on-focus="true"
                      md-item-text="item.name"
                      md-min-length="0"
                      placeholder="Select offer...">
                    <md-item-template>
                      <span md-highlight-text="offer._searchText">{{item.name}}</span>
                    </md-item-template>
                    <md-not-found>
                      No matching found.
                    </md-not-found>
                  </md-autocomplete>
                  <i class="material-icons md-mini edit-btn" ng-show="offer._def" ng-click="editOffer($event, offer)">edit</i>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 input-content">
                <div class="cs-flow-offer-view">
                  {{offer.weight}}
                  <em ng-show="offer.relativeWeight>0">({{offer.relativeWeight | number:2}}%)</em>
                  <em ng-show="offer.relativeWeight<=0">(N/A)</em>
                </div>
                <div class="cs-flow-offer-edit clearfix">
                  <input type="text" class="form-control weight-input" ng-model="offer.weight" required>
                  <i ng-click="deleteOffer(offer)" class="material-icons md-mini lander-delete-btn">delete</i>
                </div>
              </div>
            </div>
          </div>
          <div class="cs-flow-lander-action clearfix">
            <button ng-click="addOffer($event)" type="button" class="btn btn-default add-lander-btn">
              <i class="material-icons add-box">add_box</i>
              Add Offer
            </button>
            <button ng-click="editOffer($event)" class="btn btn-default add-lander-btn">
              <i class="material-icons add-box">add_box</i>
              Add New Offer
            </button>
          </div>
        </div>

      </div>
    </form>

    <div class="cs-flow-bottom-actions clearfix" ng-show="flowMode">
      <span class="cs-on-save" ng-show="onSave">Saving...</span>
      <span class="cs-save-time" ng-show="saveTime">Saved at {{saveTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
      <button class="btn btn-primary save-btn" ng-disabled="onSave" ng-hide="showContinue" ng-click="save()">
        <i class="material-icons">check</i>
        Save
      </button>
      <button class="btn btn-primary save-btn" ng-disabled="onSave" ng-hide="showContinue" ng-click="saveClose()">
        <i class="material-icons">check</i>
        Save&amp;close
      </button>
      <button class="btn btn-primary save-btn" ng-show="showContinue" ng-click="continueEdit()">
        <i class="material-icons">check</i>
        Continue
      </button>
      <button class="btn close-btn" ng-click="close()">
        <i class="material-icons">close</i>
        Close
      </button>
    </div>
  </div>

  <div class="cs-save-errors" ng-show="showErrors">
    <span class="cs-hide-errors" ng-click="showErrors=false">x</span>
    <ul>
      <li ng-repeat="err in saveErrors track by $index">{{err}}</li>
    </ul>
  </div>
  <div ng-if="initState=='init'" class="masking-loader" translate></div>
  <div ng-class="{loader: initState=='init'}"></div>
  <div ng-if="initState=='error'" class="cs-flow-error" translate>loading-error</div>
</div>
