<md-dialog class="cs-edit-dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{ctrl.title | translate}} - {{ctrl.titleType | translate}}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">
        <div uib-alert class="alert-danger error-message" ng-show="errMessage" close="errMessage = ''">
            <p ng-repeat="(key, message) in errMessage" style="margin:0;">{{message}}</p>
        </div>
        <form name="editForm" ng-submit="ctrl.save()" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name<span class="star-icon">*</span>：</label>
                <div class="col-sm-5">
                    <input type="text" name="name" class="form-control" ng-model="item.name" required ng-change="nameChanged()">
                    <span style="color:red" ng-show="editForm.name.$dirty && editForm.name.$invalid">
                    <span ng-show="editForm.name.$error.required">Name is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Url<span class="star-icon">*</span>：</label>
                <div class="col-sm-5">
                    <input my-text="" type="text" name="url" class="form-control" ng-model="item.url" ng-blur="validateUrl()" required>
                    <span style="color:red" ng-show="editForm.url.$dirty && editForm.url.$invalid">
                    <span ng-show="editForm.url.$error.required">Url is required.</span>
                    <span ng-show="editForm.url.$error.urlformat">URL must be a valid URL.</span>
                    </span>
                </div>
            </div>
            <div class="url-tokens-row form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <i>Available URL tokens:</i>
                    <div class="url-tokens">
                        <div class="url-token"
                            ng-repeat="url in urlItem"
                            ng-click="urlTokenClick(url)"
                            ng-class="{'selected': item.url.indexOf(url) > -1}"
                        >
                            <span class="url-token-icon">+</span>
                            <span class="url-token-caption">{{url}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Number of offers<span class="star-icon">*</span>：</label>
                <div class="col-sm-5">
                    <input type="text" name="numberOfOffers" class="form-control" ng-model="item.numberOfOffers" required>
                    <span style="color:red" ng-show="editForm.numberOfOffers.$dirty && editForm.numberOfOffers.$invalid">
                    <span ng-show="editForm.numberOfOffers.$error.required">NumberOfOffers is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Country<span class="star-icon">*</span>: </label>
                <div class="col-sm-5">
                    <select class="cs-subform-select" name="country"
                        ng-model="item.country"
                        ng-change="countryChanged(item.country)"
                    >
                        <option value="{{country.value}}" ng-repeat="country in countries">{{country.display}}</option>
                    </select>
                    <span style="color:red" ng-show="editForm.country.$dirty && editForm.country.$invalid">
                    <span ng-show="editForm.country.$error.required">Country is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tags：</label>
                <div class="col-sm-5">
                    <selectize config='tagsFilter.config' options='tagsFilter.options' ng-model="tags"></selectize>
                    <!-- <md-chips
                            ng-model="tags"
                            readonly="ctrl.readonly"
                            md-removable="ctrl.removable"
                            placeholder="Enter a tag"
                            delete-button-label="Remove Tag"
                            delete-hint="Press delete to remove tag"
                            secondary-placeholder="+Tag"
                            md-max-chips="10">
                    </md-chips> -->
                </div>
            </div>
        </form>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" ng-click="ctrl.save()" ng-disabled="editForm.$invalid">{{'save' | translate}}
        </md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>
