<md-dialog class="cs-edit-dialog offer-title" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools cam-title">
            <h2 class="md-title">{{ctrl.title | translate}} - {{ctrl.titleType | translate}}</h2>
        </div>
    </md-toolbar>

    <div class="offer-remind">
        <i class="material-icons">info_outline</i>
        It is required to use the {clickId} token if you want to track conversions.
    </div>

    <md-dialog-content class="md-dialog-content">

        <div uib-alert class="alert-danger error-message" ng-show="errMessage" close="errMessage = ''">
            <p ng-repeat="(key, message) in errMessage" style="margin:0;">{{message}}</p>
        </div>
        <form name="editForm" ng-submit="ctrl.save()" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name<span class="star-icon">*</span>：</label>
                <div class="col-sm-7">
                    <input type="text" name="name" class="form-control" ng-model="item.name"
                        ng-change="nameChanged(item.name)"
                        ng-blur="nameRequired()"
                        async-check-name="checkNameParams"
                        async-validator-callback="validateCallback"
                        post-validater-callback="postValidateCallback()"
                    >
                    <span style="color:red" ng-show="editForm.name.$invalid">
                        <span ng-show="editForm.name.$error.asyncCheckName">Name already exists.</span>
                        <span ng-show="editForm.name.$error.nameRequired">Name is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Url<span class="star-icon">*</span>：</label>
                <div class="col-sm-7">
                    <input my-text="" type="text" name="url" class="form-control" ng-model="item.url" ng-blur="validateUrl()" required>
                    <span style="color:red" ng-show="editForm.url.$dirty && editForm.url.$invalid">
                    <span ng-show="editForm.url.$error.required">Url is required.</span>
                    <span ng-show="editForm.url.$error.urlformat">URL must be a valid URL.</span>
                    </span>
                </div>
            </div>
            <div class="url-tokens-row form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-7">
                    <i>Available URL tokens:</i>
                    <div class="url-tokens">
                        <div class="url-token"
                            ng-repeat="url in urlItem"
                            ng-click="urlTokenClick(url)"
                            ng-class="{'selected': item.url.indexOf(url) > -1}"
                        >
                            <span class="url-token-icon">+</span>
                            <span class="url-token-caption">{{url}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Country: </label>
                <div class="col-sm-7 my-select">
                    <md-select class="cs-subform-select" name="country" ng-model="item.country" ng-change="countryChanged(item.country)" ng-disabled="countryInputDisabled">

                        <md-option value="{{cou.value}}" ng-repeat="cou in countries">{{cou.display}}</md-option>
                    </md-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Affiliate network: </label>
                <div class="col-sm-7 my-select">
                    <md-select name="AffiliateNetworkId" class="cs-subform-select" ng-model="affiliateId" ng-change="affiliateChanged(affiliateId)">
                        <md-option value="0"></md-option>
                        <md-option value="{{affiliate.id}}" ng-repeat="affiliate in affiliates track by $index">{{affiliate.name}}</md-option>
                    </md-select>
                    <span class="btn btn-primary blue-btn" ng-click="addAffiliateNetwork()">Add affilaite network</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Postback Url：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="item.postbackUrl" ng-readonly="true">
                </div>
                <div class="col-sm-2">
                    <md-button clipboard class="md-raised copied-btn" ng-show="item.postbackUrl" text="item.postbackUrl" ng-click="itemUrlClick()">
                        <i class="material-icons">content_copy</i>
                        {{btnWord}}
                    </md-button>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Payout<span class="star-icon">*</span>：</label>
                <div class="col-sm-7">
                    <label class="radio-inline">
                        <input type="radio" name="payoutMode" ng-model="item.payoutMode" value="0" required> Auto
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="payoutMode" ng-model="item.payoutMode" value="1" required> Manual
                    </label>
                    <span style="color:red" ng-show="editForm.payoutMode.$dirty && editForm.payoutMode.$invalid">
                    <span ng-show="editForm.payoutMode.$error.required">PayoutMode is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-show="item.payoutMode == 1">
                <label class="col-sm-3 control-label" ng-modle="radioTitle"></label>
                <div class="col-sm-7">
                    <span class="dollar-icon">$</span>
                    <input type="text" class="form-control dollar-input" ng-model="item.payoutValue" ng-value="$">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tags：</label>
                <div class="col-sm-7">
                    <selectize config='tagsFilter.config' options='tagsFilter.options' ng-model="tags"></selectize>
                    <!-- <md-chips
                            ng-model="tags"
                            readonly="ctrl.readonly"
                            md-removable="ctrl.removable"
                            placeholder="Enter a tag"
                            delete-button-label="Remove Tag"
                            delete-hint="Press delete to remove tag"
                            secondary-placeholder="+Tag"
                            md-max-chips="10">
                    </md-chips> -->
                </div>
            </div>
        </div>
        </form>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary disabled-btn" ng-click="ctrl.save()" ng-disabled="editForm.$invalid || saveStatus">{{'save' | translate}}
        </md-button>
        <md-button class="md-primary red-btn" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>
