<h1 class="setting-title">Your account data</h1>

<div class="form-column profile-content">
  <form name="form" class="account-form" ng-submit="accountSave()">
    <div class="basic-form clearfix">
      <div class="col-md-6">
        <div class="form-group">
          <label>First name<span class="star-icon">*</span></label>
          <input type="text" name="firstname" class="form-control" ng-model="accountItem.firstname" required>
          <span style="color:red" ng-show="form.firstname.$dirty && form.firstname.$invalid">
          <span ng-show="form.firstname.$error.required">FirstName is required.</span>
          </span>
        </div>
        <div class="form-group">
          <label>Company name<span class="star-icon">*</span></label>
          <input type="text" name="companyname" class="form-control" ng-model="accountItem.companyname" required>
          <span style="color:red" ng-show="form.companyname.$dirty && form.companyname.$invalid">
          <span ng-show="form.companyname.$error.required">CompanyName is required.</span>
          </span>
        </div>
        <div class="form-group">
          <label>Default time zone</label>
          <select class="cs-subform-select" ng-model="accountItem.timezone" required>
            <option ng-repeat="tz in timezone" value="{{tz.utcShift}}">{{tz.detail}}</option>
          </select>
        </div>
        <div class="form-group clearfix">
          <label>Default home screen</label>
          <div class="campaign-radio">
            <label class="radio-inline">
              <input type="radio" ng-model="accountItem.homescreen" value="dashboard" checked>Dashboard
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="accountItem.homescreen" value="Campaign list">Campaign list
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Last name<span class="star-icon">*</span></label>
          <input type="text" name="lastname" class="form-control" ng-model="accountItem.lastname" required>
          <span style="color:red" ng-show="form.lastname.$dirty && form.lastname.$invalid">
          <span ng-show="form.lastname.$error.required">LastName is required.</span>
          </span>
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="tel" name="tel" class="form-control" ng-model="accountItem.tel" ng-pattern="phoneNumbr" maxlength="11" minlength="11">
        </div>
      </div>
    </div>
    <div class="profile-form-footer clearfix">
      <md-button class="save-btn" ng-click="accountSave()" ng-disabled="form.$invalid">
        <i class="icon-ok"></i>
        save
      </md-button>
    </div>
  </form>
</div>

<h1 class="setting-title">Password and e-mail change</h1>

<div class="form-column profile-content password-change">
  <div class="basic-form clearfix">
  <form name="passwordForm" ng-submit="passwordUpdateSave()">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
        <label>Old password</label>
        <input type="password" name="oldpassword" class="form-control" ng-model="passwordItem.oldpassword">
        <span style="color:red" ng-show="passwordForm.oldpassword.$invalid">
          <span ng-show="passwordForm.oldpassword.$error.required">Old password is required.</span>
        </span>
      </div>
      <div class="form-group">
        <label>New password</label>
        <input type="password" name="newpassword" class="form-control" ng-model="passwordItem.newpassword">
        <span style="color:red" ng-show="passwordForm.newpassword.$invalid">
          <span ng-show="passwordForm.newpassword.$error.required">New password is required.</span>
        </span>
      </div>
      <div class="form-group">
        <label>Repeat new password</label>
        <input type="password" name="repeatNewPassword" class="form-control" ng-model="passwordItem.repeatNewPassword">
        <span style="color:red" ng-show="passwordForm.repeatNewPassword.$invalid">
          <span ng-show="passwordForm.repeatNewPassword.$error.required">Repeat password is required.</span>
        </span>
        <span style="color: red;" ng-show="passwordItem.newpassword!=passwordItem.repeatNewPassword">*Password is not the same</span>
      </div>
      <div class="profile-form-footer clearfix">
        <md-button class="save-btn" ng-click="passwordUpdateSave()">
          <i class="icon-ok"></i>
          save
        </md-button>
      </div>
    </div>
  </form>
  <form name="emailForm" ng-submit="emailUpdateSave()">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
        <label>Change e-mail address</label>
        <input type="email" name="email" placeholder="Email" class="form-control no-border" ng-model="emailItem.email" ng-blur="checkEmail()" required>
        <span style="color:red" ng-show="emailForm.email.$dirty && emailForm.email.$invalid">
          <span ng-show="emailForm.email.$error.email">Email must be a valid Email</span>
          <span ng-show="emailForm.email.$error.check">Email is exist</span>
        </span>
      </div>
      <div class="form-group">
        <label>Confirm with your password</label>
        <input type="password" name="password" class="form-control" ng-model="emailItem.password" required>
        <span style="color:red" ng-show="emailForm.password.$dirty && emailForm.password.$invalid">
          <span ng-show="emailForm.password.$error.required">password is required.</span>
        </span>
      </div>
      <div class="profile-form-footer clearfix">
        <md-button class="save-btn" ng-click="emailUpdateSave()" ng-disabled="emailForm.$invalid"> 
          <i class="icon-ok"></i>
          save
        </md-button>
      </div>
    </div>
  </form>
  </div>
</div>
