<h1 class="setting-title">Referral program</h1>

<div class="form-column profile-content">
  <div class="referral-program">
    <p>Use the below URLs to direct your referrals to either the Voluum main page or straight to the sign-up page. All sign-ups from these links will be permanently associated with your account. Visitors to these links will have 30 day cookies placed on their computers so you may see delayed referrals. You will be receiving 7% lifetime monthly commissions on all paying referrals, both on their base fees, and overage charges. </p>
    <p>You can find more info and promo materials here.</p>
    <div class="form-group referral-group clearfix">
      <div class="row">
      <label class="col-sm-3 control-label">Link to sign up page</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="linkurl" readonly>
      </div>
      <div class="col-md-3">
        <md-button clipboard class="md-raised copy-btn" text="linkurl" ng-click="itemUrlClick()">{{btnWord}}</md-button>
      </div>
      </div>
    </div>
    <div class="data-table">
      <table md-table multiple class="table">
        <thead md-head md-order="query.order">
          <tr md-row>
            <th md-column md-order-by="referredUserId">User ID</th>
            <th md-column md-order-by="acquired">Acquired</th>
            <th md-column md-order-by="status">Status</th>
            <th md-column md-order-by="lastactivity">Last activity</th>
            <th md-column md-order-by="recentCommission">Commission from last 30 days</th>
            <th md-column md-order-by="totalCommission">Total commissions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="referral in item.referrals">
            <td>{{referral.referredUserId}}</td>
            <td>{{referral.acquired}}</td>
            <td>{{referral.status}}</td>
            <td>{{referral.lastactivity}}</td>
            <td>{{referral.recentCommission}}</td>
            <td>{{referral.totalCommission}}</td>

          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>TOTAL</td>
            <td>Referrals:{{item.totals.count}}</td>
            <td></td>
            <td></td>
            <td><em ng-show="item.totals.recentCommission">{{item.totals.recentCommission}}</em><em ng-show="!item.totals.recentCommission">0.00</em>$</td>
            <td><em ng-show="item.totals.totalCommission">{{item.totals.totalCommission}}</em><em ng-show="!item.totals.totalCommission">0.00</em>$</td>
          </tr>
        </tfoot>
      </table>
    </div>

      <md-table-pagination md-limit="query.limit" md-page="query.page"
                           md-total="{{item.totals.count}}" md-on-paginate="getList" md-page-select></md-table-pagination>
  </div>
</div>
