<div class="cs-report-filter hidden">
  <span>Filters:</span>
  <ul>
    <li ng-repeat="f in filters">
      <em>{{f.key}}</em>: <span>{{f.name}}</span><i class="material-icons" ng-click="deleteFilter(f)">close</i>
    </li>
  </ul>
</div>

<div class="notifications-bar">
  <div class="pagination text"></div>
  <div class="notification-bar-content">
    <div class="notification-text">Update payment method - Your current payment methods can't be charged.</div>
  </div>
  <div class="actions">
    <md-icon class="md-24">close</md-icon>
  </div>
</div>

<div class="sticky toolbelt-bar-box">
  <div class="toolbelt-bar primary-toolbelt" ng-show="reportSelectedIds.length == 0">
    <div class="left-panel" ng-cloak="">
      <md-fab-speed-dial md-open="addFab.isOpen" md-direction="{{addFab.direction}}" class="md-fling">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn" ng-click="editItem($event)" ng-if="perfType != 'campaign'">
            <md-icon class="md-24">add</md-icon>
          </md-button>
          <md-button aria-label="menu" class="md-fab md-warn" ng-if="perfType == 'campaign'">
            <md-icon class="md-24">add</md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions ng-if="perfType == 'campaign'">
          <md-button class="md-fab md-raised md-mini" ng-click="editItem($event)">TRk</md-button>
          <md-button class="md-fab md-raised md-mini" href="http://mdsp.newbidder.com/" target="_blank">DSP</md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
    <div class="right-panel">
      <md-input-container class="md-block">
        <input ng-model="datePicker.date" type="text"
          date-range-picker
          options="options" readonly
          class="pull-right date-picker"
        />
      </md-input-container>
      <md-input-container md-no-float class="md-block">
        <md-icon class="material-icons">search</md-icon>
        <input ng-model="searchFilter" type="text"
          class="filter-keyword"
          placeholder="Find campaigns"
          ng-change="filterKeywordChanged(searchFilter)"
          ng-click="filterKeywordChanged(searchFilter)"
        />
      </md-input-container>
      <i class="glyphicon glyphicon-filter" ng-click="openFilter()"><md-tooltip md-direction="Bottom">'Filter' lets you filter your tabel's data to see what matters most to you.</md-tooltip></i>
      <i class="material-icons data-usage-groups" ng-click="openSegment()">
        data_usage
        <md-tooltip md-direction="Bottom">'Segment' lets you segment your table's data to break out what's most important to you.</md-tooltip>
      </i>
      <i class="material-icons view-column-icon" ng-click="viewColumnClick()">
        view_column
        <md-tooltip md-direction="Bottom">'Columns' lets you modify the columns you see in your table.</md-tooltip>
      </i>
      <i class="material-icons more-vert-icon" ng-click="showMorePanel()">
        more_vert
        <md-tooltip md-direction="Bottom">More options</md-tooltip>
      </i>
      <div class="view_column">
        <div class="view_column_con" ng-show="viewColumnIsShow">
          <ul class="view_column_list">
            <li ng-repeat="item in columns | filter:filterColumns" ng-click="checkboxIsChecked($event, item.key)">
              <input type="checkbox"
                ng-model="reportViewColumns[item.key].visible"
                ng-checked="preferences.reportViewColumns[item.key].visible"
                ng-click="checkboxInput($event)"
              >{{item.name}}
            </li>
          </ul>
          <div class="my-btn">
            <md-button class="md-raised md-primary cs-compact cs-add-button blue-btn" ng-click="applyChange($event)">
              <i class="icon-ok"></i>
              {{'apply changes' | translate}}
            </md-button>
            <md-button class="md-raised md-primary cs-compact red-btn"  ng-click="viewCloumnClose($event)">
              <i class="icon-remove"></i>
              {{'close' | translate}}
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="toolbelt-bar secondary-toolbelt" ng-show="reportSelectedIds.length > 0">
    <div class="left-panel">
      <div>{{reportSelectedIds.length}} selected</div>
      <div class="icon-text">
        <div class="line"></div>
      </div>
      <div class="edit-selected-items-button" ng-click="showSelectedItemsPanel()">
        Edit <md-icon class="md-24">arrow_drop_down</md-icon>
      </div>
    </div>
    <div class="right-panel">
      <md-icon class="md-24" ng-click="closeEditToolbelt()">close</md-icon>
    </div>
  </div>
</div>

<div class="cs-action-bar-bg">
    <div class="cs-action-bar clearfix">
        <div class="left-con">
            <a ng-if="perfType == 'campaign'" class="md-raised md-primary cs-compact cs-add-button green-btn" style="float: left;margin-right: 10px;color: #fff;" ui-sref="app.suddenChange">Auto</a>
            <div class="cs-subform-control">
                <md-select aria-label="Group By" class="cs-subform-select" ng-model="groupBy[0]" placeholder="Choose grouping" ng-change="changeGroupby(0)">
                    <!--<option value="">Choose grouping</option>-->
                    <md-option value="{{gb.value}}" ng-repeat="gb in groupByOptions | filter: groupbyFilter">{{gb.display}}<em ng-if="groupbyParamValue(gb)">: {{gb.paramValue}}</em></md-option>
                </md-select>
            </div>
            <div class="cs-subform-control">
                <md-select aria-label="Group By" class="cs-subform-select" ng-model="groupBy[1]" ng-disabled="!groupBy[0] || groupBy[0]=='ip'" placeholder="Choose Grouping" ng-change="changeGroupby(1)">
                    <md-option value="">Choose Grouping</md-option>
                    <md-option value="{{gb.value}}" ng-repeat="gb in groupByOptions | filter:groupbyFilter1">{{gb.display}}<em ng-if="groupbyParamValue(gb)">: {{gb.paramValue}}</em></md-option>
                </md-select>
            </div>
            <div class="cs-subform-control">
                <md-select aria-label="Group By" class="cs-subform-select" ng-model="groupBy[2]" ng-disabled="!groupBy[1]" placeholder="Choose Grouping">
                    <md-option value="">Choose Grouping</md-option>
                    <md-option value="{{gb.value}}" ng-repeat="gb in groupByOptions | filter:groupbyFilter2">{{gb.display}}<em ng-if="groupbyParamValue(gb)">: {{gb.paramValue}}</em></md-option>
                </md-select>
            </div>
        </div>

        <div class="right-select" ng-class="{'right-select2': datetype == '0'}">
          <md-menu-bar id="new_campaign_menu" ng-if="perfType == 'campaign'" ng-disabled="!canEdit()">
              <md-menu>
                <button ng-click="$mdMenu.open()">
                  <span class="tools-menu clearfix">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span class="tools-word">New campaign</span><i class="material-icons md-mini"></i>
                  </span>
                </button>
                <md-menu-content id="new_campaign_sub_menu">
                  <md-menu-item>
                    <md-button ng-click="editItem($event)">New TRK campaign</md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button href="http://mdsp.newbidder.com/" target="_blank">New DSP campaign</md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
          </md-menu-bar>

            <md-button ng-if="perfType != 'campaign'" class="md-raised md-primary cs-compact cs-add-button blue-btn" ng-click="editItem($event)" translate ng-disabled="!canEdit()">Add</md-button>
            <div class="cs-subform-control search-con">
                <input type="text" class="cs-filter-input" ng-model="searchFilter" placeholder="Search...">
                <i class="search-btn"></i>
            </div>
            <div class="cs-subform-control">
                <md-select aria-label="select" class="cs-subform-select" ng-model="datetype" ng-change="initDefaultCustomDate(datetype)">
                  <md-option value="{{dt.value}}" ng-repeat="dt in datatypes | filter: datetypeFilter">{{dt.display}}</md-option>
                </md-select>
            </div>
            <div class="cs-subform-group" ng-show="datetype==0">
                <label class="cs-subform-label">{{'fromDate' | translate}}：</label>
                <div class="cs-subform-control">
                    <button class="cs-button-datepicker" uib-datepicker-popup="yyyy-MM-dd" ng-model="fromDate"
                            is-open="ctrl.dpOpened.a" datepicker-options="fromDateOptions"
                            ng-required="true" close-text="Close" ng-click="ctrl.dpOpened.a=true" type="button">
                        {{fromDate | date: 'yyyy-MM-dd'}}<i class="icon-rl-02"></i>
                    </button>
                    <md-select aria-label="From Time" class="cs-subform-select " ng-model="fromTime">
                        <md-option ng-repeat="hr in hours" value="{{hr}}">{{hr}}</md-option>
                    </md-select>
                </div>
                <label class="cs-subform-label">{{'toDate' | translate}}：</label>
                <div class="cs-subform-control">
                    <button class="cs-button-datepicker" uib-datepicker-popup="yyyy-MM-dd" ng-model="toDate"
                            is-open="ctrl.dpOpened.b" datepicker-options="toDateOptions"
                            ng-required="true" close-text="Close" ng-click="ctrl.dpOpened.b=true" type="button">
                        {{toDate | date: 'yyyy-MM-dd'}}<i class="icon-rl-02"></i>
                    </button>
                    <md-select aria-label="To Time" class="cs-subform-select" ng-model="toTime">
                        <md-option ng-repeat="hr in hours" value="{{hr}}">{{hr}}</md-option>
                    </md-select>
                </div>
            </div>


            <div class="selectAll hidden">
                <md-select aria-label="select" class="cs-subform-select" ng-model="activeStatus" ng-disabled="groupBy[1] || activeStatusIsDisabled()">
                    <md-option value="0">Archived</md-option>
                    <md-option value="1">Active</md-option>
                    <md-option value="2">All</md-option>
                </md-select>
            </div>
            <md-button class="md-raised md-primary cs-compact cs-add-button blue-btn apply-change-btn" ng-class="{'apply-btn': applyBtn}" ng-model="btnName" ng-click="applySearch()" ng-disabled="disabled" translate>{{btnName}}</md-button>
            <md-button class="md-raised md-primary cs-compact cs-add-button blue-btn apply-change-btn" ng-if="resetBtn || groupBy[1]" ng-click="resetSearchParams()" ng-disabled="disabled" translate>reset</md-button>
            <md-button class="md-raised md-primary cs-compact cs-add-button green-btn" ng-click="downLoad($event)" translate><i class="icon-download-alt"></i>Export CSV</md-button>

            <a ng-hide="perfType == 'campaign'" ng-click="addNewCampaign()">
              <md-button
                class="md-raised md-primary cs-compact cs-add-button add-btn"
                translate
              >
                <i class="icon-plus"></i>
                Campaign
              </md-button>
            </a>
            <!--
            <div class="view_column blue-btn" ng-click="viewColumnClick()">
                <div class="view_column_con" ng-show="viewColumnIsShow">
                    <ul class="view_column_list">
                        <li ng-repeat="item in columns | filter:filterColumns" ng-click="checkboxIsChecked($event, item.key)">
                            <input type="checkbox" ng-model="reportViewColumns[item.key].visible" ng-checked="preferences.reportViewColumns[item.key].visible" ng-click="checkboxInput($event)">{{item.name}}
                        </li>
                    </ul>
                    <div class="my-btn">
                        <md-button class="md-raised md-primary cs-compact cs-add-button blue-btn" ng-click="applyChange($event)">
                            <i class="icon-ok"></i>
                            {{'apply changes' | translate}}
                        </md-button>

                        <md-button class="md-raised md-primary cs-compact red-btn"  ng-click="viewCloumnClose($event)">
                            <i class="icon-remove"></i>
                            {{'close' | translate}}
                        </md-button>
                    </div>
                </div>
                <i class="material-icons view-column-icon">view_column</i>
                <i class="material-icons arrow-down-icon">keyboard_arrow_down</i>
            </div>
            -->
        </div>
    </div>
</div>
<!-- filter bar -->
<div class="filter-bar" ng-show="openFilterUI">
  <div class="main-wrapper">
    <div class="header">Filter</div>
    <div class="predicates-container">
      <div class="predicate-editor" ng-repeat="filterExpression in filterExpressions" ng-click="editFilterExpression(filterExpression)">
        <div class="md-chip">
          <span>{{filterExpression.name}} {{filterExpression.operator}} {{filterExpression.value}}</span>
          <i class="glyphicon glyphicon-remove-circle" ng-click="filterExpressionRemove(filterExpression)"></i>
        </div>
      </div>
      <div class="menu-suggest-input">
        <input class="menu-open-button" type="text" ng-change="filterItem(filter)" ng-model="filter" ng-click="showMenu($event)" ng-blur="filterItemBlured()"/>
      </div>
    </div>
  </div>
  <div class="buttons-wrapper">
    <div class="save-filter" ng-show="filterSaveUI" ng-click="saveFilter()">
      <i class="glyphicon glyphicon-saved"></i>
    </div>
    <div class="remove-filter" ng-click="closeFilter()">
      <i class="glyphicon glyphicon-remove"></i>
    </div>
  </div>
</div>

<!-- group -->
<div class="filter-bar" ng-show="openSegmentUI">
  <div class="main-wrapper">
    <div class="header">Segment</div>
    <div class="predicates-container">
      <div class="predicate-editor" ng-repeat="segmentExpression in segmentExpressions">
        <div class="md-chip">
          <span>{{segmentExpression.display}}:{{segmentExpression.value}}</span>
          <i class="glyphicon glyphicon-remove-circle" ng-click="segmentExpressionRemove(segmentExpression)"></i>
        </div>
      </div>
      <div class="menu-suggest-input">
        <input class="menu-segment-open-button" type="text" ng-change="segmentItem(segment)" ng-model="segment" ng-click="showSegmentMenu($event)" ng-blur="segmentItemBlured()"/>
      </div>
    </div>
  </div>
  <div class="buttons-wrapper">
    <div class="remove-filter" ng-click="closeSegment()">
      <i class="glyphicon glyphicon-remove"></i>
    </div>
  </div>
</div>


<div flex class="cs-page-content report">
  <div class="breadcrumb-div" ng-if="filters.length > 0">
    <div>
      <ul class="breadcrumb">
        <li ng-repeat="filter in filters track by $index">
          <em><a ng-click="removeFilter($index - 1)"><span style="color: dodgerblue">{{filter.key + ': ' + filter.name}}</span></a></em>
        </li>
        <li><em>{{perfType}}</em></li>
      </ul>
    </div>
  </div>
  <div class="table-box">
    <md-table-container resize class="repeater-container" style="overflow-anchor: none;">
        <table md-table multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" fix-head>
            <tr md-row>
                <th ng-if="canEdit()" md-column class="text-center"><input class="check-all" type="checkbox"></i></th>
                <th ng-if="canEdit()" md-column class="text-center" class="row-action">St</i></th>
                <th md-column ng-if="treeLevel>1"></th>
                <th md-column md-order-by="{{item.origKey || item.key}}" ng-repeat="item in columns track by $index" ng-class="{'item-name': $index == 0}" class="text-right"
                    ng-if="preferences.reportViewColumns[item.key].visible || item.role=='name'">{{item.name}}
                </th>
            </tr>
            </thead>
            <tbody md-body id="repeater_container">
              <!-- <tr md-row
                  ng-repeat="row in report.rows" ng-if="row.parentRow.expanded"
                  ng-class="{'first-tree': treeLevel>1 && row.treeLevel==1, 'row-deleted': row.data.deleted==1 }">
                <td ng-if="canEdit()" class="row-action" ng-class="{'deleted': row.data.deleted==1, 'enabled': row.data.deleted==0}">
                  <i class="icon-remove" ng-if="row.data.deleted==1"></i>
                  <i class="icon-circle" ng-if="row.data.deleted==0"></i>
                </td>
                <td md-cell ng-if="treeLevel>1">
                  <i class="material-icons table-arrow-down" ng-class="{active:row.expanded}"
                     ng-if="row.treeLevel<treeLevel"
                     ng-click="toggleRow(row)">keyboard_arrow_right</i></td>
                <td md-cell
                    ng-repeat="column in columns track by $index"
                    ng-if="preferences.reportViewColumns[column.key].visible  || column.role=='name'"
                    ng-class="{'red':row.data[column.key] < 0 && column.key == 'roi','green':row.data[column.key] > 0 && column.key == 'roi', 'item-name': $index == 0}">
                  <span ng-if="column.role=='name' && row.treeLevel == 1">
                    <md-menu-bar style="padding: 0;">
                        <md-menu>
                            <a ng-click="menuOpen($mdMenu, row)">
                              {{::row.data[column.key]}}
                              <i class="material-icons arrow-down-icon drilldown-tag">keyboard_arrow_down</i>
                            </a>
                            <md-menu-content width="3">
                                <md-menu-item ng-if="canEdit(row) && !row.data.deleted"><md-button ng-click="editItem($event, row)">Edit</md-button></md-menu-item>
                                <md-menu-item ng-if="canEdit(row) && !row.data.deleted"><md-button ng-click="editItem($event, row, true)">Duplicate</md-button></md-menu-item>
                                <md-menu-item ng-if="canEdit(row) && !row.data.deleted"><md-button ng-click="deleteItem($event, row)">Delete</md-button></md-menu-item>
                                <md-menu-item ng-if="canEdit(row) && row.data.deleted"><md-button ng-click="restoreItem($event, row)">Restore</md-button></md-menu-item>
                                <md-menu-item ng-if="canEdit(row) && perfType=='campaign'"><md-button clipboard text="copyCampaignUrl"><a href="{{copyCampaignUrl}}" target="_blank" class="campaign-preview">Preview</a></md-button></md-menu-item>
                                <md-menu-item ng-if="canEdit(row) && perfType=='campaign'"><md-button clipboard text="copyCampaignUrl" ng-click="copyUrlClick()">Copy Url</md-button></md-menu-item>
                                <md-menu-item ng-if="treeLevel == 1">
                                    <md-menu>
                                        <md-button ng-click="$mdMenu.open()">Drilldown by...</md-button>
                                        <md-menu-content width="3">
                                            <md-menu-item ng-repeat="gb in groupByOptions | filter:drilldownFilter track by $index">
                                                <md-button ng-click="drilldown(row, gb)">{{::gb.display}} <em ng-if="gb.role == 'campaign'">: {{gb.paramValue}}</em></md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                  </span>
                  <span ng-if="column.role=='name' && row.treeLevel != 1">
                    {{::row.data[column.key]}}
                  </span>
                  <span ng-if="column.role!='name'">
                    {{::isNeedCurrency(column.key) ? (row.data[column.key] | currency) : (isNeedPercent(column.key) ? (row.data[column.key] + '%') : row.data[column.key])}}
                  </span>
                </td>
              </tr> -->
            </tbody>
            <tfoot md-body fix-foot>
              <tr md-row>
                <td md-cell ng-if="canEdit()"></td>
                <td ng-if="canEdit()" md-cell></td>
                <td md-cell ng-if="treeLevel>1"></td>
                <td md-cell>Total</td>
                <td md-cell
                  ng-class="{'red':report.totals[column.key] < 0 && column.key == 'roi','green':report.totals[column.key] > 0 && column.key == 'roi'}"
                  ng-repeat="column in columns"
                  ng-show="preferences.reportViewColumns[column.key].visible && !$first"
                >
                  <div class="text-right">{{isNeedCurrency(column.key) ? (report.totals[column.key] | currency) : (isNeedPercent(column.key) ? ((report.totals[column.key] || 0) + '%') : report.totals[column.key])}}</div>
                </td>
                <!-- <td md-cell></td> -->
              </tr>
            </tfoot>
        </table>
    </md-table-container>
  </div>
  <md-table-pagination md-limit="query.limit"
    md-limit-options="[50, 100, 200, 500, 1000]"
    md-page="query.page"
    md-total="{{report.totalRows}}"
    md-page-select
  >
  </md-table-pagination>
</div>

<script type="text/html" id="report-tpl">
  <% for (var i = 0, l = report.rows.length; i < l; i++) { %>
    <% if(report.rows[i].parentRow.expanded) { %>
      <% var row = report.rows[i]; var treeLevel = report.treeLevel; var columns = report.columns; var activeStatusIsDisabled = report.activeStatusIsDisabled;%>
      <tr data-index="<%=i%>" class="md-row <%=treeLevel>1 && row.treeLevel==1 ? ' first-tree': ''%> <%= row.data.deleted==1 ? ' row-deleted' : ''%>">
        <% if(report.canEdit) {%>
          <td md-cell class="text-center td-checkbox">
          <% if(row.treeLevel == 1) {%>
          <input class="check-item" type="checkbox" value="<%=row.data.id%>">
          <% } %>
          </td>
        <td class="row-action <%=row.data.deleted==1 ? ' deleted': ''%> <%=row.data.deleted==0 ? ' enabled': ''%>">
          <% if(row.data.deleted==1) {%>
          <i class="icon-remove"></i>
          <% } else if(row.data.deleted==0) {%>
            <i class="icon-circle"></i>
          <% }%>
        </td>
        <% } %>
        <% if(treeLevel>1) {%>
        <td class="md-cell tree-level-<%=row.treeLevel%>">
          <% if(row.treeLevel < treeLevel) {%>
          <i data-index="<%=i%>" class="material-icons toggle-row table-arrow-down <%=row.expanded ? ' active': ''%>">keyboard_arrow_right</i></td>
          <% }%>
        <% } %>
        <% for(var k = 0, kLen = columns.length; k < kLen; k++) {%>
          <% var column = columns[k];%>
          <% if(report.reportViewColumns[column.key] && report.reportViewColumns[column.key].visible || column.role == 'name') {var isShowMenu = report.groupByOne != 'ip' && column.role=='name' && row.treeLevel == 1 && (treeLevel == 1 || treeLevel > 1 && !activeStatusIsDisabled); %>
            <td class="md-cell <%=row.data[column.key] < 0 && column.key == 'roi' ? ' red': ''%> <%=row.data[column.key] > 0 && column.key == 'roi' ? ' green': ''%> <%=k==0 && isShowMenu? ' item-name report-name': ''%>">
              <%if(isShowMenu) {%>
              <span><a href="javascript:;"><%=row.data[column.key]%><i class="material-icons arrow-down-icon drilldown-tag">keyboard_arrow_down</i></a></span>
              <% } else if (column.role=='name') {%>
              <span><%=(column.key == 'ip' && row.data.country) ? (row.data.country + ': ' + row.data[column.key]) : row.data[column.key]%></span>
              <% } else if (column.role!='name') {%>
              <span class="<%= ['campaignCountry', 'campaignHash', 'campaignName', 'campaignUrl', 'trafficName'].indexOf(column.key) > -1 ? '' : 'text-right'%>" style="display: block;"><%=['cost', 'revenue', 'epv', 'epc', 'ap', 'profit'].indexOf(column.key) > -1 ? ('$' + row.data[column.key]) : ['ctr', 'cr', 'cv', 'roi'].indexOf(column.key) > -1 ? (row.data[column.key] + '%') : row.data[column.key]%></span>
              <%}%>
            </td>
          <% }%>
        <% } %>
      </tr>
    <% } %>
  <% } %>
</script>
