<div class="cs-report-filter hidden">
  <span>Filters:</span>
  <ul>
    <li ng-repeat="f in filters">
      <em>{{f.key}}</em>: <span>{{f.name}}</span><i class="material-icons" ng-click="deleteFilter(f)">close</i>
    </li>
  </ul>
</div>

<div flex layout="column" class="cs-page-content report">
    <div class="cs-action-bar clearfix">
        <div class="left-con">
            <div class="cs-subform-control">
                <i class="icon-sort-down"></i>
                <select class="cs-subform-select" ng-model="groupBy[0]" placeholder="Choose grouping" ng-change="changeGroupby(0)">
                    <!--<option value="">Choose grouping</option>-->
                    <option value="{{gb.value}}" ng-repeat="gb in groupByOptions | filter:filterIsHow">{{gb.display}}</option>
                </select>
            </div>
            <div class="cs-subform-control">
                <i class="icon-sort-down"></i>
                <select class="cs-subform-select" ng-model="groupBy[1]" ng-disabled="!groupBy[0]" placeholder="Choose grouping" ng-change="changeGroupby(1)">
                    <option value="">Choose grouping</option>
                    <option value="{{gb.value}}" ng-repeat="gb in groupByOptions | filter:groupbyFilter1">{{gb.display}}</option>
                </select>
            </div>
            <div class="cs-subform-control">
                <i class="icon-sort-down"></i>
                <select class="cs-subform-select" ng-model="groupBy[2]" ng-disabled="!groupBy[1]" placeholder="Choose grouping">
                    <option value="">Choose grouping</option>
                    <option value="{{gb.value}}" ng-repeat="gb in groupByOptions | filter:groupbyFilter2">{{gb.display}}</option>
                </select>
            </div>
        </div>
        <div class="right-select" ng-class="{'right-select2': datetype == '0'}">
            <div class="cs-subform-control search-con">
                <input type="text" class="cs-filter-input" ng-model="searchFilter" placeholder="Search...">
                <i class="icon-search md-24" ng-click="applySearch($event)"></i>
            </div>
            <div class="cs-subform-control">
                <md-select class="cs-subform-select" ng-model="datetype">
                    <md-option value="1">Today</md-option>
                    <md-option value="2">Yesterday</md-option>
                    <md-option value="3">Last 7 days</md-option>
                    <md-option value="4">Last 14 days</md-option>
                    <md-option value="5">This Week</md-option>
                    <md-option value="6">Last Week</md-option>
                    <md-option value="7">This Month</md-option>
                    <md-option value="8">Last Month</md-option>
                    <md-option value="0">Custom</md-option>
                </md-select>
            </div>
            <div class="cs-subform-group" ng-show="datetype==0">
                <label class="cs-subform-label">{{'fromDate' | translate}}：</label>
                <div class="cs-subform-control">
                    <button class="cs-button-datepicker" uib-datepicker-popup="yyyy-MM-dd" ng-model="fromDate"
                            ng-max="toDate" is-open="ctrl.dpOpened.a" datepicker-options="dateOptions"
                            ng-required="true" close-text="Close" ng-click="ctrl.dpOpened.a=true" type="button">
                        {{fromDate | date: 'yyyy-MM-dd'}}<i class="glyphicon glyphicon-calendar"></i>
                    </button>
                    <select class="cs-subform-select" ng-model="fromTime">
                      <option ng-repeat="hr in hours" value="{{hr}}">{{hr}}</option>
                    </select>
                </div>
                <label class="cs-subform-label">{{'toDate' | translate}}：</label>
                <div class="cs-subform-control">
                    <button class="cs-button-datepicker" uib-datepicker-popup="yyyy-MM-dd" ng-model="toDate"
                            ng-min="fromDate" is-open="ctrl.dpOpened.b" datepicker-options="dateOptions"
                            ng-required="true" close-text="Close" ng-click="ctrl.dpOpened.b=true" type="button">
                        {{toDate | date: 'yyyy-MM-dd'}}<i class="glyphicon glyphicon-calendar"></i>
                    </button>
                    <select class="cs-subform-select" ng-model="toTime">
                      <option ng-repeat="hr in hours" value="{{hr}}">{{hr}}</option>
                    </select>
                </div>
            </div>


            <div class="selectAll">
                <md-select class="cs-subform-select" ng-model="activeStatus" required>
                    <md-option value="0">Archived</md-option>
                    <md-option value="1">Active</md-option>
                    <md-option value="2">All</md-option>
                </md-select>
            </div>
            <md-button class="md-raised md-primary cs-compact cs-add-button" ng-click="applySearch($event)" translate>apply</md-button>

            <md-button class="md-raised md-primary cs-compact cs-add-button" ng-click="editItem($event)" translate>add</md-button>
            <div class="view_column" ng-click="viewColumnClick()">
                <div class="view_column_con" ng-show="viewColumnIsShow">
                    <ul class="view_column_list">
                        <li ng-repeat="item in columns" ng-click="checkboxIsChecked(item.key)">
                            <input type="checkbox" ng-model="reportViewColumns[item.key].visible" ng-checked="preferences.reportViewColumns[item.key].visible" ng-click="checkboxInput($event)">{{item.name}}
                        </li>
                    </ul>
                    <div class="my-btn">
                        <md-button class="md-raised md-primary cs-compact cs-add-button" ng-click="applyChange()">
                            <i class="icon-ok"></i>
                            {{'apply changes' | translate}}
                        </md-button>

                        <md-button class="md-raised md-primary cs-compact cs-add-button"  ng-click="viewCloumnClose()">
                            <i class="icon-remove"></i>
                            {{'close' | translate}}
                        </md-button>
                    </div>
                </div>
                <i class="material-icons view-column-icon">view_column</i>
                <i class="material-icons arrow-down-icon">keyboard_arrow_down</i>
            </div>
        </div>
    </div>

    <md-table-container>
        <table md-table multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order">
            <tr md-row>
                <th md-column ng-if="treeLevel>1"></th>
                <th md-column md-order-by="{{item.key}}" ng-repeat="item in columns"
                    ng-show="preferences.reportViewColumns[item.key].visible">{{item.name}}
                </th>
            </tr>
            </thead>
            <tbody md-body>
              <tr md-row
                  ng-repeat="row in report.rows" ng-show="row.parentRow.expanded"
                  ng-class="{'first-tree': treeLevel>1 && row.treeLevel==1 }">
                <td md-cell ng-if="treeLevel>1">
                  <i class="material-icons table-arrow-down" ng-class="{active:row.expanded}"
                     ng-if="row.treeLevel<treeLevel"
                     ng-click="toggleRow(row)">keyboard_arrow_right</i></td>
                <td md-cell
                    ng-repeat="column in columns"
                    ng-show="preferences.reportViewColumns[column.key].visible">
                    <!--ng-click="openMenu($event, row, column.role)"-->
                  <span ng-if="column.role=='name' && treeLevel==1">
                    <md-menu-bar style="padding: 0;">
                        <md-menu>
                            <a ng-click="$mdMenu.open()">{{row.data[column.key]}}</a>
                            <md-menu-content width="3">
                                <md-menu-item ng-if="canEdit"><md-button ng-click="editItem($event, row)">Edit</md-button></md-menu-item>
                                <md-menu-item ng-if="canEdit"><md-button ng-click="editItem($event, row, true)">Duplicate</md-button></md-menu-item>
                                <md-menu-item ng-if="canEdit"><md-button ng-click="deleteItem($event, row)">Delete</md-button></md-menu-item>
                                <md-menu-item>
                                    <md-menu>
                                        <md-button ng-click="$mdMenu.open()">Drilldown by...</md-button>
                                        <md-menu-content width="3">
                                            <md-menu-item ng-repeat="gb in groupByOptions | filter:drilldownFilter">
                                                <md-button ng-click="drilldown(row, gb)">{{gb.display}}</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                  </span>
                  <span ng-if="column.role!='name' || treeLevel>1">
                    {{row.data[column.key]}}
                  </span>
                </td>
              </tr>
            </tbody>
            <tfoot md-body ng-if="report.totalRows != 0">
              <tr md-row>
                <td md-cell ng-if="treeLevel>1"></td>
                <td md-cell ng-show="preferences.reportViewColumns[columns[0].key].visible">Total</td>
                <td md-cell ng-repeat="column in columns" ng-show="preferences.reportViewColumns[column.key].visible && !$first">{{report.totals[column.key]}}</td>
                <!-- <td md-cell></td> -->
              </tr>
            </tfoot>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="[50, 100, 200, 500, 1000]" md-page="query.page"
                         md-total="{{report.totalRows}}" md-page-select></md-table-pagination>
</div>
