<div class="signin-box">
    <div class="container w-xxl w-auto-xs w-top">
        <div class="navbar-brand block m-t"><img src="../assets/img/logo-two.png"></div>
        <div class="m-b-lg">
            <form name="form" class="form-validation">
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <i class="icon-envelope form-control-feedback small-font icon-envelope-top"></i>
                        <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email"
                               required>
                    </div>
                </div>
                <button type="submit"
                        class="btn btn-lg btn-primary btn-block blue-btn blue-btn-h"
                        ng-click="resetPwd()"
                        ng-disabled="form.$invalid || loginStatus" translate
                >
                    {{ 'Reset Password' | translate}}
                </button>
                <a href class="go-back" ng-click="goSignin()">Go back to log in page</a>
                <div class="line line-dashed"></div>
          </form>
      </div>

  </div>
  <div class="text-center boot-bg navbar-fixed-bottom">
      <p>
          <small class="text-muted">All Rights Reserved &copy; 2017</small>
      </p>
  </div>
</div>
