<div class="container w-xxxxl w-auto-xs">
    <div class="navbar-brand block m-t"><img src="../assets/img/logo-two.png"></div>
    <div class="m-b-lg">
        <form name="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12 sign-input">
                    <i class="icon-lock form-control-feedback"></i>
                    <input type="password" name="password" placeholder="Password" class="form-control"
                           ng-model="user.password" required>
                    <span style="color:red" ng-show="form.password.$dirty && form.password.$invalid">
                        <span style="color:red" ng-show="form.password.$invalid">
                    <span ng-show="form.password.$error.required">Password is required.</span>
                    </span></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 sign-input">
                    <i class="icon-lock form-control-feedback"></i>
                    <input type="password" name="repeatpassword" placeholder="Repeat Password" class="form-control"
                           ng-model="repeatpassword">
                    <span style="color:red" ng-show="form.password.$valid">
                        <span ng-show="repeatpassword!=user.password">Password is not the same.</span>
                    </span>
                </div>
            </div>
            <div class="col-sm-12 sign-input">
              <button type="submit"
                class="btn btn-lg btn-primary btn-block green-btn sign-top"
                ng-click="resetPwd()"
                ng-disabled='form.$invalid || repeatpassword!=user.password || signupStatus'
                translate
              >
                {{ 'Commit' | translate }}
              </button>
            </div>
            <div class="line line-dashed"></div>
            <p class="text-center sign-text">
                <a ui-sref="access.signin" class="btn signup-btn" translate>{{ 'signin' | translate }}</a>
            </p>
        </form>
    </div>
</div>
<div class="text-center boot-bg navbar-fixed-bottom">
    <p>
        <small class="text-muted">All Rights Reserved &copy; 2017</small>
    </p>
</div>

<!-- Google Code for sign up Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 859286781;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "RD3kCOGi_m4Q_dnemQM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/859286781/?label=RD3kCOGi_m4Q_dnemQM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
