<md-dialog class="cs-edit-dialog rule-log" ng-cloak>
  <md-toolbar>
      <div class="md-toolbar-tools cam-title">
          <h2 class="md-title">Rule Running Log</h2>
      </div>
  </md-toolbar>
    <md-dialog-content class="md-dialog-content" style="padding-top: 15px;">
      <div class="log-name">
        <span class=rule-name>Rule Name</span>
        <span>{{rule.name}}</span>
      </div>
      <div class="log-name">
        <span class=rule-name>Dimension</span>
        <span>{{rule.dimension}}</span>
      </div>
      <div class="table-box">
          <md-table-container class="repeater-container">
              <table md-table multiple md-progress="promise">
                <thead md-head>
                  <tr md-row>
                    <th md-column>Campaign</th>
                    <th md-column>Dimension Value</th>
                    <th md-column>Data</th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="item in detailItem">
                    <td md-cell>{{item.campaign}}</td>
                    <td md-cell>{{item.dimensionValue}}</td>
                    <td md-cell>{{item.data}}</td>
                  </tr>
                </tbody>
              </table>
          </md-table-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>
