<md-dialog class="cs-edit-dialog rule-log" ng-cloak>
    <md-dialog-content class="md-dialog-content">
      <div class="rule-log-title">
        Rule Running Log
      </div>
      <div class="log-name">
        <span class=rule-name>Rule Name</span>
        <span>{{rule.name}}</span>
      </div>
      <div class="log-name">
        <span class=rule-name>Dimension</span>
        <span>{{rule.dimension}}</span>
      </div>
      <div class="table-box">
          <md-table-container class="repeater-container">
              <table md-table multiple md-progress="promise">
                <thead md-head>
                  <tr md-row>
                    <th md-column>Campaign</th>
                    <th md-column>Action</th>
                    <th md-column>Inventory Sources</th>
                    <th md-column>Inventory Apps/Sites</th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="item in detailItem.logs">
                    <td md-cell>{{item.campaign}}</td>
                    <td md-cell>{{item.action}}</td>
                    <td md-cell>{{item.inventorySources}}</td>
                    <td md-cell>{{item.inventory}}</td>
                  </tr>
                </tbody>
              </table>
          </md-table-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>
