<div class="signin-box">
  <div class="bg-danger signin-message" ng-show="noVerifiedEmail">
    <i class="icon-remove-circle fonts16"></i>
    <p>Your email has not been verified.</p>
    <p>Please click on the link in the confirmation email we sent you.</p>
    <a href="javascript:;" ng-click="verificationEmail()">Click here to re-send the verification link</a>
  </div>
  <div class="bg-success signin-message" ng-show="emailHasSent">
    <i class="icon-info-sign fonts16"></i>
    <p>Email with confirmation link has been sent.</p>
  </div>
    <div class="container w-xxl w-auto-xs w-top">
        <a class="navbar-brand block m-t" target="_blank" href="http://www.newbidder.com"><img src="../assets/img/logo-two.png"></a>
        <div class="m-b-lg">
            <form name="form" class="form-validation">
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <i class="icon-envelope form-control-feedback small-font icon-envelope-top"></i>
                        <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email"
                               required>
                    </div>
                    <div class="list-group-item">
                        <i class="icon-lock form-control-feedback"></i>
                        <input type="password" placeholder="Password" class="form-control no-border"
                               ng-model="user.password" required>
                    </div>
                </div>
                <button type="submit"
                        class="btn btn-lg btn-primary btn-block blue-btn blue-btn-h"
                        ng-click="login()"
                        ng-disabled="form.$invalid || loginStatus" translate
                >
                    {{ 'signin' | translate}}
                </button>
                <a class="forgot-pwd" ng-click="resetPassword()">Forgot your password?</a>
                <div class="line line-dashed"></div>
                <p class="text-center sign-text">
                    <small>Do not have an account?</small>
                    <a ui-sref="access.signup" class="btn signup-btn">Sign up</a>
                </p>
          </form>
    </div>
  </div>
  <div class="text-center boot-bg navbar-fixed-bottom">
      <p>
          <small class="text-muted">All Rights Reserved &copy; 2017</small>
      </p>
  </div>
</div>
 <a class="return" href="http://www.newbidder.com"><i class="icon-long-arrow-left"></i> Return to homepage</a>
<!-- ga -->
<script type="text/javascript">
  ga('set', 'page', '/#/access/signin');
  ga('send', {'hitType': 'pageview', 'title': 'NewBidder'});
</script>
<!-- ga -->
