<div class="container w-xxxl w-auto-xs">
    <p class="navbar-brand block m-t">{{app.name}}</p>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>{{app.subtitle}}</strong>
        </div>
        <form name="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email"
                           ng-blur="checkEmail()" required>
                    <span style="color:red" ng-show="form.email.$dirty && form.email.$invalid">
                    <span ng-show="form.email.$error.email">Email must be a valid Email</span>
                    <span ng-show="form.email.$error.check">Email is exist</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" name="password" placeholder="Password" class="form-control"
                           ng-model="user.password" required>
                    <span style="color:red" ng-show="form.password.$dirty && form.password.$invalid">
                    <span ng-show="form.password.$error.required">Password is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">FirstName</label>
                <div class="col-sm-9">
                    <input type="text" name="firstname" placeholder="FirstName" class="form-control"
                           ng-model="user.firstname" required>
                    <span style="color:red" ng-show="form.firstname.$dirty && form.firstname.$invalid">
                    <span ng-show="form.firstname.$error.required">FirstName is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">LastName</label>
                <div class="col-sm-9">
                    <input type="text" name="lastname" placeholder="LastName" class="form-control"
                           ng-model="user.lastname" required>
                    <span style="color:red" ng-show="form.lastname.$dirty && form.lastname.$invalid">
                    <span ng-show="form.lastname.$error.required">LastName is required.</span>
                    </span>
                </div>
            </div>

            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup()"
                    ng-disabled='form.$invalid' translate>{{ 'signup' | translate }}
            </button>
            <div class="line line-dashed"></div>
            <p class="text-center">
                <small>Already have an account?</small>
            </p>
            <a ui-sref="access.signin" class="btn btn-lg btn-default btn-block" translate>{{ 'signin' | translate }}</a>
        </form>
    </div>
    <div class="text-center">
        <p>
            <small class="text-muted">All Rights Reserved<br>&copy; 2016</small>
        </p>
    </div>
</div>
