<div class="cs-page-subheader">
    <div class="cs-page-crumb">
        <span>{{app.subtitle | translate}}</span>
    </div>
</div>

<div flex layout="column" class="cs-page-content">

    <div class="cs-action-bar" layout="row">
        <md-button class="md-raised md-primary cs-compact cs-add-button" ng-click="editItem($event)">{{'add' |
            translate}}
        </md-button>
        <div class="cs-action-group" flex layout="row">
            <div class="cs-subform-control">
                <md-select class="cs-subform-select" ng-model="datetype">
                    <md-option value="1">Yesterday</md-option>
                    <md-option value="2">Last 7 days</md-option>
                    <md-option value="3">Last 14 days</md-option>
                    <md-option value="4">This Week</md-option>
                    <md-option value="5">Last Week</md-option>
                    <md-option value="6">This Month</md-option>
                    <md-option value="7">Last Month</md-option>
                    <md-option value="0">Custom</md-option>
                </md-select>
            </div>
            <div class="cs-subform-group" ng-show="datetype==0">
                <label class="cs-subform-label">{{'startDate' | translate}}：</label>
                <div class="cs-subform-control">
                    <button class="cs-button-datepicker" uib-datepicker-popup="yyyy-MM-dd" ng-model="params.from" ng-max="params.to" is-open="ctrl.dpOpened.a" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="ctrl.dpOpened.a=true" type="button">
                        {{params.from | date: 'yyyy-MM-dd'}}<i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </div>
                <label class="cs-subform-label">{{'endDate' | translate}}：</label>
                <div class="cs-subform-control">
                    <button class="cs-button-datepicker" uib-datepicker-popup="yyyy-MM-dd" ng-model="params.to" ng-min="params.from" is-open="ctrl.dpOpened.b" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="ctrl.dpOpened.b=true" type="button">
                        {{params.to | date: 'yyyy-MM-dd'}}<i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </div>
                <div class="cs-subform-search">
                    <a><md-icon class="material-icons md-24" ng-click="search()">search</md-icon></a>
                </div>
            </div>
            <div class="cs-subform-control">
                <input type="text" class="cs-filter-input" ng-model="query.q" placeholder="Search...">
            </div>
            <div class="cs-subform-search">
                <a>
                    <md-icon class="material-icons md-24" ng-click="search()">search</md-icon>
                </a>
            </div>
        </div>
    </div>

    <md-table-container>
        <table md-table multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order">
            <tr md-row>
                <th md-column md-order-by="id">{{'ID' | translate}}</th>
                <th md-column md-order-by="name">{{'Name' | translate}}</th>
                <th md-column md-order-by="trafficSource">{{'TrafficSource' | translate}}</th>
                <th md-column md-order-by="country">{{'Country' | translate}}</th>
                <th md-column md-order-by="status">{{'Status' | translate}}</th>
                <th md-column class="cs-cell-action">{{'operation' | translate}}</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="item in items.rows" ng-init="fab[$index] = {isOpen: false, tooltipVisible:false}">
                <td md-cell>{{item.id}}</td>
                <td md-cell>{{item.name}}</td>
                <td md-cell>{{item.trafficSource}}</td>
                <td md-cell>{{item.country}}</td>
                <td md-cell>{{'trackCampaignStatus.' + item.status | translate}}</td>
                <td md-cell class="cs-cell-action">
                    <md-fab-speed-dial md-direction="left" md-open="fab[$index].isOpen"
                                       class="md-scale md-mini cs-fab-action"
                                       ng-mouseenter="toggleFab($index, true)" ng-mouseleave="toggleFab($index, false)">
                        <md-fab-trigger>
                            <md-button aria-label="operation" class="md-primary md-icon-button md-mini">
                                <md-icon aria-label="menu">menu</md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button aria-label="Edit" class="md-fab md-raised md-mini"
                                       ng-click="editItem($event, item)">
                                <md-icon aria-label="Edit">edit</md-icon>
                            </md-button>
                            <md-button aria-label="Delete" class="md-fab md-raised md-mini"
                                       ng-click="deleteItem($event, item)">
                                <md-icon aria-label="Delete">delete</md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </td>
            </tr>
            </tbody>
            <tbody md-body ng-if="items.totals != ''">
            <tr md-row>
                <td md-cell>Total</td>
                <td md-cell>{{items.totals.clicks}}</td>
                <td md-cell>{{items.totals.totalShow}}</td>
                <td md-cell>{{items.totals.totalPlay}}</td>
                <td md-cell>{{items.totals.totalClick}}</td>
                <td md-cell>{{items.totals.ecpm | currency}}</td>
                <td md-cell>{{items.totals.totalRevenue | currency}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page"
                         md-total="{{items.count}}" md-on-paginate="getList" md-page-select></md-table-pagination>

</div>
