<md-dialog class="cs-edit-dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{ctrl.title | translate}} - {{ctrl.titleType | translate}}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">

        <form name="editForm" ng-submit="ctrl.save()" class="form-horizontal">
            <div class="form-group traffic-source">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <md-button class="traffic-source-templates" ng-click="selectTrafficSourceTemplate($event)">
                        {{'Traffic source templates' | translate}}
                    </md-button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Name<span class="star-icon">*</span>：</label>
                <div class="col-sm-5">
                    <input type="text" name="name" class="form-control" ng-model="item.name" required>
                    <span style="color:red" ng-show="editForm.name.$dirty && editForm.name.$invalid">
                    <span ng-show="editForm.name.$error.required">Name is required.</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Postback Url：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="item.postbackUrl">
                </div>
            </div>
            <div class="url-tokens-row form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <i>Available URL tokens:</i>
                    <div class="url-tokens">
                        <div class="url-token" ng-repeat="url in urlItem" ng-click="urlTokenClick(url)">
                            <span class="url-token-icon">+</span>
                            <span class="url-token-caption">{{url}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Pixel redirect URL<span class="star-icon">*</span>：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="pixelRedirectUrl" ng-model="item.pixelRedirectUrl" required>
                    <span style="color:red" ng-show="editForm.pixelRedirectUrl.$dirty && editForm.pixelRedirectUrl.$invalid">
                    <span ng-show="editForm.pixelRedirectUrl.$error.required">PixelRedirectUrl is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Impression tracking：</label>
                <div class="col-sm-5">
                    <input type="checkbox" class="form-control" ng-model="item.impTracking" ng-true-value="1" ng-false-value="0" ng-init="0">
                </div>
            </div>

            <div class="form-group collapsible-tab">
                <div class="collapsible-header" ng-class="{'active':isActive}" ng-click="toggleShow('1')">
                    <div class="line"></div>
                    <div class="label-con">
                        <i class="material-icons">settings</i>
                        <label>Advanced</label>
                        <i class="material-icons arrow-down">keyboard_arrow_down</i>
                    </div>
                </div>
            </div>

            <div class="form-group collapse-wrapper" ng-show="visible">
                <i class="note">Please note that unchecking <b>"Track"</b> will not affect Conversion report
                    results.</i>
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>Parameter</th>
                        <th>Placeholder</th>
                        <th>Name</th>
                        <th>Track</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-sm-3 control-label">External ID：</td>
                        <td class="traficc-source-input"><input type="text" ng-model="item.externalId.Parameter"></td>
                        <td class="traficc-source-input"><input type="text" ng-model="item.externalId.Placeholder"></td>
                        <td class="traficc-source-input"><input type="text" ng-model="item.externalId.Name" disabled></td>
                        <td class="traficc-source-input"></td>
                    </tr>
                    <tr>
                        <td class="col-sm-3 control-label">Cost：</td>
                        <td class="traficc-source-input"><input type="text" ng-model="item.cost.Parameter"></td>
                        <td class="traficc-source-input"><input type="text" ng-model="item.cost.Placeholder"></td>
                        <td class="traficc-source-input"><input type="text" ng-model="item.cost.Name" disabled></td>
                        <td class="traficc-source-input"></td>
                    </tr>
                    <tr ng-repeat="param in item.params track by $index">
                        <td class="col-sm-3 control-label">Custom variable{{$index+1}}：</td>
                        <td class="traficc-source-input"><input type="text" ng-model="param.Parameter"></td>
                        <td class="traficc-source-input"><input type="text" ng-model="param.Placeholder"></td>
                        <td class="traficc-source-input"><input type="text" ng-model="param.Name"></td>
                        <td class="traficc-source-input"><input type="checkbox" ng-model="param.Track" ng-true-value="1" ng-false-value="0"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </form>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" ng-click="ctrl.save()" ng-disabled="editForm.$invalid">{{'save' | translate}}
        </md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>
