<md-dialog class="cs-edit-dialog traffic-source-template-dialog" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-title">{{ctrl.title | translate}}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content second-dailog">
    <form name="editForm" ng-submit="ctrl.save()" class="form-horizontal">
      <ul class="traffic-source-template-list">
        <li ng-repeat="trafficTpl in trafficTemplateLists track by $index" ng-click="templateListClick($index)">
          <input type="radio" class="ng-pristine ng-untouched ng-valid ng-not-empty" name="radio" value={{$index}} 
          ng-checked="selected == $index" >
          {{ trafficTpl.name }}
        </li>
      </ul>
    </form>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary disabled-btn" ng-click="ctrl.save()" ng-disabled="editForm.$invalid">{{'Load template' | translate}}
    </md-button>
    <md-button class="md-primary red-btn" ng-click="ctrl.cancel()">{{'cancel' | translate}}</md-button>
  </md-dialog-actions>
</md-dialog>
