<div class="cs-action-bar-bg">
    <h6>Advanced filters:</h6>
    <div class="cs-action-bar clearfix">
      <div class="right-select right-select-left">
        <div class="cs-subform-control">
          <md-select class="cs-subform-select" ng-model="thirdAffiliateId" ng-change="thirdAffiliateChanged(thirdAffiliateId)">
              <md-option value="{{thirdAffiliate.id}}" ng-repeat="thirdAffiliate in thirdAffiliates">{{thirdAffiliate.name}}</md-option>
          </md-select>
        </div>
        <md-button
          class="md-raised md-primary cs-compact cs-add-button blue-btn"
          ng-click="load($event)"
          ng-disabled="!(thirdAffiliates.length > 0 && !taskProgress[thirdAffiliateId].progressStatus)"
          translate
        >
            load
        </md-button>
        <md-button
          class="md-raised md-primary cs-compact cs-add-button blue-btn"
          ng-click="addOrEditThirdAffiliates()"
          translate
        >
            add
        </md-button>
        <md-button
          class="md-raised md-primary cs-compact cs-add-button blue-btn"
          ng-click="addOrEditThirdAffiliates(thirdAffiliateId)"
          translate
          ng-show="thirdAffiliates.length > 0"
        >
            edit
        </md-button>
        <md-button
          class="md-raised md-primary cs-compact cs-add-button blue-btn"
          ng-click="importOffers(1)"
          translate
          ng-disabled="!selected.length"
        >
            import seleted offers
        </md-button>
        <md-button
          class="md-raised md-primary cs-compact cs-add-button blue-btn"
          ng-click="importOffers(2)"
          translate
          ng-disabeld="!(offers && offers.length > 0)"
        >
            import all offers
        </md-button>
      </div>
  </div>
</div>

<div flex layout="column" class="cs-page-content report ts-offer-report">
  <div class="load-progress-box" ng-show="taskProgress[thirdAffiliateId].progressStatus">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{taskProgress[thirdAffiliateId].progress}}%;">{{taskProgress[thirdAffiliateId].progressNum}}%</div>
    </div>
    <div class="load-progress-content">
      <i class="icon-smile"></i>
      <h2>Loading...</h2>
      <p>Thanks for your patients, the data is extracting...</p>
    </div>
  </div>

  <div class="table-box" ng-show="taskProgress[thirdAffiliateId].offerStatus">
    <md-table-container>
        <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order">
              <tr md-row>
                <th md-column>Campaign</th>
                <th md-column>Campaign ID</th>
                <th md-column>Impressions</th>
                <th md-column>Clicks</th>
                <th md-column>Cost</th>
              </tr>
            </thead>
            <tbody md-body >
              <tr md-row md-select="offer.offerId" ng-repeat="offer in offers" md-auto-select="options.autoSelect">
                <td md-cell><span>{{offer.offerId}}</span></td>
                <td md-cell><span>{{offer.name}}</span></td>
                <td md-cell><span>{{offer.previewLink}}</span></td>
                <td md-cell><span>{{offer.payoutMode}}</span></td>
                <td md-cell><span>{{offer.payoutValue}}</span></td>
              </tr>
            </tbody>
        </table>
    </md-table-container>
  </div>
  <md-table-pagination
    md-limit="query.limit"
    md-limit-options="[50, 100, 200, 500, 1000]"
    md-page="query.page"
    md-total="{{report.totalRows}}"
    md-page-select
    ng-show="taskProgress[thirdAffiliateId].offerStatus"
  >
  </md-table-pagination>
</div>
