.cs-app {
    height: auto;
    min-height: 100%;
    position: relative;
    width: 100%;
    background-color: #fff;
    overflow-x:hidden;
}
header.navbar {
    position: fixed;
    top: 0;
    z-index: 61;
    width: 100%;
    background: #0ea6b2 none repeat scroll 0 0;
    color: #cffbff;
}
header .md-toolbar-tools {
    height: auto;
}
header .setting,
header .home{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}
header .setting:hover,
header .home:hover{
    background: rgba(0, 0, 0, 0.05);
}
.navbar-right {
    height: 60px;
}
.navbar-right > li > a {
    padding-top: 18px;
    padding-bottom: 18px;
}
.material-icons {
    vertical-align: middle;
}
.cs-left-aside {
    -moz-user-select: none;
    background-color: #e8e8e8;
    border: medium none;
    bottom: 0;
    overflow: visible;
    position: fixed !important;
    top: 58px;
    width: 180px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.cs-main-content {
    margin-top: 60px;
    margin-left: 170px;
    /*min-width: 960px;*/
}
@media (max-width: 960px) {
    .cs-main-content {
        margin-left: 0;
    }
}
.navi {
    margin-top: 8px;
}
.navi ul.nav li.active a {
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.05);
}
.nav-icon {
    margin-top: 5px;
}
.cs-page-subheader::before, .cs-page-subheader::after {
    content: "";
    display: table;
}
.cs-page-subheader::after {
    clear: both;
}
.cs-page-subheader {
    background: #f7f7f7 none repeat scroll 0 0;
    padding-left: 10px;
    position: relative;
}
.cs-no-notification {
    padding: 15px 10px;
    text-align: center;
}
.cs-page-crumb {
    float: left;
    font-size: 14px;
    height: 50px;
    padding: 0;
}
.cs-page-crumb span {
    color: #666;
    padding: 0 20px;
    line-height: 50px;
}
.cs-page-crumb span:last-child {
    color: #12bdce;
    font-weight: bold;
}
.cs-page-content {
    background: #fff none repeat scroll 0 0;
    padding: 0px 30px 15px;
    position: relative;
    min-height: 600px !important;
}
.cs-report-summary {
    margin: 10px;
    margin-left: 20%;
    margin-right: 6%;
    padding: 10px 0px;
    padding-left: 63px;
    min-width: 75%;
    max-height: 100%;
}
.cs-report-summary > div {
    display: inline-block;
    padding-left: 60px;
    white-space: nowrap;
    height: 52px;
    width: 55px;
}
.cs-report-clientpv {
    background: transparent url("../img/view.png") no-repeat scroll 0 0;
}
.cs-report-ssppv {
    background: transparent url("../img/view.png") no-repeat scroll 0 0;
}
.cs-report-show {
    background: transparent url("../img/view.png") no-repeat scroll 0 0;
}
.cs-report-play {
    background: transparent url("../img/view.png") no-repeat scroll 0 0;
}
.cs-report-click {
    background: transparent url("../img/click.png") no-repeat scroll 0 0;
}
.cs-report-revenue {
    background: transparent url("../img/revenue.png") no-repeat scroll 0 0;
}
.cs-report-install {
    background: transparent url("../img/install.png") no-repeat scroll 0 0;
}
.cs-report-data {
    margin: 4px 0 2px;
    color: #555;
}
.cs-report-label {
    color: #c5c5c5;
}
.cs-report-chart {
    margin: auto;
}
.cs-action-bar {
    margin-bottom: 8px;
}
.cs-action-bar .md-button:hover {
    background-color: transparent;
}
.cs-action-group {
    background-color: ghostwhite;
    padding-left: 7px;
}
.cs-compact {
    margin: 0;
    padding: 0 15px;
    min-width: 35px;
}
.cs-compact.md-button {
    border-radius: 0;
}
.cs-button-s {
    font-size: 12px;
}
.cs-filter-input {
    border: medium none;
    color: rgba(0, 0, 0, 0.87);
    margin: 6px 0px;
    padding: 2px 5px;
    width: 200px;
    height: 26px;
}
.cs-filter-close {
    margin-left: -35px !important;
    height: 18px !important;
}
.cs-add-button {
    -moz-user-select: none;
    background: #12bdce none repeat scroll 0 0 !important;
    border-color: #12bdce;
    border-style: solid;
    border-width: 1px;
    box-shadow: unset !important;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}
.cs-input-label {
    line-height: 20px;
    margin-top: 8px;
}
.cs-input-row {
    margin-bottom: 8px;
}
.cs-classic-form md-input-container {
    margin: 0;
}
md-datepicker {
}
.md-datepicker-button {
    display: none;
}
.md-datepicker-input-container {
    margin-left: 0;
    padding: 2px 2px 1px;
}
.md-datepicker-input {
    min-width: auto;
    line-height: 26px;
    height: 30px;
    padding: 2px 2px 1px;
    border-bottom: 1px;
}
.cs-time-select {
    margin: 0 0 0 20px;
}
.cs-edit-dialog {
    width: 80%;
    max-width: 80%;
    max-height: 90%;
    border-radius: 0;
}
.cs-edit-panel {
    width: 80%;
    height: 100%;
    background-color: white;

    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
        0 13px 19px 2px rgba(0, 0, 0, 0.14),
        0 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.cs-cell-action {
    position: relative;
    width: 60px;
}
.cs-fab-action {
    position: absolute;
    right: 23px;
    top: 0;
}
.cs-progress {
    height: 3px;
    margin-top: -3px;
}
.cs-radio-group {
    background: #f8f8f8 none repeat scroll 0 0;
    /*min-width: 490px;*/
    /*width: auto;*/
    overflow: hidden;
    padding: 10px;
    max-width: 404px;
    display: table;
    /*margin-left: 15px;*/
}
.cs-radio-group > label {
    display: inline-block;
    border: 0;
    margin: 10px;
    background: #ebebeb none repeat scroll 0 0;
    color: #666 !important;
    height: 30px;
    width: 76px;
}
.cs-radio-group > label.active {
    /*background-color: #12bdce;*/
    background-color: #6254b2;
}
.form-group md-checkbox {
    margin: 0;
}
.cs-status-active {
    color: green !important;
}
.cs-creative-preview {
    padding: 7px !important;
}
.cs-creative-preview img {
    max-height: 40px;
}
.cs-image-preview {
    border-radius: 0;
    border: 1px solid gray;
    background: #fff none no-repeat scroll 8px 8px;
    width: 100%;
    height: 300px;
}
.cs-input-medium {
    width: 90px;
}
.cs-image-size input {
    width: 60px;
    display: inline;
}
.cs-image-size span {
    margin-right: 10px;
}
.cs-file-uploader label {
    color: #999;
}
.cs-file-uploader input {
    visibility: hidden;
    position: absolute;
}
.tooltip.cs-tooltip {
    margin-top: -4px;
}
.tooltip.cs-tooltip .tooltip-inner {
    background-color: #f6ffff;
    border: 1px solid #c7f2f6;
    border-radius: 0;
    padding: 8px 10px;
    /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
}
.tooltip.cs-tooltip .tooltip-inner p {
    color: #999;
    line-height: 18px;
    margin: 0;
}
.tooltip.cs-tooltip .tooltip-arrow {
    /* Hide arrow */
    display: none;
}
.cs-progress-xxs {
  height: 2px;
}
.cs-plus-icon {
    display: inline-block;
    background-color: #89cfdb;
    color: #fff;
    height: 14px;
    line-height: 14px;
    margin-right: 2px;
    cursor: pointer;
    text-align: center;
    width: 14px;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
}
.cs-ad-progress > div {
    min-width: 50px;
    vertical-align: middle;
    text-align: center !important;
}
.cs-ad-date {
    font-size: 14px;
}
.cs-top-border-panel {
    background-color: #f8f8f8;
    border-top: 3px solid #dfdfdf;
    /*margin-top: 20px; use this when can shoose dateType*/
    margin-top: 5px;
    padding-bottom: 30px;
    display: inline-block;
}
.cs-subform-group {
    margin: 20px 20px 0;
}
.cs-subform-group::after {
    clear: both;
    content: "";
    display: table;
}
.cs-subform-label {
    float: left;
    line-height: 30px;
    text-align: right;
    vertical-align: top;
    width: 83px;
}

.cs-subform-short-label {
    float: left;
    line-height: 30px;
    text-align: right;
    vertical-align: top;
    width: 70px;
    margin: 0;
}
.cs-subform-control {
    float: left;
    line-height: 30px;
    padding-left: 10px;
}
.cs-subform-filter-input {
    line-height: 24px;
    width: 150px;
    margin-left: 15px;
}
.cs-subform-select {
    margin: 15px 15px 0 0;
    line-height: 38px;
    height: 38px;
    width: 110px;
}
.xxxcs-subform-control::after {
    clear: both;
    content: "";
    display: table;
}
.cs-button-datepicker {
    background: #ebebeb none repeat scroll 0 0;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: medium none;
    border-radius: 0;
}

.cs-subform-search {
    float: left;
    line-height: 30px;
    padding-left: 20px;
}

.cs-button-search {
    background: transparent;
}

.cs-button-datepicker i.glyphicon {
    margin-left: 15px;
}
.cs-hour-selector {
    float: left;
    margin-left: 10px;
    display: inline-block;
    background: #ebebeb none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #666;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 45px 0 18px;
    position: relative;
    width: auto;
}
.cs-hour-selector::after {
    content: "";
}
.cs-loose-row {
    font-size: 14px;
    margin: 20px 0 0;
    line-height: 20px;
}
.cs-xmp {
    margin: 0px;
    color: blue;
}
a.cs-inline-edit {
    color: #12bfcd;
    cursor: pointer;
    margin-left: 30px;
    text-decoration: none;
}
.cs-embed-form {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    display: inline-block;
    padding: 20px;
}

/* for md-table */
table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2),
table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
    padding: 0 26px 0 0;
}
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 15px 0 0;
}
table.md-table th.md-column {
    background-color: rgb(247, 247, 247);
    height: 40px;
}
.md-table-pagination .label {
    font-size: 12px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    text-shadow: unset;
}
/*Start Nav Style*/
.cs-left-aside{
    width: 100%;
    max-width: 100%;
    position: static !important;
}
md-sidenav.md-closed{
    display: inline;
}
.navi{
    margin-top: 60px;
}
.navi ul.nav li{
    float: left;
}
md-content.cs-main-content{
    margin: 0;
}
.navi ul.nav li a{
    padding: 10px 20px;
}
/*End Nav Style*/


/*start URL tokens style*/
.url-tokens-row .url-tokens{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap:wrap;
    margin-top: 10px;
}

.url-tokens-row .url-token{
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 8px 8px 0;
    line-height: 12px;
    background-color: #8d8d8d;
    color: #fff;
    padding: 5px;
}
.url-tokens-row .url-token.urlBg{
    background: #c2c2c2;
}
.url-tokens-row .url-token:hover{
    background: #363636;
}

.url-tokens-row .url-token.selected{
    background-color: #c2c2c2;
    cursor: default;
}
/*end URL tokens style*/

/*start tags items style*/
.tag-items .md-chips .md-chip{
    cursor: pointer;
    padding: 2px 6px;
    background: ##a6aebe;
    border-radius: 4px;
}

.tag-items .md-chips{
    padding: 6px 12px;
    /*height: 34px;*/
    line-height: 34px;
}

.tag-items .md-chips .md-chip{
    margin: 0;

}

.tag-items .md-chips .md-chip{
    font-size: 13px;
    height: 22px;
    line-height: 16px;
    margin: 0 8px 8px 0;
}

.tag-items .md-chips .md-chip-input-container{
    margin: 0;
    line-height: 34px;
}

.tag-items .md-chips .md-chip-input-container:not(:first-child){
    margin: -4px 0 0 0;
}

.tag-items .md-chips .md-chip .md-chip-remove{
    width: 20px;
    height: 20px;
    margin-top: -2px;
}

.tag-items .md-chips .md-chip .md-chip-remove md-icon{
    width: 10px;
    height: 10px;
}

.tag-items .md-chips .md-chip .md-chip-remove-container{
    line-height: 20px;
}

.tag-items .md-chips .md-chip-input-container input{
    min-width: 4px;
    width: auto;
}
/*end tags items style*/

/*start Advanced style*/
.collapsible-tab .collapsible-header .line{
    position: absolute;
    height: 1px;
    background-color: #cfdadd;
    width: 100%;
    margin-top: 13px;
    right: 0;
}

.collapsible-tab .collapsible-header .label-con{
    position: relative;
    z-index: 1;
}

.collapsible-tab .collapsible-header .label-con label{
    background: #fff;
    padding: 0 15px 0 5px;
    line-height: 27px;
    font-weight: bold;
    margin-left: -5px;
}

.collapsible-header{
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.collapsible-header .material-icons{
    color: #253c75;
    width: 35px;
    height: 22px;
    background: #fff;
}

.collapsible-header .material-icons.arrow-down{
    float: right;
    padding-left: 15px;
}

.collapsible-tab .collapsible-header.active .material-icons.arrow-down,
.collapsible-tab .collapsible-header.active1 .material-icons.arrow-down{
    ransform:rotate(180deg);
    -ms-transform:rotate(180deg);     /* IE 9 */
    -moz-transform:rotate(180deg);    /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);  /* Opera */
    padding-left: 0px;
}

.material-icons.table-arrow-down.active,
.material-icons.table-arrow-down.down{
    ransform:rotate(90deg);
    -ms-transform:rotate(90deg);     /* IE 9 */
    -moz-transform:rotate(90deg);    /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);  /* Opera */
    padding-left: 0px;
}

ul{
    list-style: none;
}
.flow-actions ul{
    text-align: right;
}
.flow-actions li{
    display: inline-block;
    margin-left: 20px;
}
.flow-actions li:hover{
    text-decoration: underline;
}
/*end Advanced style*/

/*start trafficSource style*/
.collapse-wrapper .note{
    padding: 0px 15% 20px;
    display: block;
}

.collapse-wrapper table{
    width: 100%;
}

table .traficc-source-input{
    padding: 15px;
}

table .traficc-source-input input{
    width: 100%;
    border: 1px solid #cfdadd;
    padding: 5px;
}
table .traficc-source-input input[type="checkbox"]{
    width: 15px;
    height: 15px;
}

.traffic-source-templates{
    background: #253c75;
    font-size: 12px;
    color: #fff;
    text-transform:lowercase;
    margin: 6px 0;
}
.md-button:not([disabled]):hover{
    background: #253c75;
}
/*end trafficSource style*/

/*Start Campaign Style*/
.report .left-con{
    float: left;
    margin-top: 15px;
}
.report .right-select{
    float: right;
} 
.right-select .cs-subform-group{
    float: left;
}
.right-select .cs-add-button{
    float: left;
    margin: 15px 15px 0 0;
}
.right-select .search-con{
    background: ghostwhite; 
    padding: 0 15px;
    margin-top: 15px;
}
.right-select .selectAll,
.right-select .view_column{
    float: left;
}
.campaign-radio md-radio-button{
    float: left;
    margin-right: 15px;
}
.campaign-radio md-radio-button .md-container,md-radio-button .md-off{
    width: 13px;
    height: 13px;
}
.campaign-radio md-radio-button .md-on{
    width: 13px;
    height: 12px;
}
.campaign-radio md-radio-group md-radio-button:not(:first-child){
    margin:0 15px 0 0;
}
.campaign-radio .radio-inline + .radio-inline, 
.campaign-radio .checkbox-inline + .checkbox-inline,
.campaign-radio .radio-inline, .checkbox-inline{
    margin: 0 15px 0 0;
}

.dollar-icon{
    position: absolute;
    display: block;
    line-height: 34px;
    padding-left: 10px;
}
.dollar-input{
    padding-left: 20px;
}
.left-con .cs-subform-control{
    padding-left: 0;
}
.left-con .cs-subform-select{
    height: 38px;
    margin: 0px 15px 0px 0;
}
.view_column
{
    width: 55px;
    height: 38px;
    background: #12bdce;
    cursor: pointer;
    margin-top: 15px;
} 
md-table-container{
    margin-top: 15px;
}
.view_column .material-icons{
    color: #fff;
}
.view_column .view-column-icon{
    margin: 8px 0 0 4px;
}
.view_column .arrow-down-icon{
    margin:7px 0 0 -5px;
}
.view_column_con{
    position: absolute;
    background: #12bdce;
    top: 66px;
    right: 5px; 
    z-index: 25;
    padding: 15px;
    border-radius: 4px;
    color: #fff;
}
.view_column_con ul{
    padding: 0px;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 25px;
}
.view_column_con ul li{
    line-height: 15px;
    border-bottom: 1px solid #0097a7;
    min-width: 300px;
    padding:10px;
}
.view_column_con .material-icons.btn-icon{
    position: absolute;
    z-index: 30;
    margin: 17px 0;
    width: 183px;
    text-align: left;
    padding-left: 10px !important;
    height: 34px;
    line-height: 34px;
}
.view_column_con .material-icons.btn-icon.close-icon{
    left: 210px;
    width: 104px;
}
.view_column_con ul li:hover{
    background: #00838f;
}
.view_column_con ul li input[type="checkbox"]{
    margin-right: 10px;
}
.view_column_con button{
    background: #00838f !important;
    padding-left: 35px;
}
.view_column_con button.close-btn{
    background: #8992aa !important;
}
.table-arrow-down{
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    /*background: rgba(18, 189, 206, 0.14);*/
}
table.md-table tr.md-row.first-tree td.md-cell:first-child{
    padding-left: 0 !important;
    width: 74px;
}
/*End Campaign Style*/

/*Start netWork Style*/
.network-textarea .note{
    margin: 15px 0;
    display: block;
}
.network-textarea textarea{
    width: 100%;
    min-height: 100px;
    resize: none;
    padding: 10px;
}
/*End netWork Style*/

/*Start dashBoard Style*/
.dash-board .data-list{
    border-bottom: 1px solid #c9c9c9;
}
.dash-board .data-list .data-list-con{
    margin-bottom: 15px;
    padding-left: 0;
}
.dash-board .data-list .data-list-con:last-child{
    padding-right: 0;
}
.dash-board .data-list .data-list-con h3{
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    background: #12bdce;
    padding: 0px 10px;
    margin: 0;
    color: #fff;
}
.data-num{
    font-size: 24px;
    font-weight: 700;
    color: #363636;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background: #f8f8f8;
}
.data-tables-chart-container .table > thead > tr > th,
.data-tables-chart-container .table > tbody > tr > td{
    border: none;
}
.data-tables-chart-container .table > tbody > tr:nth-child(2n+2){
    background: #f5f5f5;
}
.data-tables-chart-container .table-hover > tbody > tr:hover{
    background-color: #12bdce;
    color: #fff;
}
.data-tables-chart-container table thead{
    background: #00838f;
    color: #fff;
}
.data-tables-chart-container table tbody td:first-child{
    background: #cacaca;
    color: #fff;
    text-align: center;
}
.table-toggles{
    margin:15px 0; 
} 
.table-toggles ul{
    padding: 0;
    margin: 0;
}
.table-toggles li{
    cursor: pointer;
    font-size:12px;
    color:  #fff;
    background: #006064;
    padding: 0 15px;
    border-radius: 4px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.table-toggles li.selected,
.table-toggles li.selected:hover{
    background: #12bdce;
}
.table-toggles li:hover{
    background: rgba(0, 96, 100, 0.78);
}
.toggles-button-left{
    float: left;
}
.toggles-button-right{
    float: right;
}
.chart-widget{
    padding-top: 60px;
}
/*End dashBoard Style*/

/*Start setting Style*/
h1.setting-title{
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #363636;
    border-top:1px solid rgba(201, 201, 201, 0.74);
    margin: 0;
}
.basic-form .cs-subform-select{
    width: 100%;
    margin: 0;
}
.basic-form .campaign-radio{
    height: 38px;
    line-height: 38px;
}
.basic-form .campaign-radio input[type="radio"]{
    margin-top: 13px;
}
.profile-content{
    padding: 80px 50px;
    background: rgba(18, 189, 206, 0.14);
}
.password-change .profile-form-footer{
    margin-right: 0;
}
.profile-form-footer{
    width: 220px;
    float: right;
    margin-right: 15px;
}
.close-btn{
    background: rgba(128, 128, 128, 0.71) !important;
}
.save-btn,.close-btn{
    width: 100px;
    background: #12bdce;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
/*End setting Style*/
