.cs-app {
    height: auto;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow-x:hidden;

}
.fade-in-right-big{width:40%;background:#fff;border-radius:5px;margin:7% auto 0 auto;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.08), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
}

.masking-loader{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
}

.masking-loader-usermanagement {
    background: rgba(255, 255, 255, 0.5);
}

.loader,
.loader:before,
.loader:after {
  background: #2f9be1;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 0.8em;
  height: 4em;
}
.loader {
  color: #2f9be1;
  text-indent: -9999em;
  margin: 260px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
header.navbar {
    position: fixed;
    top: 0;
    z-index: 61;
    width: 100%;
    background: #2f9be1;
    color: #fff;
}
header .md-toolbar-tools {
    height: 52px;
}
.free-btn{
    width: 100px;
    height: 36px;
    font-size: 13px;
    background: #fff;
    color: #2f9be1;
    text-align: center;
    line-height: 36px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.33);
}
.free-btn a{
    display: block;
}
.home a.home-link,
.setting a.setting-link{
    display: block;
}
.home a.home-link:hover,
.setting a.setting-link:hover{
    color: #fff;
}

.md-toolbar-tools h1, .md-toolbar-tools h1, .md-toolbar-tools h3{
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}
.offer-title h2.md-title{
    text-align: center;
}

header .setting,
header .home{
    width: 60px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    cursor: pointer;
}
header .setting:hover,
header .home:hover{
    background: rgba(0, 0, 0, 0.05);
}
.star-icon{
    color:red;
    position: relative;
    top: 4px;
    display: inline-block;
    width: 8px;
    font-weight:bold;
    margin:0 3px;
}
.navbar-right {
    height: 52px;
}
.navbar-right > li > a {
    padding-top: 15px;
    padding-bottom: 16px;
    min-width: 110px;
}
.text-md{
    font-size: 14px;
    font-weight: bold;
}
.material-icons {
    vertical-align: middle;
    font-size:17px;
}
.cs-left-aside {
    -moz-user-select: none;
    background-color: #e8e8e8;
    border: medium none;
    bottom: 0;
    overflow: visible;
    position: fixed !important;
    top: 58px;
    width: 180px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.cs-main-content {
    margin-top: 60px;
    margin-left: 170px;
    /*min-width: 960px;*/
}
@media (max-width: 960px) {
    .cs-main-content {
        margin-left: 0;
    }
}
.navi {
    margin-top: 8px;
}
.navi ul.nav li.active a {
    font-weight:600;
    color:#2da8f9;
    border-bottom:2px solid #2da8f9;
}
.navi ul.nav li.active a i,.navi ul.nav li.active a:hover i{color:#2da8f9;}
.navi ul.nav li a{color:#333}
.navi ul.nav li a:hover{border-bottom:2px solid #2da8f9;background:transparent;}
.navi ul.nav li a:hover i{color:#6D6F72}
.nav-icon {
    margin-top: 5px;
}
.cs-page-subheader::before, .cs-page-subheader::after {
    content: "";
    display: table;
}
.cs-page-subheader::after {
    clear: both;
}
.cs-page-subheader {
    background: #f7f7f7 none repeat scroll 0 0;
    padding-left: 10px;
    position: relative;
}
.cs-no-notification {
    padding: 15px 10px;
    text-align: center;
}
.cs-page-crumb {
    float: left;
    font-size: 14px;
    height: 50px;
    padding: 0;
}
.cs-page-crumb span {
    color: #666;
    padding: 0 20px;
    line-height: 50px;
}
.cs-page-crumb span:last-child {
    color: #12bdce;
    font-weight: bold;
}
.cs-page-content {
    background: #fff none repeat scroll 0 0;
    padding: 0px 15px 15px;
    position: relative;
    min-height: 600px !important;
}
.cs-report-summary {
    margin: 10px;
    margin-left: 20%;
    margin-right: 6%;
    padding: 10px 0px;
    padding-left: 63px;
    min-width: 75%;
    max-height: 100%;
}
.cs-report-summary > div {
    display: inline-block;
    padding-left: 60px;
    white-space: nowrap;
    height: 52px;
    width: 55px;
}
.cs-report-clientpv {
    background: transparent url("../img/view.png") no-repeat scroll 0 0;
}
.cs-report-ssppv {
    background: transparent url("../img/view.png") no-repeat scroll 0 0;
}
.cs-report-show {
    background: transparent url("../img/view.png") no-repeat scroll 0 0;
}
.cs-report-play {
    background: transparent url("../img/view.png") no-repeat scroll 0 0;
}
.cs-report-click {
    background: transparent url("../img/click.png") no-repeat scroll 0 0;
}
.cs-report-revenue {
    background: transparent url("../img/revenue.png") no-repeat scroll 0 0;
}
.cs-report-install {
    background: transparent url("../img/install.png") no-repeat scroll 0 0;
}
.cs-report-data {
    margin: 4px 0 2px;
    color: #555;
}
.cs-report-label {
    color: #c5c5c5;
}
.cs-report-chart {
    margin: auto;
}
.cs-action-bar {
    margin:25px 0;
}
.cs-action-bar .md-button:hover {
    background-color: transparent;
}
.cs-action-group {
    background-color: ghostwhite;
    padding-left: 7px;
}
.cs-compact {
    margin: 0;
    padding: 0 15px;
    min-width: 35px;
}
.cs-compact.md-button {
    border-radius: 0;
}
.cs-button-s {
    font-size: 12px;
}
.cs-filter-input {
    border: medium none;
    color: rgba(0, 0, 0, 0.87);
    margin: 2px 0;
    padding: 2px 5px;
    width: 200px;
    height: 30px;
}
md-select.md-table-select > .md-select-value{
    border-bottom: 1px solid #d5dce4 !important;
    padding: 0 5px;
}
.cs-filter-close {
    margin-left: -35px !important;
    height: 18px !important;
}
.cs-add-button {
    -moz-user-select: none;
    background: #2da8f9 !important;
    border-color: #12bdce;
    border-style: solid;
    border-width: 1px;
    box-shadow: unset !important;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    height: 34px;
    border:none;
}
.cs-input-label {
    line-height: 20px;
    margin-top: 8px;
}
.cs-input-row {
    margin-bottom: 8px;
}
.cs-classic-form md-input-container {
    margin: 0;
}
md-datepicker {
}
.md-datepicker-button {
    display: none;
}
.md-datepicker-input-container {
    margin-left: 0;
    padding: 2px 2px 1px;
}
.md-datepicker-input {
    min-width: auto;
    line-height: 26px;
    height: 30px;
    padding: 2px 2px 1px;
    border-bottom: 1px;
}
.cs-time-select {
    margin: 0 0 0 20px;
}
.cs-edit-dialog {
    width:65%;
    max-width:65%;
    max-height: 90%;
    border-radius: 0;
}
.cs-edit-panel {
    width: 80%;
    height: 100%;
    background-color: white;

    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
        0 13px 19px 2px rgba(0, 0, 0, 0.14),
        0 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.cs-cell-action {
    position: relative;
    width: 60px;
}
.cs-fab-action {
    position: absolute;
    right: 23px;
    top: 0;
}
.cs-progress {
    height: 3px;
    margin-top: -3px;
}
.cs-radio-group {
    background: #f8f8f8 none repeat scroll 0 0;
    overflow: hidden;
    padding: 10px;
    max-width: 404px;
    display: table;
}
.cs-radio-group > label {
    display: inline-block;
    border: 0;
    margin: 10px;
    background: #ebebeb none repeat scroll 0 0;
    color: #666 !important;
    height: 30px;
    width: 76px;
}
.cs-radio-group > label.active {
    background-color: #6254b2;
}
.form-group md-checkbox {
    margin: 0;
}
.cs-status-active {
    color: green !important;
}
.cs-creative-preview {
    padding: 7px !important;
}
.cs-creative-preview img {
    max-height: 40px;
}
.cs-image-preview {
    border-radius: 0;
    border: 1px solid gray;
    background: #fff none no-repeat scroll 8px 8px;
    width: 100%;
    height: 300px;
}
.cs-input-medium {
    width: 90px;
}
.cs-image-size input {
    width: 60px;
    display: inline;
}
.cs-image-size span {
    margin-right: 10px;
}
.cs-file-uploader label {
    color: #999;
}
.cs-file-uploader input {
    visibility: hidden;
    position: absolute;
}
.tooltip.cs-tooltip {
    margin-top: -4px;
}
.tooltip.cs-tooltip .tooltip-inner {
    background-color: #f6ffff;
    border: 1px solid #c7f2f6;
    border-radius: 0;
    padding: 8px 10px;
}
.tooltip.cs-tooltip .tooltip-inner p {
    color: #999;
    line-height: 18px;
    margin: 0;
}
.tooltip.cs-tooltip .tooltip-arrow {
    display: none;
}
.cs-progress-xxs {
  height: 2px;
}
.cs-plus-icon {
    display: inline-block;
    background-color: #89cfdb;
    color: #fff;
    height: 14px;
    line-height: 14px;
    margin-right: 2px;
    cursor: pointer;
    text-align: center;
    width: 14px;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
}
.cs-ad-progress > div {
    min-width: 50px;
    vertical-align: middle;
    text-align: center !important;
}
.cs-ad-date {
    font-size: 14px;
}
.cs-top-border-panel {
    background-color: #f8f8f8;
    border-top: 3px solid #dfdfdf;
    margin-top: 5px;
    padding-bottom: 30px;
    display: inline-block;
}
.cs-subform-group {
    margin:0 20px 0;
}
.cs-subform-group::after {
    clear: both;
    content: "";
    display: table;
}
.cs-subform-label {
    float: left;
    text-align: right;
    vertical-align: top;
}

.cs-subform-short-label {
    float: left;
    line-height: 30px;
    text-align: right;
    vertical-align: top;
    width: 70px;
    margin: 0;
}
.cs-subform-control {
    float: left;
    line-height: 30px;
    padding-left: 10px;
}
.cs-subform-filter-input {
    line-height: 24px;
    width: 150px;
    margin-left: 15px;
}
.cs-subform-select {
    margin:0 10px 0 0;
    line-height: 34px;
    height: 34px;
    float:left;
}
.xxxcs-subform-control::after {
    clear: both;
    content: "";
    display: table;
}
.cs-button-datepicker {
    background: #ebebeb none repeat scroll 0 0;
    float: left;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    border: medium none;
    border-radius: 0;
    margin-right:10px;
}

.cs-subform-search {
    float: left;
    line-height: 30px;
    padding-left: 20px;
}

.cs-button-search {
    background: transparent;
}

.cs-button-datepicker i.glyphicon {
    margin-left: 15px;
}
.cs-hour-selector {
    float: left;
    margin-left: 10px;
    display: inline-block;
    background: #ebebeb none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #666;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 45px 0 18px;
    position: relative;
    width: auto;
}
.cs-hour-selector::after {
    content: "";
}
.cs-loose-row {
    font-size: 14px;
    margin: 20px 0 0;
    line-height: 20px;
}
.cs-xmp {
    margin: 0px;
    color: blue;
}
a.cs-inline-edit {
    color: #12bfcd;
    cursor: pointer;
    margin-left: 30px;
    text-decoration: none;
}
.cs-embed-form {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    display: inline-block;
    padding: 20px;
}

/* for md-table */
table.md-table{
    overflow-x: auto;
}
table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2),
table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
    padding: 0 26px 0 0;
}
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 15px 0 0;
}
table.md-table th.md-column {
    background-color: rgb(247, 247, 247);
    height: 40px;
}
table.md-table thead.md-head > tr.md-row{
    height: auto;
}
table.md-table td.md-cell{
    border-top: 1px solid #eaeaea;
    border-bottom: none;
}
.md-table-pagination .label {
    font-size: 12px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    text-shadow: unset;
}
/*Start Nav Style*/
.cs-left-aside{
    width: 100%;
    max-width: 100%;
    position: static !important;
}
md-sidenav.md-closed{
    display: inline;
}
.navi{
    margin-top:52px;
}
.navi ul.nav li{
    float: left;
}
md-content.cs-main-content{
    margin: 0;
}
.navi ul.nav li a{
    padding:0 12px;
    height:58px;line-height:58px;
}
/*End Nav Style*/


/*start URL tokens style*/
.url-tokens-row .url-tokens{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap:wrap;
    margin-top: 10px;
}

.url-tokens-row .url-token{
    border-radius:2px;
    cursor: pointer;
    margin: 0 8px 8px 0;
    line-height: 12px;
    background-color: #777;
    color: #fff;
    padding: 5px;
}
.url-tokens-row .url-token.selected {
    background-color: #c2c2c2;
    cursor: default;
}
.url-tokens-row .url-token.urlBg{
    background: #c2c2c2;
}
.url-tokens-row .url-token:hover{
    background: #363636;
}

.url-tokens-row .url-token.selected{
    background-color: #c2c2c2;
    cursor: default;
}
/*end URL tokens style*/

/*start tags items style*/
.tag-items .md-chips .md-chip{
    cursor: pointer;
    padding: 2px 6px;
    background:#a6aebe;
    border-radius: 4px;
}

.tag-items .md-chips{
    padding: 6px 12px;
    /*height: 34px;*/
    line-height: 34px;
}

.tag-items .md-chips .md-chip{
    margin: 0;

}

.tag-items .md-chips .md-chip{
    font-size: 13px;
    height: 22px;
    line-height: 16px;
    margin: 0 8px 8px 0;
}

.tag-items .md-chips .md-chip-input-container{
    margin: 0;
    line-height: 34px;
}

.tag-items .md-chips .md-chip-input-container:not(:first-child){
    margin: -4px 0 0 0;
}

.tag-items .md-chips .md-chip .md-chip-remove{
    width: 20px;
    height: 20px;
    margin-top: -2px;
}

.tag-items .md-chips .md-chip .md-chip-remove md-icon{
    width: 10px;
    height: 10px;
}

.tag-items .md-chips .md-chip .md-chip-remove-container{
    line-height: 20px;
}

.tag-items .md-chips .md-chip-input-container input{
    min-width: 4px;
    width: auto;
}
/*end tags items style*/

/*start Advanced style*/
.collapsible-tab .collapsible-header .line{
    position: absolute;
    height: 1px;
    background-color: #cfdadd;
    width: 100%;
    margin-top: 13px;
    right: 0;
}

.collapsible-tab .collapsible-header .label-con{
    position: relative;
    z-index: 1;
}

.collapsible-tab .collapsible-header .label-con label{
    background: #fff;
    padding: 0 15px 0 5px;
    line-height: 27px;
    font-weight: bold;
    margin-left: -5px;
}

.collapsible-header{
    position: relative;
    /*margin-bottom: 20px;*/
    cursor: pointer;
}

.collapsible-header .material-icons{
    color: #666;
    width:20px;
    height:16px;
    background: #fff;
    font-size:14px;
}

.collapsible-header .icon-caret-down{
    float: right;padding-left: 15px;background:#fff;margin-top:5px;
    width:20px;
}

.collapsible-tab .collapsible-header.active .icon-caret-down,
.collapsible-tab .collapsible-header.active1 .icon-caret-down,
.panel-list .material-icons.arrowDown{
    ransform:rotate(180deg);
    -ms-transform:rotate(180deg);     /* IE 9 */
    -moz-transform:rotate(180deg);    /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);  /* Opera */
    padding-right:15px;

}

.material-icons.table-arrow-down.active,
.material-icons.table-arrow-down.down,
.material-icons.flow-arrow-down.rightAction{
    ransform:rotate(90deg);
    -ms-transform:rotate(90deg);     /* IE 9 */
    -moz-transform:rotate(90deg);    /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);  /* Opera */
}

.material-icons.flow-arrow-down.rightAction{
    ransform:rotate(-90deg);
    -ms-transform:rotate(-90deg);     /* IE 9 */
    -moz-transform:rotate(-90deg);    /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
    -o-transform:rotate(-90deg);  /* Opera */
}

.material-icons.flow-arrow-down{
    float: left;
    margin-top: 10px;
}

ul{
    list-style: none;
}
.flow-actions ul{
    text-align: right;
}
.flow-actions li{
    display: inline-block;
    margin-left: 20px;
    font-weight:bold;
}
.flow-actions li i{color:#2da8f9;margin-right:3px;}
.flow-actions li:hover{color:#2da8f9;}
/*end Advanced style*/

/*start trafficSource style*/
.collapse-wrapper .note{
    padding: 0;
    display: block;
    font-style:normal;
    background:#fffff9;
    border:1px solid #ececec;
    line-height:38px;
    border-radius:2px;
    margin:15px 15px 50px 15px;text-align:center;
}

.collapse-wrapper table{
    width: 100%;
}

table .traficc-source-input{
    padding:8px;
}

table .traficc-source-input input{
    width: 100%;
    border: 1px solid #cfdadd;
    padding: 5px;
}
table .traficc-source-input input[disabled]{
    background: rgba(128, 128, 128, 0.64);
}
table .traficc-source-input input[type="checkbox"]{
    width: 15px;
    height: 15px;
}

.traffic-source-templates,
.md-button.traffic-source-templates.md-focused{
    background: #2f9be1;
    font-size: 13px;
    color: #fff !important;
    text-transform:lowercase;
    margin: 6px 0;
    padding:0 15px;
}
.tracking-checkbox input[type="checkbox"]{
    width: 16px;margin:0;
}
.tracking-checkbox input[type="checkbox"]:focus{box-shadow:none;}
md-backdrop.md-dialog-backdrop:nth-child(2){
    z-index: 81;
}
.md-dialog-container:last-child{
    z-index: 85;
}
.traffic-source-template-list{
    padding: 0;
    width: 95%;
    margin: 0 auto;
}
.traffic-source-template-list li{
    min-height: 50px;
    line-height: 50px;
    background: #f1f2f7;
    margin-bottom: 15px;
    cursor: pointer;
}
.traffic-source-template-list li .ng-not-empty{float:none;}
.panel-body{
    padding: 10px 60px;
}
.affiliate-network-description p{
    line-height: 20px;
}
.affiliate-network-description .pull-left .header{
    font-weight: bold;
}
.affiliate-network-description .lists.pull-left{
    margin-bottom: 30px;
}
.affiliate-network-description .pull-left li{
    min-height: 30px;
    line-height: 30px;
    margin: 0;
    list-style-type: square;
    color: #989898;
}
.affiliate-network-description a.sign-up-btn{
    display: inline-block;
    width: 92px;
    height: 32px;
    background: #253c75;
    line-height: 20px;
    margin-left: 15px;
    border-radius: 4px;
    padding: 5px;
    color: #fff;
}
.panel-list .material-icons{
    float: right;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}
.traffic-source-template-list li input[type="radio"]{
    margin:0 15px;
}
/*end trafficSource style*/

/*Start Campaign Style*/
.report .left-con{
    float: left;
    margin-top:0;
}
.campaign-url{
/*    width: 78%;
    float: left;*/
}
.rd{background:url("../../assets/img/3rd.png") no-repeat;background-size:19px;width:20px;height:19px;display:block;float:left;margin-top:12px;}
.md-raised.copied-btn{
    height:34px;line-height:34px;padding:0 12px;
    box-shadow: none !important;
    background: #2f9be1;
    margin:0 0 0 -5px;
    font-size: 12px;
    /*float: right;*/
    color: #fff;
    display: block;
}
.md-raised.copied-btn:hover{
    background: #2da8f9 !important;
}
.md-raised.copied-btn .material-icons{
    font-size: 13px;
}
.report .right-select{
    float: right;
}
.right-select .cs-subform-group{
    float: left;
}
.right-select .cs-add-button{
    float: left;
    margin:0 10px 2px 0;
    border-radius: 2px;
    font-size:12px;
}
.right-select .search-con{
    border:1px solid #d5dce4;
    padding: 0 2px;
    border-radius: 2px;
    height:34px;
}
.cs-subform-control>div[uib-datepicker-popup-wrap] {float: left;}
.right-select2 .search-con{margin-top:-54px;float:right;}
.report .right-select2{float:left;margin:20px 0 0 -10px;width:100%;}
.right-select2 .cs-subform-select{margin-top:0;}
.right-select2 .ng-not-empty{float:left;padding:0 18px 0 10px;}
md-select.md-default-theme .md-select-value, md-select .md-select-value{
    border: 1px solid #d5dce4;
    border-radius: 2px;
    padding-left: 5px;
}
.right-select .selectAll,
.right-select .view_column{
    float: left;position:relative;
}
.campaign-radio md-radio-button{
    float: left;
    margin-right: 15px;
}
.campaign-radio md-radio-button .md-container,md-radio-button .md-off{
    width: 13px;
    height: 13px;
}
.campaign-radio md-radio-button .md-on{
    width: 13px;
    height: 12px;
}
.campaign-radio md-radio-group md-radio-button:not(:first-child){
    margin:0 15px 0 0;
}
.campaign-radio .radio-inline + .radio-inline,
.campaign-radio .checkbox-inline + .checkbox-inline,
.campaign-radio .radio-inline, .checkbox-inline{
    margin: 0 15px 0 0;
    line-height:23px;
}

.dollar-icon{
    position: absolute;
    display: block;
    line-height: 37px;
    padding-left: 10px;
}
.dollar-input{
    padding-left: 20px;text-indent:20px;
}
.left-con .cs-subform-control{
    padding-left: 0;
}
.left-con .cs-subform-select{
    height: 34px;
    margin: 0 10px 0 0;
    border-radius:2px;border:1px solid #d5dce4;padding:0 18px 0 8px;
}
.left-con .cs-subform-select[disabled]{
    background: #d5dce4;
}
.left-con .cs-subform-select option{border-radius:2px;}
.view_column
{
    text-align: center;
    width: 55px;
    height: 34px;
    line-height: 34px;
    background: #2da8f9;
    cursor: pointer;
    margin-top:0;
    border-radius: 2px;
}
.md-table-container{
    margin-top: 15px;
}
.view_column .material-icons{
    color: #fff;
}
.view_column .view-column-icon{
    margin: 0 0 0 4px;
}
.view_column .arrow-down-icon{
    margin:0px 0 0 -5px;
}
.view_column_con{
    width:255px;
    padding:0 0 20px 0;
    position: absolute;
    background: #fbfbfb;
    top:45px;
    right:0;
    z-index: 25;
    border-radius:2px;
    color: #333;
    box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.view_column_con ul{
    padding:0 ;
    max-height:268px;
    overflow-y: auto;
}
.view_column_con ul li{
    line-height: 15px;
    border-bottom: 1px solid #f3f3f3;
    padding:10px 20px;
}
.my-btn{
    margin-left: 15px;
}
.my-btn .cs-add-button{
    padding: 0 11px;
    font-weight:normal;
}
.my-btn .cs-add-button .btn-icon{
    width: 20px;
}
.view_column_con ul li{
    line-height: 15px;
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 20px;
text-align:left;
}
.material-icons.btn-icon{
    line-height: 34px;
}
.view_column_con ul li:hover{
    background: #d5dce4;
}
.view_column_con ul li input[type="checkbox"]{
    margin-right: 10px;
    cursor: pointer;
}
.view_column_con button{
    background: #2da8f9 !important;
    border-radius: 2px;
    margin-left: 15px;
}
.view_column_con button.close-btn{
    background: #8992aa !important;
}
.table-arrow-down{
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    /*background: rgba(18, 189, 206, 0.14);*/
}
table.md-table tr.md-row.first-tree td.md-cell:first-child{
    padding-left: 0 !important;
    width: 74px;
}
/*End Campaign Style*/

/*Start netWork Style*/
.network-textarea .note{
    margin: 15px 0;
    display: block;
    font-style:normal;color:#999;
}
.network-textarea textarea{
    border:1px solid #d5dce4;
border-radius:2px;
    width: 100%;
    min-height: 100px;
    resize: none;
    padding: 10px;
}
/*End netWork Style*/

/*Start dashBoard Style*/

.dash-board .data-list .data-list-con{
    margin:0;
    padding-left: 0;
}
.dash-board .data-list .data-list-con:last-child{
    padding-right: 0;
}
.dash-board .data-list .data-list-con h3{
    font-size: 13px;
    padding: 25px 0 5px 0;
    background: #f8f8f8;
    margin: 0;
    color: #666;
    text-align: center;
    border-radius: 2px 2px 0 0;
}
.data-num{
    font-size: 22px;
    font-weight: 700;
    color: #2f9be1;
    text-align: center;
    height: 48px;
    background: #f6f8f8;
    border-radius: 0 0 2px 2px;
}
.data-tables-chart-container .table > thead > tr > th,
.data-tables-chart-container .table > tbody > tr > td{
    border: none;
}
.data-tables-chart-container .table > tbody > tr:nth-child(2n+2){
    background: #f5f5f5;
}
.data-tables-chart-container .table-hover > tbody > tr:hover{
    background-color: #e6ebf0;
    color: #333;
}
.data-tables-chart-container table thead,
.table thead,
.table tfoot{
    background: #c5cfdb;
    color: #333;
}
.md-table tfoot.md-body{
    height: 42px;
    line-height: 42px;
    background: #d5dce4;
}
.offer-remind{
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: rgb(33,150,243);
    text-align: center;
    font-size: 13px;
}
.offer-title md-toolbar._md-toolbar-transitions{
    background: #fff;
    color: #205EB2;
}
.md-toolbar-tools h2{
    width: 100%;
    font-weight: lighter;
}
.data-tables-chart-container table tbody td:first-child{
    background: #e6ebf0;
    color: #333;
    padding: 0 5px;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}
.table-toggles{
    margin:15px 0;
}
.table-toggles ul{
    padding: 0;
    margin: 0;
}
.table-toggles li{
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    background: #2f9be1;
    padding: 0 15px;
    border-radius: 2px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.table-toggles li.selected,
.table-toggles li.selected:hover{
    background:#2da8f9;
}
.table-toggles li:hover{
    background: #2f9be2;
}
.toggles-button-left{
    float: left;
}
.toggles-button-right{
    float: right;
}
.chart-widget{
    padding-top: 60px;
}
/*End dashBoard Style*/

/*Start setting Style*/
h1.setting-title{
    padding: 30px 0;
    text-align: center;
    font-size: 22px;
    font-weight:500;
    color: #363636;
    margin:20px 0 0 0;
}
h1.setting-title p{line-height:26px;color:#666;}
.basic-form .cs-subform-select{
    width: 100%;
    margin: 0;
}
/*.account-form,
.basic-form,
.data-table{
    max-width: 1004px;
    margin: 0 auto;
}*/
.basic-form .campaign-radio{
    height: 38px;
    line-height: 38px;
}
.basic-form .campaign-radio input[type="radio"]{
}
.profile-content{
    padding:50px 30px;
    background:#f6f8f8;
    width:70%;
    margin:0 auto 50px auto;
    border-radius:2px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 0 rgba(0, 0, 0, 0.05);
}
.password-change .profile-form-footer{
    margin-right: 0;
}
.conversion .profile-form-footer .save-btn{
    float: left;
}
.conversion .profile-form-footer .close-btn{
    float: right;
    margin: 0;
}
.conversion .upload-con{
    width: 100%;
    margin-bottom: 20px;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #cfdadd;
}
.conversion .profile-form-footer{
    margin-right: 0;
    width: 185px;
}
.profile-form-footer{
    width: 220px;
    float: right;
    margin-right: 15px;
    margin-top:0;
}
.close-btn{
    background: rgba(128, 128, 128, 0.71) !important;
}
.btn-primary{
    color: #ffffff !important;
    background-color: #2f9be1;
    border-color: #2f9be1;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
    color: #ffffff !important;
    background-color: #2da8f9 !important;;
    border-color: #2da8f9;
}
.save-btn{
    margin-right: 5px;
}
.save-btn,.close-btn{
    background: #2da8f9;
    padding: 0 10px;
    font-size: 13px;
    color: #fff;
    float: left;
    cursor: pointer;
    border-radius: 2px;
    height: 30px;
    line-height: 25px;
    cursor: pointer;
    border: none;
}
.profile-form-footer .save-btn{
    float: right;
    padding: 0;
    margin: 0;
}
.profile-form-footer .save-btn:hover{
    background: #2da8f9;
}
.profile-form-footer .save-btn[disabled]{
    color: #fff !important;
    background: rgba(128, 128, 128, 0.6);
}
.save-btn .material-icons{
    font-size:22px;
}
.referral-program,
.setUp-page{
    max-width: 1030px;
    margin:0 auto;
    line-height:28px;
}
.referral-program p{line-height:28px;}
.md-raised.copy-btn,
.add-another-btn{
    margin: 0;
    box-shadow: none !important;
    height: 32px;
    line-height: 32px;
    text-transform: lowercase;
    padding: 0 10px;
    background: #2f9be1;
    color: #fff;
}
.md-raised.copy-btn.verify-btn{
    background: #31c778;
}
.md-raised.copy-btn.verify-btn:hover{
    background:#29af69 !important;
}
.md-raised.copy-btn.verify-btn.domain-error
{
    background: red;
}
.md-raised.copy-btn.verify-btn.domain-error:hover{
    background: rgba(255, 0, 0, 0.62) !important;
}
.md-raised.copy-btn:hover{
    background: #2da8f9 !important;
}
.table thead{
    font-size: 12px;
}
.table tbody tr{
    background: #fff
}
.table tbody tr:nth-child(2n+2){
    background: #f8f8f8;
}
.referral-program .md-table-pagination{
    border-top: none;
}
.subscription-title{
    font-size: 14px;
    color: #999;
    height: 39px;
    line-height: 39px;
    margin: 0;
    padding: 0 10px;
    text-align:center;

}
.plan-select{
    background: #2dcc70;
    font-size: 12px;
    padding: 5px 0;
    text-align: center;
    border-radius: 2px;
    visibility: hidden;
}
.my-price.my-price-select{
    margin:0 auto;
}
.plan-select.isVisiable{
    visibility: inherit;
}
.table-out{
    padding:20px 35px;
    background: #fff;
}
.table-out table{
    width: 100%;
}
.table-out table td{
    padding: 12px 0;
}
.table-out table td:last-child{
    font-weight: 700;
    text-align: right;
}
.pro{
    margin:10px 0;
}
.pro span,
.pro span.pro-price{
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
}
.pro span.pro-right{
    float: right;
    font-size: 14px;
    font-weight: normal;
}
.conversion .domain-p .material-icons{
    margin-top: -3px;
}
.conversion .domain-p span{
    color: #2f9be1;
}
.domain-p .material-icons{font-size:14px;margin-right:5px;color:#666;
}
.domain-p p{
    display: inline-block;
}
.add-another-button ul{
    margin:0;
    padding: 0;
}
.add-another-button ul{
    margin: 0;
    padding: 0;
    width: 60%;
    float: left;
}
.add-another-button ul li{
    float: left;
    margin-right: 10px;
}
.add-another-btn{
    float: right;
    background: #2f9be1 !important;
    color: #fff !important;
}
.add-another-button{
    margin-bottom: 20px;
}
.domains-container{
    width: 100%;
    overflow-y: auto;
    margin-bottom: 40px;
}
.internal-domains .domain-btn-list{
    padding: 0;
}
.domain-btn-list .md-raised.copy-btn{
    float: right;
}
.domain-btn-list .md-raised.copy-btn,
.another-list-btn .md-raised.copy-btn{
    min-width: 152px;
    border: none;
    border-radius:2px;
    height: 36px;
    line-height: 36px;
    margin-right:5px;
}
.copy-btn.domain-btn.gray-btn,
.md-raised.copy-btn.verify-btn.gray-btn,
.md-raised.add-another-btn.gray-btn,
.copy-btn.domain-btn.gray-btn:hover,
.md-raised.copy-btn.verify-btn.gray-btn:hover{
    background: #8992aa !important;
}
.copy-btn.domain-btn{
    background: #2f9be1;border-radius:2px;
}
.copy-btn.domain-btn.main-domain{
    background: #2f9be1 !important;
}
.copy-btn.domain-btn.main-domain:hover{
    background: #2f9be1 !important;
}
.copy-btn.domain-btn:hover{
    background:#2da8f9!important;
}
.copy-btn.main-domain{
    padding: 0 15px;
}
.item-domains{
    margin-bottom: 15px;
}
.item-domains label{
    float: left;
}
.item-domains .input-out{
    width: 60%;
    float: left;
    margin:0 15px;
}
.item-domains.domains .input-out{
    width: 33%;
}
.internal-domains{
    padding: 10px 0;
    margin-bottom: 12px;
}
.another-list-btn{
    padding:0;
    float: right;
}
.another-list-btn .add-another-btn{
    margin-right: 10px;
    float: left;
}
.another-list-btn .material-icons{
    width: 36px;
    height: 36px;
    background: #f1f1f1;
    color: #4d4651;
    line-height: 36px;
    text-align: center;
}
.domain-footer{
    padding: 0 100px;
}
.domain-verify h2{
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 20px 0;
}
.domain-verify p{
    text-align: center;
}
.domain-verify .dns-data{
    max-width: 80%;
    margin:0 auto;
    background: #eaf1f9;
}
.domain-verify .dns-data h3{
    font-size: 18px;
    background: #5281eb;
    color: #fff;
    line-height: 45px;
    text-align: center;
}
.domain-verify .dns-data .dns-records{
    color: #363636;
    padding: 15px 50px;
}
.domain-verify .dns-data .dns-records ul{
    padding:0;
    list-style-type: disc;
}
.cs-setting-page.cs-flow-bottom-actions{
    position: static;
    margin-top: 20px;
    float: right;
}
.blue-word{
    color: #2da8f9;
    font-weight:bold;
}
.user-mangement{
    width: 698px;
    height: 251px;
    border: 1px solid #c9c9c9;
    margin: 0 auto;
    padding: 20px 50px;
    background: #f1f5fa;
}
.user-mangement-content{
    max-width: 600px;
    margin:0 auto;
}
.user-mangement-content input[type="email"]{
    width: 77%;
}
.user-mangement-content button{
    float: right;
}
.user-mangement-content .plan-btn button{
    float: none;
}
.user-mangement-content label{
    font-weight: 700;
}
.user-mangement-content .small-word{
    font-weight:normal;
    font-style:normal;
    font-size:12px;color:#666;
    margin-bottom:30px;
}
.user-mangement-content .user-list{
    background: #f1f5fa;
    padding:10px 20px;
}
.user-mangement-content .user-list span{
    display: inline-block;
    font-weight: normal;
}
.user-mangement-content .user-list button{
    float: none;
    margin: 0 15px 0 88px;
}
.user-mangement-content .user-list span.nothing-word{
    display: block;
    text-align: center;
}
.user-mangement-content .user-list .email-con{
    margin: 0 88px;
}
.user-mangement-content .user-list .delete-user{
    float: right;
    background: #4d4651;
    color: #f1f1f1;
    width: 22px;
    height: 22px;
    line-height:22px;
    text-align: center;
    border-radius:2px;
    cursor: pointer;
    margin-top:8px;
    font-size:12px;
}
.user-mangement span,
.user-mangement-content span{
    display: block;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}
.itemList{
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}
.itemList:last-child{
    margin-bottom: 0;
}
.itemList span{
    margin: 0;
}
.plan-btn{
    text-align: center;
    margin: 20px 0;
}
.plan-btn .md-raised.copy-btn{
    padding: 0 25px;
    font-weight:normal;
}
.setting-title p{
    font-size: 13px;
    width: 750px;
    margin:20px auto;
    color: #000;
}
.bot-blacklist{
}
.table tr  .bot-th{
    display: inline-block;
    padding-left: 25px;
}
.bot-blacklist .table tbody tr:hover{
    background: rgba(45, 168, 249, 0.06);
}
input[type="checkbox"].th-checkbox{
    position: absolute;
    width: 15px;
    height: 15px;
    margin: 0;
}

.referral-program .profile-form-footer{
    margin-top: 40px;
}
.bot-blacklist{
    padding: 10px;
}
.bot-select{
    float: left;
}
.bot-select .cs-subform-selec{
    margin-top: 0;
}

.bot-select label{
    font-weight: bold;
    float: left;
    display: block;
    margin-right: 15px;
}
.bot-blacklist-content{
    max-width: 1004px;
    margin:20px auto;
    border-top:1px solid #eee;
    padding-top:50px;
}
.bot-select .cs-subform-select{
    margin-top: 0;
}
.btn-right .md-raised{
    margin-left: 10px;
}
.btn-right{
    float: right;
}

.payment-content .plan-btn{
    margin-top: 20px;
}
.payment-content span{
    display: block;
}
.payment-content h1{
    margin-top: 0;
    padding-top: 20px;
}
.payment-content span{font-size:16px;text-align:center;}
.payment-content h1{
    text-align: center;
    font-size:32px;
}
.balance-content{
    padding:10px;
    text-align: center;
}
.balance-content span{
    font-size: 20px;
    vertical-align: sub;
}
.balance-content span.amount{
    font-size:38px;
    font-weight: 700;
    vertical-align:middle;
}
.invoices .data-table{
    padding: 0 15px;
}
.invoices .data-table h2{
    font-size: 16px;
    margin: 40px 0 0 0;
    background:#eee;
    padding:10px 15px;
}
.invoices .data-table .material-icons{
    color:#2da8f9;
}
.invoices .data-table .download{
    color: #2da8f9;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
}
.PayPal-dialog p{
    text-align: center;
}
.PayPal-form{
    max-width: 720px;
    margin:20px auto;
}
.paypal-btn{
    padding: 20px 0;
    border-bottom: 1px solid rgba(201, 201, 201, 0.52);
}
.PayPal-dialog .layout-row .flex-100{
    margin: 25px 0;
}
.PayPal-dialog .layout-row .flex-50{
    margin: -20px 0;
}
.footer-p{
    margin: 50px 0;
}
.event-log .md-table-pagination{
    border-top: none;
}
.search-icon{
    display: block;
    margin:20px 0;
    text-align: center;
    font-size: 60px;
    color: rgba(128, 128, 128, 0.36);
}
.search-word{
    display: block;
    text-align: center;
    color: rgba(128, 128, 128, 0.36);
}
.cs-edit-dialog.bot-blacklist-dialog md-toolbar{
    background: #fff;
}
.cs-edit-dialog.bot-blacklist-dialog .setting-title{
    border-top: none;
    font-size: 24px;
    font-weight: bold;
}
.cs-edit-dialog.bot-blacklist-dialog .setting-title p{
    font-weight: normal;
}
.bot-blacklist-editForm{
    padding:0 20px;
}
.bot-blacklist-editForm .form-group{
    margin-left: 0;
    margin-right: 0;
}
.bot-blacklist-editForm .form-group label{
    font-weight: bold;
}
.add-next-content{
    float: right;
    margin-right: 5%;
}
.material-icons.add-next{
    color: #2da8f9;
}
.ip-range{
    margin-bottom: 15px;
}
.ip-range input{
    float: left;
    width:100%;
}
.ip-range .material-icons{
    float: right;
}
.bot-blacklist-add-content{
    max-height: 300px;
    overflow-y: auto;
}


@media screen and (max-width:998px){
    .another-list-btn .add-another-btn{
        margin-right: 1px;
    }
}
/*End setting Style*/
/*Start Flow Style*/
.flow-select .cs-subform-select,
.edit-page .cs-subform-select{
    margin-top: 0;
}
.flow-preview .tree-li{
    padding: 0 38px;
}
.flow-preview .tree-li.third-tree-li{
    padding-left: 72px;
}
.flow-preview .tree-li.fourth-tree-li{
    padding-left: 120px;
}
.cs-page-flow{
    padding: 10px;
}
.cs-flow-tree{
    background: rgba(45, 168, 249, 0.18);
    padding: 30px 0;
    border-radius: 4px;
    overflow: auto;
    height: 100%;
}
.tree-li{
    height: 35px;
    line-height: 35px;
    padding: 0 30px;

}
.tree-li.cs-flow-active{
    background: rgba(47, 155, 225, 0.28);
}
.tree-li.cs-is-deleted .cs-path-name{
    display: inline-block;
    width: 90%;
    color: #a4aab1;
    position: relative;
}
.tree-li.cs-is-deleted .cs-path-name .cs-rule-name{
    text-decoration: line-through;
}
.tree-li.cs-is-deleted .cs-path-name:after{
    height: 1px;
    position: absolute;
    left: 0;
    width: 100%;
    background: #a4aab1;
    top: 50%;
}
.tree-icon{
    float: left;
    color: #989898;
    height: 35px;
    font-size: 12px;
    line-height: 36px;
}
.cs-flow-name,
.cs-rule-name{
    display: inline-block;
    max-width: 280px;
    font-size: 14px;
    margin-left: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left
}
.cs-flow-restore{
    position: absolute;
    right: 10px;
    color: gray;
}
.cs-flow-rule .cs-is-disabled .tree-icon{
    color: rgba(49, 46, 99, 0.41);
}
.cs-page-flow li.tree-li.cs-is-disabled.active{
    background: rgba(45, 168, 249, 0.38);
}
.cs-page-flow li.tree-li.cs-is-disabled,
.cs-is-disabled .cs-rule-name,
.cs-is-disabled .cs-path-name{
    color: rgba(113, 116, 119, 0.52);
}
.path-name{
    display: inline-block;
    max-width: 280px;
    font-size: 14px;
    margin-left: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left
}
.cs-flow-arrow{
    float: left;
    height: 35px;
    line-height: 35px;
    margin: 0 5px 0 -5px;
    color: #989898;
}
.cs-flow-rule .tree-icon{
    color: #333;
}
.cs-page-flow ul{
    padding: 0;
    margin: 0;
}
.cs-page-flow li.tree-li{
    padding: 0 55px;
}
.cs-page-flow li.tree-li:hover{
    background: rgba(45, 168, 249, 0.28);
}
.weight-num{
    display: inline-block;
    float: right;
}
.weight-num em{font-size:12px; color:#666;font-style:normal;margin-left:5px;}
.add-box{
    font-size: 17px;
    color: #2da8f9;
}
.add-flow-path,
.add-flow-rule{
    font-size: 14px;
}
.cs-flow-content{
    padding-left: 40px;
}
.form-content{
    max-width:600px;
}
.label-name{
    font-weight: 700;
}
.label-radio{
    font-weight: 700;
    padding-left: 0;
}
.close-btn{
    background: #898989;
}
.close-btn:hover{
    color: #fff;
}
md-content.cs-main-content{
    height: 85%;
}
.cs-page-flow,
.cs-flow-content{
    height: 100%;
}
.cs-flow-bottom-actions{
    position: absolute;
    bottom: 0;
    right: 15px;
}
.top-btn-list{
    text-align: right;
}
.top-btn-list button,
.top-btn-list button.active{
    border: none;
    background: #2da8f9;
    color: #fff !important;
}
.top-btn-list button:hover{
    background: #2da8f9;
    color: #fff !important;
}
.editPathForm md-switch,
.editRuleForm md-switch{
    margin:0;
}
.masking{
    position: absolute;
    background: #fff;
}
.editPathForm .row,
.editRuleForm .row{
    margin: 20px 0;
}
.name-div{
    padding-left: 0;
}
.cs-flow-lander-header{
    background: #2da8f9;
    height: 35px;
    line-height: 35px;
    color: #fff;
}
.add-lander-btn{
    float: right;
    border: none;
    box-shadow: none;
    background: none;
    font-size: 13px;
    padding:15px 10px;
}
.cs-flow-lander-action{
    background: #f6f6f6;
    border-top: 1px solid #fff;
}
.cs-flow-lander-row md-select{
    margin: 0;
}
.edit-btn,
.lander-delete-btn{
    margin: 7px 0px 0 10px;
}
.cs-flow-lander-row md-select{
    width: 89%;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
}
.cs-flow-lander-row md-select md-select-value{
    padding: 0;
    margin: 0;
    border-bottom: none;
}
.cs-flow-edit input[type="text"]{
    float: left;
    width: 70%;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
}
.cs-flow-edit{
    position: absolute;
    top: 7px;
    height: 30px;
}
.cs-flow-view{
    padding: 6px;
    margin:7px;
}
.cs-flow-lander-row,
.cs-flow-offer-row{
    background: #f6f6f6;
    padding: 10px 0;
    font-size: 13px;
}
.direct-content md-autocomplete md-autocomplete-wrap{
    box-shadow: none;
    height: 34px;
    border: 1px solid #cfdadd;
    line-height: 34px;
}
.direct-content md-autocomplete input:not(.md-input){
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
}
.direct-content md-autocomplete{
    height: 34px;
    width: 88%;
    float: left;
}
.direct-content md-icon{
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
}
p.cs-flow-lander-view,
p.cs-flow-offer-view{
    margin: 0;
}
.em-close{
    font-size: 16px;
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: -1px;
}
.cs-condition-field{
    padding-left: 27px;
}
.country-select md-select{
    margin: 0;
}
 .md-select-value{
    border: none;
}
md-select:not([disabled]):focus .md-select-value{
    border-bottom-width: 1px;
    border-bottom-color: #d5dce4;
}
.inputgroup-input,
.select-bg,
.cs-conditions-content .ms-chips{
    border: none;
    border-radius: 4px;
    margin: 10px;
}
.day-input-content,
.condition-select-content,
.inputgroup-input,
.select-bg,
.cs-conditions-content .ms-chips,
.custom-input
{
    background: rgba(45, 168, 249, 0.18);
    font-size: 75%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
}
.custom-input{
    width: 100%;
    border: none;
    border-radius: 4px;
}
.condition-select-content{
    width: 45%;
    color: #363636;
    text-shadow: none;
    margin: 0 15px;
    display: inline-block;
    text-align: left;
    font-weight: normal;

}
.day-input-content{
    border-radius: 4px;
}
.condition-checkbox div{
    display: inline;
    font-size: 13px;
    line-height: 30px;
    margin-right: 10px;
}
.cs-flow-lander-row:nth-child(2n+1),
.cs-flow-offer-row:nth-child(2n+1){
    background: #e1e6ee;
}
.lander-content{
    padding-right: 10px !important;
}
.input-content .cs-flow-offer-view{
    text-align: right;
}
.lander-content,
.offer-content{

    margin-bottom: 20px;
    padding:0;
}
.cs-flow-offer-lander{
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.input-content{
    padding-left: 0;
}
.cs-deleted-mask{
    position: absolute;
    top: 37px;
    bottom: 37px;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.6;
    z-index: 10;
}
.cs-conditions{
    margin-top: -10px;
}
.cs-conditions-content{
    max-height: 400px;
    overflow: auto;
}
.cs-conditions-content li{
    margin:15px 0;
}
.delete-condition{
    width: 35px;
    height: 35px;
    display: inline-block;
    float: right;
    margin-top: -2px;
    font-size: 18px;
}
.btn-group.is-btn label{
    display: inline-block;
    min-width: 100px;
    box-shadow: none;
    margin-right: 15px;
    border: none;
    height: 30px !important;
    line-height: 17px;
    border-radius: 4px !important;
    margin-top: -3px;
}
.btn-group.is-btn label:last-child,
.delete-btn:hover{
    background: #ccc;
}
.delete-btn{
    box-shadow: none;
    border: none;
    background: #ccc;
    margin-left: 15px;
    color: #fff !important;
}
.condition-select{
    margin-left: 30px;

}
.condition-select md-select{
    margin: 15px 0;
}
.weight-input{
    width: 74%;
    float: left;
    padding: 0 10px;
    font-size: 13px;
}
.condition-select-content{
    margin-bottom: 15px;
}
.textarea-content textarea{
    width: 100%;
    min-height: 100px;
    padding:10px;
    resize: none;
}
.os-content .list-content{
    padding:0;
    margin-bottom: 20px;
}
.cs-l2select-selected.list-content{
    padding-right: 15px;
}
.cs-select-content{
    background: rgba(45, 168, 249, 0.18);
    padding: 10px;
    border-radius: 4px;
}
.cs-l2select-l1panel,
.cs-l2select-l2panel{
    padding-left: 0;
}
.cs-select-query input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    padding: 5px;
    line-height: 15px;
}
.cs-select-query .select-search-icon{
    position: absolute;
    top: 15px;
    right: 33px;
    color: rgba(128, 128, 128, 0.55);
}
.options-list{
    height: 150px;
    overflow: auto;
    padding: 15px;
}
.list-content .md-chips{
    height: 197px;
    background: rgba(45, 168, 249, 0.18);
    box-shadow: none;
    overflow-y: auto;
    padding:10px;
    border-radius: 4px;
}
.list-content .md-chips .md-chip{
    font-size: 12px;
    color: #fff;
    background: #12bdce;
    border-radius: 4px;
}

.select-bg .md-select-value{
    border: 0;
    padding: 0 10px;
}
.country-select md-select:not([disabled]):focus .md-select-value{
    border:none;
}
.inputgroup-input{
    padding: 5px;
}
.chips-content .md-chips{
    background: rgba(45, 168, 249, 0.18);
    height: 30px;
    border: none;
    box-shadow: none !important;
    padding:0 10px;
}
.chips-content .md-chips.md-removable{
    padding: 5px 0px;
    height: 45px;
    border-radius: 4px;
}
.md-chips md-chip{
    font-size: 70%;
    margin: 5px;
    height: 25px;
    line-height: 25px;
    border-radius: 6px;
}
.md-chips md-chip .md-chip-remove{
    width: 25px;
    height: 25px;
}
.md-chips md-chip .md-chip-remove md-icon{
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
}
.chips-content md-chips .md-chips.md-focused{
    box-shadow: none;
}
.md-chips .md-chip-input-container{
    font-size: 14px;
    color: #363636;
    margin: 0;
    width: 100%;
    padding: 0 10px;
}
.chips-con,
.country-select,
.textarea-content{
    padding-right: 15px;
}
/*End Start Style*/

.cs-flow-lander-view, .cs-flow-lander-onedit .cs-flow-lander-edit,
.cs-flow-offer-view, .cs-flow-offer-onedit .cs-flow-offer-edit
{
    display: block !important;
}
.cs-flow-lander-edit, .cs-flow-lander-onedit .cs-flow-lander-view,
.cs-flow-offer-edit, .cs-flow-offer-onedit .cs-flow-offer-view
{
    display: none !important;
}


/* sasa.css */
select {
    border-radius:2px;
    border: solid 1px #000;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
padding:0 18px 0 10px;
    background: url("../../assets/img/arrow.png") no-repeat scroll right center transparent;
    background-size:14px;

}


select::-ms-expand { display: none; }

table.md-table tbody.md-body > tr.md-row span {white-space: nowrap;}

.form-control{padding:6px;}
.icon-sort-down{position:relative;z-index:1;top:9px;right:22px;float:right;color:#666;}
.url-tokens-row i{font-style:normal;color:#999;}
md-table-container{max-height:430px;overflow-y:auto;}
.referral-group{margin:40px 0;}
.referral-group .control-label{text-align:right;}
select{border:1px solid #d5dce4;}
.navbar-brand.navbar-logo img{width:80px;max-height:auto;}
.boot-bg{margin:0;padding-top:10px;font-size:12px;}
.boot-bg .text-muted {
    color: #999;}
.control-label{color:#666;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background:#fff;}
.signup-btn{border:none;box-shadow:none;vertical-align:inherit;}
.sign-text{color:#666;font-size:12px;}
.sign-text a{color:#333;font-weight:600;}
.sign-text a:hover{color:#2da8f9;background:transparent;box-shadow: none;}
.sign-top{margin-top:30px;}
.list-group-item .form-control-feedback{left:12px}
.list-group-item input{text-indent:25px;background:#f6f8f8;}
.form-control-feedback{left:32px;top:11px;text-align:left;color: #666;}
.icon-envelope-top{margin-top:2px;}
.small-font{font-size:12px;
    transform: scale(0.90);
    transform-origin:0 0;
    -ms-transform: scale(0.90);         /* IE 9 */
    -ms-transform-origin:0 0;       /* IE 9 */
    -webkit-transform: scale(0.90); /* Safari 和 Chrome */
    -webkit-transform-origin:0 0;   /* Safari 和 Chrome */
    -moz-transform: scale(0.90);        /* Firefox */
    -moz-transform-origin:0 0;      /* Firefox */
    -o-transform: scale(0.90);      /* Opera */
    -o-transform-origin:0 0;        /* Opera */}
.sign-input input{text-indent:30px;border-radius:2px;background:#f6f8f8;border:1px solid #d5dce4;}
.w-top{margin-top:5%;}
.w-top .list-group-item{margin-bottom:10px;border-radius:2px;height:38px;}
.w-top .list-group-sm .list-group-item{background:#f6f8f8;padding:0;}
.md-primary.save-btn{background:#2da8f9;}
.md-primary.save-btn span{color:#fff;font-size:12px;}
.md-primary.cancel-btn{background:#f6f8f8;color:#333;font-size:12px;}
.md-primary.cancel-btn:hover{background:#f6f8f8;}
.form-control{height:36px;border-radius:2px;border:1px solid #cfdadd;}
.form-control:focus{box-shadow:0 0 1px #ccc;border-color:#d5dce4;}
.my-btn{margin-left:15px;}
.md-select-value{border:none;}
md-toolbar{min-height:46px;}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){background:#2da8f9;}
.md-toolbar-tools{height:46px;}
md-dialog.md-transition-in{border-radius:2px;}
.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3{font-size:18px;font-weight:600;margin-left:10px;}
.material-icons{font-size:17px;}
table{border-collapse:collapse;}
md-select.md-default-theme .md-select-value, md-select .md-select-value{border:1px solid #d5dce4;border-radius:2px;background:#fff;}
md-select:not([disabled]):focus .md-select-value{border:1px solid #d5dce4;border-radius:2px;}
.icon-search.md-24{margin:0 10px;font-size:14px;color:#2f9be1;}
.md-select-menu-container.md-active md-select-menu{border-radius:2px;}
md-select-menu:not(.md-overflow) md-content{padding:0;}
.md-select-value *:first-child{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.md-select-value .md-select-icon:after{top:0;}
.md-select-value .md-text{margin-left:6px;}
md-select.md-default-theme[disabled] .md-select-value, md-select[disabled] .md-select-value{border-bottom-color:#d5dce4;background-image:none;}
md-select-menu.md-default-theme md-option[selected], md-select-menu md-option[selected]{color:#333;}
md-select-menu.md-default-theme md-option[selected]:hover, md-select-menu md-option[selected]:hover,md-select-menu md-option[selected]:focus{background:#d5dce4;color:#333;}
md-select.md-table-select > .md-select-value{border-bottom:1px solid #d5dce4 !important;padding:0 5px;}
table.md-table thead.md-head > tr.md-row{height: auto;}
table.md-table td.md-cell{border-top:1px solid #eaeaea;border-bottom:none;}
table.md-table tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row{height:42px;}
md-option{height:36px;background:#f6f6f6;}
md-option:hover{background:#e6ebf0;}
md-option .md-text{font-size:14px;color:#333;}
.layout-column > .flex, .layout-sm-column > .flex{margin:0;}
.navbar-right .dropdown-menu{top:54px;right:-1px;}
.dropdown-menu{padding:0;}
.dropdown-menu li a{padding:10px;font-weight:500;}
md-icon{min-height:auto;min-width:auto;}
.md-button{min-height: 32px;min-width:80px;font-size: 12px;font-weight: 600;}
.md-select-value .md-select-icon{margin:2px 4px;}
md-dialog .md-dialog-content{padding:50px;}
.form-horizontal .cs-subform-select{margin-top:0;border-radius:2px;}
.form-horizontal .radio-inline{line-height:23px;}
md-dialog .md-actions, md-dialog md-dialog-actions{background:#f6f8f8;}
.botblack-height{margin-top:130px;}
md-dialog md-dialog-content.botblack-height{overflow:initial;}
.selectize-input{border:1px solid #d5dce4;border-radius:2px;min-height:34px;line-height:34px;padding:0;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{vertical-align:middle}
@media (max-width:1124px){.right-select .search-con{margin-right:5px;
    padding: 0 2px;
    margin-top: -38px;
    border-radius: 2px;
    right: -5px;
    position: relative;
    float: right;}.report .right-select{float:left;width:100%}
    .cs-subform-control{padding:0;}
    .right-select2 .search-con{margin-top:-54px;}
    .report .right-select2{margin-left:0;}}
@media (max-width:1024px){
    .navbar-right{width:auto;}
    .fade-in-right-big{width:50%;}
}
@media (max-width:910px){
    .profile-content{width:96%;}
    .fade-in-right-big{width:50%;}
}
@media (min-width: 320px) and (max-width:768px){
    .cs-page-content{padding:0 15px;}
    .navi ul.nav{margin:0;}
    .left-con .cs-subform-select:nth-last-child(1),.cs-subform-select{margin-right:5px;}
    .cs-subform-control{padding:0;}
    .md-raised.copy-btn, .add-another-btn{margin-top:5px;}
    .fade-in-right-big{width:90%;}
}
@media (max-width:615px){.right-select .search-con{display:block;margin-top:0;}
    .right-select .search-con{margin-top: -38px;}
    .cs-filter-input{width:150px;}
}
@media (max-width:420px){.right-select .search-con{top:155px;float:right;left:5px;position:relative;width:100%;display:block;}
    .cs-filter-input{width:300px;}
    md-table-container{margin-top:55px;}
    .navi ul.nav li{width:50%;}
    .navi ul.nav li a{margin:0 0 0 15px;}
    .navi ul.nav li a > i {
        position: relative;
        float: left;
        margin:2px;
        line-height:14px;
        overflow: hidden;
        text-align:center;
        color:#6D6F72;
    }
    .fade-in-right-big{margin-top:50px;}
}
@media (max-width:520px){.data-num{font-size:18px;}}
@media (max-width: 320px){
    .cs-filter-input{width:247px;}
    .table-toggles li{padding:0 10px;}
    .navbar-right > li > a{width:100px;}
    .md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3{font-weight:bold;font-size:16px;}
    .cs-subform-select{width:91px;}
}
