@font-face {
  font-family: 's-icon';
  src:  url('../fonts/s-icon.eot?uzzle4');
  src:  url('../fonts/s-icon.eot?uzzle4#iefix') format('embedded-opentype'),
  url('../fonts/s-icon.ttf?uzzle4') format('truetype'),
  url('../fonts/s-icon.woff?uzzle4') format('woff'),
  url('../fonts/s-icon.svg?uzzle4#s-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon-money-01:before {
  content: "\e991";
}
.icon-money-02:before {
  content: "\e992";
}
.icon-xl-01:before {
  content: "\e98d";
}
.icon-xl-02:before {
  content: "\e98e";
}
.icon-xl-03:before {
  content: "\e98f";
}
.icon-skype:before {
  content: "\e990";
}
.icon-hmd-03:before {
  content: "\e98b";
}
.icon-hmd-02:before {
  content: "\e98c";
}
.icon-rl-02:before {
  content: "\e977";
}
.icon-rl-04:before {
  content: "\e978";
}
.icon-rl-03:before {
  content: "\e979";
}
.icon-dy-01:before {
  content: "\e97a";
}
.icon-dy-02:before {
  content: "\e97b";
}
.icon-fp-01:before {
  content: "\e97c";
}
.icon-fp-02:before {
  content: "\e97d";
}
.icon-fp-03:before {
  content: "\e97e";
}
.icon-fp-04:before {
  content: "\e97f";
}
.icon-fp-05:before {
  content: "\e980";
}
.icon-hmd-01:before {
  content: "\e981";
}
.icon-rj-01:before {
  content: "\e982";
}
.icon-rj-02:before {
  content: "\e983";
}
.icon-rl-05:before {
  content: "\e984";
}
.icon-tj-02:before {
  content: "\e985";
}
.icon-tj-04:before {
  content: "\e986";
}
.icon-tj-03:before {
  content: "\e987";
}
.icon-jj-01:before {
  content: "\e988";
}
.icon-yh-02:before {
  content: "\e989";
}
.icon-yh-01:before {
  content: "\e98a";
}
.icon-bj-01:before {
  content: "\e96e";
}
.icon-bj-02:before {
  content: "\e96f";
}
.icon-bj-04:before {
  content: "\e970";
}
.icon-bj-03:before {
  content: "\e971";
}
.icon-sq-01:before {
  content: "\e972";
}
.icon-sq-02:before {
  content: "\e973";
}
.icon-sq-03:before {
  content: "\e974";
}
.icon-sq-04:before {
  content: "\e975";
}
.icon-rz-01:before {
  content: "\e976";
}
.icon-j-01:before {
  content: "\e948";
}
.icon-j-02:before {
  content: "\e960";
}
.icon-ks-01:before {
  content: "\e967";
}
.icon-ks-02:before {
  content: "\e968";
}
.icon-ks-03:before {
  content: "\e969";
}
.icon-sx-01:before {
  content: "\e96a";
}
.icon-zt-01:before {
  content: "\e96b";
}
.icon-zt-02:before {
  content: "\e96c";
}
.icon-add:before {
  content: "\e96d";
}
.icon-gx-01:before {
  content: "\e941";
}
.icon-yw-01:before {
  content: "\e942";
}
.icon-s-01:before {
  content: "\e943";
}
.icon-m-01:before {
  content: "\e944";
}
.icon-dsj-01:before {
  content: "\e945";
}
.icon-d-01:before {
  content: "\e946";
}
.icon-d-02:before {
  content: "\e947";
}
.icon-gx-02:before {
  content: "\e949";
}
.icon-gx-p:before {
  content: "\e94a";
}
.icon-s-03:before {
  content: "\e94b";
}
.icon-m-03:before {
  content: "\e94c";
}
.icon-k-01:before {
  content: "\e94d";
}
.icon-m-05:before {
  content: "\e94e";
}
.icon-m-04:before {
  content: "\e94f";
}
.icon-m-06:before {
  content: "\e950";
}
.icon-m-07:before {
  content: "\e951";
}
.icon-m-09:before {
  content: "\e952";
}
.icon-m-08:before {
  content: "\e953";
}
.icon-m-10:before {
  content: "\e954";
}
.icon-rc:before {
  content: "\e955";
}
.icon-sh-05:before {
  content: "\e956";
}
.icon-sh-01:before {
  content: "\e957";
}
.icon-m-11:before {
  content: "\e958";
}
.icon-sj-dc:before {
  content: "\e959";
}
.icon-sj-mf:before {
  content: "\e95a";
}
.icon-sj-ss:before {
  content: "\e95b";
}
.icon-数据图表:before {
  content: "\e95c";
}
.icon-数据元:before {
  content: "\e95d";
}
.icon-sj-zx:before {
  content: "\e95e";
}
.icon-hz:before {
  content: "\e95f";
}
.icon-m-tg:before {
  content: "\e961";
}
.icon-tg-ow:before {
  content: "\e962";
}
.icon-zn-01:before {
  content: "\e963";
}
.icon-visit-01:before {
  content: "\e965";
}
.icon-visit:before {
  content: "\e966";
}
.icon-xt-01:before {
  content: "\e926";
}
.icon-yb-01:before {
  content: "\e92a";
}
.icon-sz:before {
  content: "\e91e";
}
.icon-p-1:before {
  content: "\e924";
}
.icon-p-2:before {
  content: "\e925";
}
.icon-jd-1:before {
  content: "\e927";
}
.icon-jd-02:before {
  content: "\e928";
}
.icon-jy-01:before {
  content: "\e929";
}
.icon-jy-02:before {
  content: "\e92b";
}
.icon-jy-03:before {
  content: "\e92c";
}
.icon-jd-04:before {
  content: "\e92d";
}
.icon-jd-03:before {
  content: "\e92e";
}
.icon-jd-05:before {
  content: "\e92f";
}
.icon-pm-01:before {
  content: "\e930";
}
.icon-jd-01:before {
  content: "\e931";
}
.icon-jy-04:before {
  content: "\e932";
}
.icon-sj-02:before {
  content: "\e933";
}
.icon-sj-03:before {
  content: "\e934";
}
.icon-sj-04:before {
  content: "\e935";
}
.icon-sj-05:before {
  content: "\e936";
}
.icon-sj-07:before {
  content: "\e937";
}
.icon-sj-06:before {
  content: "\e938";
}
.icon-cp-01:before {
  content: "\e939";
}
.icon-jr:before {
  content: "\e902";
}
.icon-zh:before {
  content: "\e923";
}
.icon-dwq:before {
  content: "\e919";
}
.icon-sj-01:before {
  content: "\e91a";
}
.icon-fx:before {
  content: "\e91b";
}
.icon-duibi:before {
  content: "\e91c";
}
.icon-shm:before {
  content: "\e91d";
}
.icon-shuju:before {
  content: "\e91f";
}
.icon-h-03:before {
  content: "\e920";
}
.icon-h-01:before {
  content: "\e921";
}
.icon-h-02:before {
  content: "\e922";
}
.icon-tj-01:before {
  content: "\e93a";
}
.icon-campaign:before {
  content: "\e93b";
}
.icon-icon-source:before {
  content: "\e93c";
}
.icon-rl-01:before {
  content: "\e93d";
}
.icon-plan:before {
  content: "\e93e";
}
.icon-merge:before {
  content: "\e93f";
}
.icon-pull:before {
  content: "\e940";
}
.icon-browser:before {
  content: "\e900";
}
.icon-bt:before {
  content: "\e901";
}
.icon-dsj:before {
  content: "\e903";
}
.icon-gp:before {
  content: "\e904";
}
.icon-line:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-jf:before {
  content: "\e907";
}
.icon-jg:before {
  content: "\e908";
}
.icon-jk:before {
  content: "\e909";
}
.icon-personal:before {
  content: "\e90a";
}
.icon-pps:before {
  content: "\e90b";
}
.icon-pz:before {
  content: "\e90c";
}
.icon-qa:before {
  content: "\e90d";
}
.icon-set:before {
  content: "\e90e";
}
.icon-sj:before {
  content: "\e90f";
}
.icon-sq:before {
  content: "\e910";
}
.icon-ss:before {
  content: "\e911";
}
.icon-trade-assurance:before {
  content: "\e912";
}
.icon-ts:before {
  content: "\e913";
}
.icon-VPN:before {
  content: "\e914";
}
.icon-xb-b:before {
  content: "\e915";
}
.icon-xb:before {
  content: "\e916";
}
.icon-xla:before {
  content: "\e917";
}
.icon-xx:before {
  content: "\e918";
}
.icon-database:before {
  content: "\e964";
}
.icon-cog:before {
  content: "\e994";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-tongue:before {
  content: "\e9e3";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-angry:before {
  content: "\e9ed";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-shocked:before {
  content: "\e9f1";
}
.icon-baffled:before {
  content: "\e9f3";
}
.icon-neutral:before {
  content: "\e9f7";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-sleepy:before {
  content: "\e9fd";
}
.icon-frustrated:before {
  content: "\e9ff";
}
.icon-crying:before {
  content: "\ea01";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-scissors:before {
  content: "\ea5a";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}

